{# Article Block - Call To Action #}

<section class="find-out-more" data-uk-scrollspy="cls: fadeInRight animated slow; repeat: false;">

    <div class="container container--small">

        <div class="find-out-more__wrap">

        	{# Heading #}

        	{% if block.heading|length %}

        		<h3>{{ block.heading }}</h3>

        	{% endif %}

        	{# Copy #}

            {{ block.copy }}

            {# Button / Link #}

            {% if block.button|length %}

            	<div class="find-out-more__link-wrap">

            		{% set attributes = {
						class: 'uk-button uk-button-primary uk-button-small',
                        id: 'track--button__blogCTA--' ~ entry.slug
                    } %}

	                {{ block.button.link(attributes) }}

	            </div>

            {% endif %}

        </div>

    </div>

</section>