{# Article Block - Images #}

{% if block.imgs|length %}

	{% set assets = block.imgs.all() %}

	{% set assetsHTML %}

		{% for asset in assets %}
					
			<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}"{% if block.imgs|length == 1 %} class="uk-width-1-1"{% endif %}>
			
		{% endfor %}

	{% endset %}

	{% set html %}

		{{ assetsHTML }}

	{% endset %}

	{% if block.imgs|length > 1 %}

		{% set html %}

			<div class="article__image-masonry uk-child-width-1-1@s uk-child-width-1-2@m" uk-grid="parallax: 150">

				{{ assetsHTML }}

			</div>

		{% endset %}

	{% endif %}

	<div class="container container--small">

		<div class="article__wrap">

			{{ html }}

		</div>

	</div>

{% endif %}