{# Article Block - Video #}

{% if block.videoID|length %}

	<section class="watch-video" data-uk-scrollspy="cls: fadeInLeft animated slow; repeat: false;">

	    <div class="container container--small">

	        <div class="watch-video__wrap">

	            {# <p>Watch the video</p> #}

	            <iframe src="https://www.youtube.com/embed/{{ block.videoID }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	        </div>

	    </div>

	</section>

{% endif %}