// ==========================================================

// WE LOVE 9AM FRAMEWORK URL: https://welove9am.com/
// Version: 1.1
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* 1600 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

.uk-button {
	
}


// 6. LAYOUT 				==============================

/* Header */

header {

	
}

/* Content Blocks */

/* Banner */

.section--banner {

	/* Service Banner */

	&.section--service--banner {

		.block--banner--heading {
			left: 0;
		}
	}
}

/* Section: Testimonials */

.section--testimonials {

	.container--testimonial {
		margin-left: 372px;

		.block--testimonial--img {
			left: -226px;
			top: 70px;
			width: 760px;
		}

		.block--testimonial--copy {
			width: 630px;
			padding: 190px 0 0;

			.inner--testimonial--copy {
				padding: 0 0 150px;

				.testimonial--quote {

					p {
						.font-size(24);
					}
				}
			}
		}
	}
}

/* Section: News */

.section--news {
	padding-bottom: 110px;

	.block--news--heading {

		.inner--news--heading {
			padding: 0;
		}
	}

	.container--news--slider {
		max-width: 1600px;
		margin: 0 auto;
	}
	
	.uk-slider-container {
		
	}

	.block--news-item {

		.link--news-item {

			.cover--news {

				.block--news--intro {

					p {
						.font-size(18);
					}
				}
			}
		}
	}
}

/* Section: Contact & Map */

.section--contact {

	.container--contact {
		max-width: 1200px;
	}

	.block--contact--map {

		.inner--contact--map {

			img {

				&.svg-map-circle {
					right: 189px;
				}
			}
		}
	}
}

/* Section - Service Copy */

.section--service--copy {

	.block--service--copy {

		.inner--service--copy {
			padding-left: 200px;
		}

		&:before {
			left: 0;
		}

		&:after {
			left: 0;
		}
	}
}

/* Section - News Content */

.section--news--content {
	padding: 95px 15px;
}

/* Section - Copy & Image */

.section--copy-image {

	.block--copy-image--img {

		.inner--copy-image--img {
			width: 890px;
		}
	}
}

/* Footer */

footer {

	
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================