// ==========================================================

// WE LOVE 9AM FRAMEWORK URL: https://welove9am.com/
// Version: 1.1
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* 600 =================================================== */

// 1. ROOT 					==============================



// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================


// 6. LAYOUT 				==============================

/* Header */

.header {
	padding: 24px 20px;

	.uk-container {
		padding-left: 0;
		padding-right: 0;
	}

	.header--block--logo {

		.header--inner--logo {
			padding-top: 0;
		}
	}

	.header--block--info {

		.header--inner--info {
			height: 65px;
			.flex--vertical-align;
		}

		.header--phone {
			position: relative;
			bottom: auto;
			right: auto;
			margin-right: 20px;

			img {
				max-width: 44px;
			}
		}
	}	
}

/* Menus */

.block--mobile-nav {

	.inner--mobile-nav {
		padding: 100px 30px 40px 50px;
	}

	.uk-offcanvas-bar {
		width: 66%;
		padding: 100px 30px 40px 50px;
		right: -66%;

		.icon--close {
			
		}
	}

	.uk-nav {

		li {
			margin: 20px 0;

			.nav--mobile--children {

				ul {
					padding: 20% 30px 40px 50px;

					li {
						margin: 20px;

						&.menu-heading {
							margin-bottom: 25px;
						}
					}
				}
			}
		}
	}
}

body {

	&.uk-offcanvas-flip {

		&.uk-offcanvas-container-animation {
			left: -66%;
		}
	}

	&.uk-offcanvas-container {

		.header {

			.header--block--info {

				.header--phone {
					position: absolute;
					bottom: -94px;
					right: 0;
					margin-right: 0;

					img {
						max-width: 51px;
						height: auto;
					}
				}
			}
		}
	}
}

/* Content Blocks */

/* Banner */

.section--banner {
	background: transparent;

	.container--banner {
		padding: 60px 0 0 0;
		background: @bannergrey;
		margin-bottom: 20px;
		position: relative;
	}

	.block--banner--heading {
		position: absolute;
		left: 20px;
		top: 60px;
		width: 50%;
		z-index: 2;

		.inner--banner--heading {
			padding-left: 20px;

			h1, h2 {
				.font-size(40);
				line-height: 1.15em;
			}

			h3, h4, h5, h6 {
				.font-size(32);
				line-height: 1.15em;
			}

			p {
				.font-size(20);
			}
		}
	}

	.block--banner--button {
		margin-top: 30px;

		.inner--banner--button {
			padding-left: 20px;

			.uk-button {
				line-height: 49px;
				.font-size(15);
			}
		}
	}

	.block--banner--img {
		right: 0;
		position: relative;
		z-index: 1;
		width: 120%;

		.inner--banner--img {
			text-align: right;
		}
	}

	.block--banner--copy {
		position: absolute;
		bottom: -20px;
		right: 0;
		width: 80%;
		z-index: 2;
		max-width: 660px;

		.inner--banner--copy {

			h1, h2, h3, h4, h5, h6, p {

			}

			ul, ol {
				display: none;
			}
		}
	}

	/* Service Banner */

	&.section--service--banner {

		.container--banner {
			padding: 0;
		}

		.uk-container {
			padding: 0;
		}

		.block--banner--heading {
			padding-top: 60px;

			.inner--banner--heading {
				padding-left: 30px;
			}
		}

		.block--banner--img {
			width: 100%;
		}

		.block--banner--button {

			.inner--banner--button {
				padding-left: 30px;
			}
		}
	}

	/* Thin Banner */

	&.section--banner-thin {

		.container--banner {
			padding: 0;

			&.no-img {
				padding: 85px 0;

				.block--banner--heading {
					position: relative;
					top: auto;
					left: auto;
					padding-top: 0;
					width: 100%;
					.translate(0,0);

					.inner--banner--heading {
						padding-right: 0;
					}
				}
			}
		}

		.block--banner--img {
			right: 0;
		}
	}
}

body {

	&.body--style--bg-dark-green {

		.section--banner, .section--banner-thin {
			
			.container--banner {
				background: @darkgreen;
			}
		}
	}
}

/* Heading */

.block--heading {

	.inner--heading {
		margin: 0 auto;
		max-width: 400px;
		padding: 0;

		h1, h2, h3, h4, h5, h6 {
			.font-size(36);
		}
	}
}

/* Section: Solutions */

.section--solutions {
	background: transparent;
	padding: 0;

	.uk-container {
		padding-left: 25px;
		padding-right: 25px;
	}

	.container--solutions--heading {
		padding: 40px 0;
	}

	.block--solutions--heading {

		.inner--solutions--heading {
			
		}
	}

	.container--solutions--cols {
		padding: 40px 0 50px;
		background: @sitelightgrey;
	}

	.grid--solutions--cols {
		max-width: 900px;
		margin: 0 auto;
	}

	.block--solutions--col {

		.inner--solutions--col {
			max-width: 85%;
			margin: 0 auto;

			.column-heading {
				padding-bottom: 15px;
				text-align: left;

				h3 {
					.font-size(24);
				}

				h4 {
					.font-size(16);
					margin-bottom: 0;
				}
			}
		}
	}
}

/* Section: Points */

.section--points {
	padding: 50px 0;

	.container--points--heading {
		max-width: 460px;
		padding-bottom: 40px;
	}

	.container--points--cols {
		max-width: 900px;
	}

	.block--points--col {

		.inner--points--col {
			padding-bottom: 40px;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 150px;
				height: 2px;
				background: @lightgreen;
			}

			.point-heading {
				padding-left: 0;
				padding-right: 0;
				min-height: auto;

				h3 {
					.font-size(18);
					width: 100%;
				}

				img {
					max-width: 63px;
					height: 75px;
					position: relative;
					display: block;
					top: auto;
					left: auto;
					right: auto;
					.translate(0, 0);
				}
			}

			.point-copy {
				padding: 0;

				p {
					.font-size(16);
				}
				
			}
		}

		&.odd {

			.inner--points--col {

				.point-heading {
					margin-left: 0;

					img {
						left: auto;
					}
				}

				.point-copy {
					text-align: left;
				}
			}
		}

		&.even {

			.inner--points--col {

				.point-heading {
					padding-left: 0;
					padding-right: 0;
					text-align: left;

					img {
						right: auto;
					}
				}
			}
		}
	}
}

/* Section: Testimonials */

.section--testimonials {
	margin: 60px 0;

	.container--testimonial {
		margin-left: 120px;
		position: relative;

		/* Clearfix */

		&::before {
		    content: "";
		    display: table-cell;
		}

		&::after {
		    content: "";
		    display: table;
		    clear: both;
		}

		.block--testimonial--img {
			position: absolute;
			left: -60px;
			top: 50px;
			width: 42.5%;

			.inner--testimonial--img {
				margin-left: 0;
				padding: 0;

				img {
					max-width: 480px;
				}
			}
		}

		.block--testimonial--copy {
			width: 65%;
			float: right;
			padding: 60px 0 0;

			.inner--testimonial--copy {
				padding: 0 0 40px;
				background-position: 0 0;
				background-size: 14px auto;

				.testimonial--quote {
					padding: 2px 35px 0 28px;

					p {
						.font-size(16);
						line-height: 2.25em;
					}
				}

				.testimonial--author {
					padding: 0 35px 0 28px;

					p {
						line-height: 2.25em;
					}
				}

				.testimonial--nav {
					padding: 0 35px 0 28px;

					a {
						line-height: 100px;
						.font-size(18);

						img {
							max-width: 100px;
							margin-left: 20px;
						}
					}
				}
			}
		}
	}
}

/* Section: Values */

.section--values {
	padding: 0;
	margin: 60px 0;

	.container--values--heading {
		background: @white;
		padding: 45px 0;
	}

	.block--values--heading {

		.inner--values--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(44);
			}
		}
	}

	.container--values--cols {
		background: @sitelightgrey;
		padding: 45px 0;
	}

	.block--values--col {

		.inner--values--col {
			padding: 20px;

			img {
				
			}

			h3 {
				.font-size(21);
			}

			.value--img {
				margin-bottom: 20px;
			}

			.value--heading {
				
			}
		}
	}
}

/* Section: News */

.section--news {

	.block--news--heading {

		.inner--news--heading {
			padding: 0 10px;
		}
	}
	
	.uk-slider-container {
		padding: 0 39px;
	}

	.block--news-item {

		.link--news-item {

			.cover--news {

				.block--news--intro {
					padding: 20px 25px;

					p {
						.font-size(16);
					}
				}
			}
		}
	}

	.block--news--slider-contolrs {
		padding: 30px 0 35px;
	}
}

/* Section: Contact & Map */

.section--contact {
	padding: 0 40px;

	.container--contact {
		max-width: 600px;
		position: relative;
		padding: 60px 0 120px;
		.box-sizing();
	}

	.uk-container {
		padding: 0;
	}

	.block--contact--heading {
		margin-bottom: 40px;

		.inner--contact--heading {

			h2 {
				.font-size(38);
				line-height: 1.35em;
			}
		}
	}

	.block--contact--address {
		margin-bottom: 40px;

		.inner--contact--address {

			h1, h2, h3, h4, h5, h6, p {
				.font-size(19);
				margin: 0 0 20px;
			}
		}
	}

	.block--contact--phone {

		.inner--contact--phone {

			p {
				.font-size(27);
				line-height: 1.5em;
			}
		}
	}

	.block--contact--map {
		position: absolute;
		top: 30px;
		right: 0;
		width: 50%;

		.inner--contact--map {
			text-align: right;

			img {

				&.svg-map {
					max-width: 260px;
					height: auto;
				}

				&.svg-map-circle {
					position: absolute;
					bottom: -56px;
					right: 60px;
					max-width: 180px;
					height: auto;
				}
			}
		}
	}
}

/* Section: Advice Form */

.section--advice-forms {
	padding: 50px 20px;

	.block--advice-forms--heading {
		margin-bottom: 25px;
	}

	.advice-forms--nav {
		max-width: 890px;
		margin: 0 auto 42px;

		.uk-subnav {

			li {

				a {
					min-width: 240px;
					line-height: 46px;
					.font-size(17);
					padding: 0;
				}
			}
		}
	}

	.advice-forms--content {
		max-width: 775px;
		margin: 0 auto;
	}
}

/* Section - Service Intro */

.section--service--intro {
	padding: 30px 40px 40px;

	.block--service--intro {

		.inner--service--intro {

			h1, h2, h3, h4, h5, h6, p {
				.font-size(24);
				line-height: 1.75em;
			}
		}
	}
}

/* Section - Service Copy */

.section--service--copy {
	padding: 0 40px;

	.block--service--copy {
		padding: 40px 0;

		.inner--service--copy {

			h1, h2, h3, h4, h5, h6 {
				margin-bottom: 30px;
			}

			p {
				margin-bottom: 30px;

				&:first-child {
					.font-size(18);
					line-height: 42px;
					margin-bottom: 40px;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			ul, ol {
				margin-bottom: 30px;
			}
		}
	}
}

/* Section - News Banner */

.section--news--banner {
	padding: 30px 40px 50px;

	.block--news--banner--heading {
		.flex--vertical-align;

		.inner--news--banner--heading {
			padding: 0;

			h1 {
				.font-size(34);
			}
		}
	}

	.block--news--banner--img {

		.inner--news--banner--img {
			text-align: center;

			img {
				max-width: 375px;
			}
		}
	}
}

/* Section - Stats */

.section--stats {
	padding: 40px 45px;

	.block--stats--stat {

		.inner--stats--stat {

			h1, h2, h3, h4, h5, h6 {

			}

			p {

				
			}
		}
	}
}

/* Section - Team */

.section--team {
	padding: 45px 40px;
	margin-top: 40px;

	.uk-container {
		max-width: 980px;
	}

	.block--team--heading {
		margin-bottom: 45px;
	}

	.block--team--member {

		.inner--team--member {
			max-width: 275px;
		}
	}
}

/* Section - News & Events */

.section--news-events {
	padding: 40px 45px;

	.block--news-events--list {

		.inner--news-events--list {
			padding-top: 89px;

			.block--article--list-item {
				margin-left: 20px;
			}

			.grid--article--list-item {

				.article--list-item--img {

					.inner--list-item--img {

						a {

							img {
								max-width: 275px;
							}
						}
					}
				}
			}
		}
	}
}

/* Footer */

.footer {

	/* Top Footer */

	.block--footer-top {
		padding: 40px 0;

		.block--footer-top--left {

			.inner--footer-top--left {


			}
		}

		.block--footer-top--center {

			.inner--footer-top--center {


			}
		}

		.block--footer-top--right {

			.inner--footer-top--right {
				text-align: center;

				.social-list {
					margin: 0;
					padding: 0;
					list-style: none;

					li {
						margin: 0 10px;
						padding: 0;
						display: inline-block;

						a {
							.opacity(1);
							.transition(opacity 0.3s ease);
							display: block;

							img {
								display: block;
							}

							&:hover {
								.opacity(0.9);
							}
						}
					}
				}
			}
		}
	}

	/* Bottom Footer */

	.block--footer-bottom {

		.block--footer-bottom--left {

			.inner--footer-bottom--left {

				ul {

					li {
						margin: 0 10px 0 0;
						padding: 0 17px 0 0;

						&:first-child {
							margin-left: 10px;
						}
					}
				}
			}
		}

		.block--footer-bottom--right {

			.inner--footer-bottom--right {
				text-align: center;

				p {

				}
			}
		}
	}
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================