// ==========================================================

// WE LOVE 9AM FRAMEWORK URL: https://welove9am.com/
// Version: 1.1
// Based on 320 and Up by Andy Clarke URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
// UIKIT by YOOtheme URL: http://getuikit.com/ & http://yootheme.com/
// Licensed under MIT license. http://opensource.org/licenses/MIT

// ==========================================================

/* 960 =================================================== */

// 1. ROOT 					==============================

// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================

.form-nav-after() {
	bottom: -15px;
	border-width: 15px 20px 0 20px;
}

// 6. LAYOUT 				==============================

/* Header */

.header {
	position: relative;
	z-index: 99;

	.header--block--logo {

		.header--inner--logo {
			padding-left: 10px;
		}
	}

	.header--block--info {

		.header--phone {
			margin-right: 40px;
		}

		.header--free-advice {
			margin-right: 40px;
		}
	}
}

/* Menus */

.block--mobile-nav {

	.inner--mobile-nav {
		padding: 100px 30px 40px 50px;
	}

	.uk-offcanvas-bar {
		width: 60%;
		padding: 100px 30px 40px 50px;
		right: -60%;

		.icon--close {
			
		}
	}

	.uk-nav {

		li {

			.nav--mobile--children {

				ul {
					padding: 20% 30px 40px 50px;
				}
			}
		}
	}
}

body {

	&.uk-offcanvas-flip {

		&.uk-offcanvas-container-animation {
			left: -60%;
		}
	}
}

/* Content Blocks */

/* Banner */

.section--banner {

	.container--banner {
		padding: 0;
		margin-bottom: 20px;
	}

	.block--banner--heading {
		left: 80px;
		top: 38%;
		.translate(0, -50%);

		.inner--banner--heading {
			padding-left: 0;

			h1, h2 {
				.font-size(44);
			}

			h3, h4, h5, h6 {
				.font-size(34);
			}

			p {
				.font-size(22);
			}
		}
	}

	.block--banner--button {
		margin-top: 44px;

		.inner--banner--button {
			padding-left: 0;
		}
	}

	.block--banner--img {
		right: auto;
		width: 100%;
		margin-bottom: -20px;
	}

	.block--banner--copy {
		position: relative;
		bottom: -20px;
		right: auto;
		width: 100%;
		max-width: none;
		background: transparent;

		.inner--banner--copy {
			background: @darkgreen;
			max-width: 660px;
			.box-sizing();
			padding: 55px 45px;

			h1, h2, h3, h4, h5, h6, p {
				.font-size(26);
				font-weight: 400;
			}
		}
	}

	/* Service Banner */

	&.section--service--banner {

		.container--banner {
			padding: 0;
			margin-bottom: 0;
		}

		.block--banner--heading {
			padding-top: 0;

			.inner--banner--heading {
				max-width: none;
				padding-left: 0;
			}
		}

		.block--banner--img {
			width: 100%;
		}

		.block--banner--button {
			margin-top: 44px;

			.inner--banner--button {
				padding-left: 0;
			}
		}
	}

	/* Thin Banner */

	&.section--banner-thin {
		margin-bottom: 0;

		.container--banner {
			margin-bottom: 0;

			&.no-img {
				padding: 80px 0 100px;
			}
		}

		.block--banner--img {
			right: auto;
			float: right;
			width: 50%;

			.inner--banner--img {
				text-align: center;
			}

			&.portrait {
				right: auto;
				float: right;
				width: 50%;

				.inner--banner--img {
					text-align: center;

					img {
						max-height: 360px;
					}
				}
			}
		}
	}
}

/* Heading */

.block--heading {

	.inner--heading {
		max-width: 500px;

		h1, h2, h3, h4, h5, h6 {
			.font-size(40);
		}
	}
}

/* Section: Solutions */

.section--solutions {

	.uk-container {
		padding-left: 25px;
		padding-right: 25px;
	}

	.container--solutions--heading {
		padding: 60px 0;
	}

	.block--solutions--heading {

		.inner--solutions--heading {
			
		}
	}

	.container--solutions--cols {
		padding: 50px 0 75px;
	}

	.grid--solutions--cols {
		max-width: 1000px;
	}

	.block--solutions--col {

		.inner--solutions--col {
			max-width: 85%;

			.column-heading {
				padding-bottom: 15px;
				text-align: left;

				h3 {
					.font-size(23);
				}

				h4 {
					.font-size(15);
				}
			}

			.column-copy {
				margin-bottom: 60px;

				ul {

					li {
						padding: 22px 0 22px 31px;
						.font-size(14);
					}
				}
			}

			.column-button {
				
			}
		}
	}
}

/* Section: Points */

.section--points {
	padding: 50px 0 75px;

	.container--points--heading {
		max-width: 520px;
		padding-bottom: 50px;
	}

	.container--points--cols {
		
	}

	.block--points--col {

		.inner--points--col {
			max-width: 270px;
			.box-sizing();

			.point-heading {

				img {
					max-width: 80px;
					height: 75px;
				}
			}
		}
	}
}

/* Section: Testimonials */

.section--testimonials {
	margin: 80px 0;

	.container--testimonial {
		margin-left: 25%;

		.block--testimonial--img {
			left: -19%;
			top: 70px;
			width: 63%;

			.inner--testimonial--img {

				img {
					max-width: 760px;
				}
			}
		}

		.block--testimonial--copy {
			width: 52%;
			padding: 125px 0 0;

			.inner--testimonial--copy {
				padding: 0 0 100px;

				.testimonial--quote {
					padding: 2px 35px 0 28px;

					p {
						.font-size(19);
						line-height: 39px;
					}
				}

				.testimonial--author {
					padding: 0 35px 0 28px;

					p {
						line-height: 39px;
					}
				}

				.testimonial--nav {
					padding: 0 35px 0 28px;
					margin-top: 100px;

					a {
						line-height: 80px;
						.font-size(20);

						img {
							max-width: 80px;
							margin-left: 24px;
						}
					}
				}
			}
		}
	}
}

/* Section: Values */

.section--values {
	padding: 0;
	margin: 80px 0;

	.container--values--heading {
		background: @sitelightgrey;
		padding: 45px 0 20px;
		max-width: 1200px;
		margin: 0 auto;
		.box-sizing();
	}

	.block--values--heading {

		.inner--values--heading {

			h1, h2, h3, h4, h5, h6 {
				.font-size(44);
			}
		}
	}

	.container--values--cols {
		background: @sitelightgrey;
		padding: 20px 0 60px;
		max-width: 1200px;
		margin: 0 auto;
		.box-sizing();

		.uk-container {
			max-width: 900px;
		}
	}

	.block--values--col {

		.inner--values--col {
			padding: 0;

			img {
				height: 36px;
				width: auto;
			}

			h3 {
				.font-size(16);
			}

			.value--img {
				margin-bottom: 25px;
				text-align: left;
			}

			.value--heading {
				text-align: left;
			}
		}
	}
}

/* Section: News */

.section--news {

	.block--news--heading {
		margin-bottom: 60px;

		.inner--news--heading {
			padding: 0 65px 0 135px;
			margin-bottom: 0;
		}
	}
	
	.uk-slider-container {
		
	}

	.block--news-item {

		.link--news-item {

			.cover--news {

				.block--news--intro {
					padding: 20px 25px;

					p {
						.font-size(16);
					}
				}
			}
		}
	}

	.block--news--slider-contolrs {
		padding: 30px 0 35px;
	}
}

/* Section: Contact & Map */

.section--contact {
	padding: 0 40px;

	.container--contact {
		max-width: 720px;
		padding: 85px 0 270px;
	}

	.block--contact--heading {
		margin-bottom: 45px;

		.inner--contact--heading {

			h2 {
				.font-size(44);
				line-height: 50px;
			}
		}
	}

	.uk-grid--contact--address {
		
	}

	.block--contact--address {
		margin-bottom: 45px;

		.inner--contact--address {

			h1, h2, h3, h4, h5, h6, p {
				.font-size(19);
				margin: 0 0 20px;
			}
		}
	}

	.block--contact--phone {

		.inner--contact--phone {

			p {
				.font-size(32);
				line-height: 35px;
			}
		}
	}

	.block--contact--map {
		pointer-events: none;
		width: 100%;

		.inner--contact--map {

			img {

				&.svg-map {
					max-width: 348px;
					width: 100%;
				}

				&.svg-map-circle {
					max-width: 257px;
					width: 100%;
					bottom: -85px;
					right: 66px;
				}
			}
		}
	}
}

/* Section: Advice Form */

.section--advice-forms {

	.advice-forms--nav {

		.uk-subnav {

			li {

				a {
					line-height: 58px;
					.font-size(19);

					&:hover {

						&:after {
							.form-nav-after;
						}
					}
				}

				&.uk-active {

					a {

						&:after {
							.form-nav-after;
						}
					}
				}
			}
		}
	}
}

/* Section - Service Intro */

.section--service--intro {
	padding: 40px 0 60px;

	.block--service--intro {

		.inner--service--intro {
			max-width: 85%;
			margin: 0 auto;

			h1, h2, h3, h4, h5, h6, p {
				.font-size(30);
			}
		}
	}
}

/* Section - Service Copy */

.section--service--copy {
	padding: 0 0 40px;

	.block--service--copy {
		padding: 60px 0 60px;

		.inner--service--copy {
			max-width: 85%;
			margin: 0 auto;
			padding-left: 10%;
		}

		&:before {
			left: 5%;
		}

		&:after {
			left: 5%;
		}
	}
}

/* Section - News Banner */

.section--news--banner {
	padding: 45px 40px 55px;

	.block--news--banner--heading {

		.inner--news--banner--heading {
			padding: 0;
			max-width: 480px;

			h1 {
				.font-size(44);
				line-height: 57px;
				margin-bottom: 40px;
			}
		}
	}
}

/* Section - News Content */

.section--news--content {
	padding: 60px 40px;

	.block--news--content--copy {

		.inner--news--content--copy {

			h1, h2, h3, h4, h5, h6 {
				margin: 0 0 35px;
			}

			h1, h2 {
				.font-size(34);
			}

			h3 {
				.font-size(28);
			}

			h4 {
				.font-size(24);
			}

			h5, h6 {
				.font-size(20);
			}
		}
	}
}

/* Section - Copy & Image */

.section--copy-image {
	padding: 65px 0;
}

/* Section - Stats */

.section--stats {
	padding: 40px 45px;

	.uk-container {
		max-width: 980px;
	}
}

/* Section - Team */

.section--team {
	padding: 60px 45px;

	.block--team--heading {
		margin-bottom: 60px;
	}
}

/* Section - News & Events */

.section--news-events {
	padding: 45px;

	.block--news-events--list {

		.inner--news-events--list {
			padding-top: 87px;

			.block--article--list-item {
				margin-left: 0;
				max-width: 680px;
			}
		}
	}
}

/* Sidebar */

body {

	&.temp--default {

		.block--sidebar {

			.inner--sidebar {

				.block--sidebar--nav {

					.inner--sidebar--nav {

						&:before {
							content: '';
							position: absolute;
							bottom: 0;
							left: 0;
							width: 90%;
							height: 2px;
							background: #d6d6d6;
							z-index: 1;
						}

						&:after {
							bottom: 0;
							z-index: 2;
						}
					}
				}
			}
		}
	}
}

/* Section FAQs */

.block--faqs--list {
	margin-bottom: 30px;

	.inner--faqs--list {
		padding-left: 20px;
		padding-top: 80px;
		max-width: 680px;

		.block--faq {

			.accordion--level-1 {

				li {

					.uk-accordion-title--level-1 {
						.font-size(23);
						line-height: 32px;
						padding: 23px 78px 23px 0;

						&:after {
							top: 14px;
							right: 18px;
							width: 50px;
							height: 50px;
							background: url('../img/icon-faq-arrow.svg') no-repeat;
							background-size: 50px auto;
						}
					}

					.block--faq--level-1 {
						padding-bottom: 18px;
					}

					.uk-accordion-content {
						margin-top: 15px;
					}
				}
			}

			.accordion--level-2 {

				li {
					padding: 13px 0 0 0;
					margin: 0 0 13px;

					.uk-accordion-title--level-2 {
						.font-size(18);
						padding: 0 70px 0 60px;
						line-height: 42px;

						&:after {
							top: 3px;
							right: 25px;
							width: 35px;
							height: 35px;
							background: url('../img/icon-faq-arrow-sm.svg') no-repeat;
							background-size: 35px auto;
						}
					}

					.uk-accordion-content {
						margin-top: 13px;
					}

					.block--faq--level-2 {
						padding: 25px 60px 13px 60px;

						p {
							.font-size(14);
							line-height: 26px;
						}
					}
				}
			}
		}
	}
}

/* Footer */

.footer {

	/* Top Footer */

	.block--footer-top {
		padding: 56px 20px 100px;

		.uk-container {
			padding: 0;
			margin: 0 20px;
			border-top: 1px solid @bannergrey;
		}

		.block--footer-top--left {

			.inner--footer-top--left {
				text-align: left;
				padding-left: 40px;
				padding-top: 60px;

				.footer-menu {
					margin: 0;

					li {

						a {
							margin: 0 0 40px;
						}

						ul {
							text-align: left;

							li {
								.font-size(16);
								margin: 0 0 20px;
							}
						}
					}
				}
			}
		}

		.block--footer-top--center {

			.inner--footer-top--center {


			}
		}

		.block--footer-top--right {

			.inner--footer-top--right {
				width: 100%;
				padding-top: 40px;
			}
		}
	}

	/* Bottom Footer */

	.block--footer-bottom {
		padding: 15px 0;

		.block--footer-bottom--left {

			.inner--footer-bottom--left {
				text-align: left;
				width: 100%;

				ul {

					li {
						.font-size(15);

						&:first-child {
							margin-left: 0;
							padding-left: 0
						}

						&:last-child {
							margin-right: 0;
							padding-right: 0
						}
					}
				}
			}
		}

		.block--footer-bottom--right {

			.inner--footer-bottom--right {
				text-align: right;
				width: 100%;

				p {
					.font-size(15);
				}
			}
		}
	}
}

// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================