@import "../../library/less/wipos/mixins.less";

@errorColour : #E51815;
@errorColour2 : #C22F26;
@green : #30b298;
@white : #fff;
@lightGrey : #dce0e2;
@font-sanserif : 'sofia-pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-serif : 'freightdispprolight', serif;

.hide-element {
	.opacity(0);
	visibility: hidden;
	display: none;
	.transition(all 0.3s);
}

.show-element {
	.opacity(1);
	visibility: visible;
	display: block;
	.transition(all 0.3s);
}

.style--color-inspiration {
	color: #ba97ae;
}

.style--color-feature-post {
	color: #fda034;
}

.style--color-latest-news {
	color: #a3bcb7;
}

/* Journey Forms */

.help-block {

	&.form-error {
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		bottom: -8px;
		color: @errorColour2;
	}
}

.request-form__input-wrap {

	input {
		margin-bottom: 20px;

		&.error {
			border-color: @errorColour2 !important;
			margin-bottom: 20px;
		}
	}
}

.form--button {
    .opacity(1);
    .transition(all 0.3s);
}

.hide--button {
    .opacity(0);
    .transition(all 0.3s);
}

/* Exclusive Pricing Form */

.block--form--pricing-row {
    position: relative;

    .help-block {

        &.form-error {
            right: auto;
            text-align: left;
            bottom: -20px;
            left: 30px;
            .font-size(12);
        }
    }
}

.album-list {
    margin-top: 40px;

    @media only screen and (min-width: 768px) {
        margin-top: 80px;
    }

    @media only screen and (min-width: 960px) {
        margin-top: 100px;
    }
}

/* Bedrooms */

.section--bedroom {
    padding: 40px 0;
    background: @lightGrey;
    position: relative;

    @media only screen and (min-width: 768px) {
        padding: 60px 0;
    }

    @media only screen and (min-width: 960px) {
        padding: 75px 0;
    }

    @media only screen and (min-width: 1200px) {
        padding: 100px 0;
    }

    .block--bedroom-filters {

        .wedding-filter {
            background: #ededed;

            &__filter-link {
                background-image: url('../img/bg-filter-bedroom.svg');
                color: #575858;

                &:hover, &.uk-active {
                    background-image: url('../img/bg-filter-bedroom-active.svg');
                    color: #575858;
                }
            }
        }
    }

    .block--img {
        padding: 0 20px 60px;
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
        }

        @media only screen and (min-width: 768px) {
            padding: 0 30px 70px;
        }

        @media only screen and (min-width: 960px) {
            padding: 0 40px 80px;
        }

        @media only screen and (min-width: 1200px) {
            padding: 0 50px 80px;
        }
    }

    .block--img-copy {

        .events-description__line {
            display: none;
        }

        .events-description__content-body {
            padding-left: 2px;


            h2 {
                color: #605f5f;
                .font-size(20);

                &::after {
                    background-color: #B6C9CE;
                }
            }

            h3 {
                color: #605f5f;
                .font-size(46);
                line-height: 1.2em;
                margin-bottom: 20px;
            }

            p {
                color: #605f5f;
            }

            @media only screen and (min-width: 640px) {
                
                h2 {
                    .font-size(24);
                }

                h3 {
                    .font-size(54);
                    margin-bottom: 30px;
                }
            }

            @media only screen and (min-width: 768px) {
                
            }

            @media only screen and (min-width: 960px) {
                
                h2 {
                    .font-size(26);
                }

                h3 {
                    .font-size(58);
                }
            }

            @media only screen and (min-width: 1200px) {
                
                h2 {
                    .font-size(28);
                }

                h3 {
                    .font-size(68);
                    line-height: 0.8em;
                    margin-bottom: 40px;
                }
            }
        }
    }

    .block--bedroom-gallery {
        padding: 20px 0;

        @media only screen and (min-width: 960px) {
            padding: 80px 0 30px;
        }

        .block--heading {

            h2 {
                .font-size(46);
                color: #605f5f;
                margin-bottom: 40px;
                font-family: @font-serif;
                font-weight: 400;

                &::after {
                    display: none;
                }

                @media only screen and (min-width: 640px) {
                    .font-size(54);
                }

                @media only screen and (min-width: 960px) {
                    .font-size(58);
                }

                @media only screen and (min-width: 1200px) {
                    .font-size(68);
                }
            }
        }

        .grid--bedroom-gallery {

            .block--gallery-col {
                padding: 2px;
            }

            &.small {

                .block--gallery-col {

                    .uk-cover-container {
                        height: 250px;
                    }
                }
            }

            &.large {

                .block--gallery-col {

                    .uk-cover-container {
                        height: 300px;
                    }
                }
            }
        }

        @media only screen and (min-width: 640px) {

            .grid--bedroom-gallery {

                &.small {

                    .block--gallery-col {

                        .uk-cover-container {
                            height: 300px;
                        }
                    }
                }

                &.large {

                    .block--gallery-col {

                        .uk-cover-container {
                            height: 350px;
                        }
                    }
                }
            }

        }
    }
}

.section--explore-rooms {
    padding: 30px 0;

    .block--heading {
        position: relative;
        text-align: center;

        h2 {
            .font-size(46);
            color: #605f5f;
            margin-bottom: 30px;
            font-family: @font-serif;
            font-weight: 400;

            &::after {
                display: none;
            }

            @media only screen and (min-width: 640px) {
                .font-size(54);
            }

            @media only screen and (min-width: 960px) {
                .font-size(58);
            }

            @media only screen and (min-width: 1200px) {
                .font-size(68);
            }
        }

        .launch--bedrooms {
            background: #57929D;
            .font-size(14);
            color: @white;
            line-height: 50px;
            min-width: 240px;
            text-align: center;
            border: none;
            text-transform: none;
            font-weight: 300;

            &:hover {
                background: lighten(#57929D, 10%);
            }
        }
    }

    .block--imgs {
        padding: 50px 20px 60px;
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    @media only screen and (min-width: 640px) {
        padding: 40px 0;

        .block--heading {

            h2 {
                .font-size(54);
            }

            .launch--bedrooms {
                .font-size(16);
                line-height: 64px;
                min-width: 240px;
            }
        }
    }

    @media only screen and (min-width: 768px) {
        padding: 50px 0 0;

        .block--imgs {
            padding: 40px 30px 70px;
        }
    }

    @media only screen and (min-width: 960px) {
        padding: 80px 0 0;

        .block--heading {
            text-align: left;

            h2 {
                .font-size(58);
            }

            .launch--bedrooms {
                position: absolute;
                right: 30px;
                top: 10px;
            }
        }

        .block--imgs {
            padding: 40px 40px 80px;
        }
    }

    @media only screen and (min-width: 1200px) {
        padding: 100px 0 0;

        .block--heading {

            h2 {
                .font-size(68);
            }

            .launch--bedrooms {
                right: 50px;
            }
        }

        .block--imgs {
            padding: 40px 50px 80px;
        }
    }

}

/* FAQs */

.section--faqs {
    background: @lightGrey;
    margin-top: 20px;

    .block--faqs {
        max-width: 1168px;
        padding: 40px 10px 70px;
        .box-sizing();

        .faqs--level-1 {

            .faq--level-1 {
                border-bottom: 1px solid @white;
                padding: 25px 0;
                margin: 0;
                position: relative;

                .faq--level-1--title {
                    .font-size(30);
                    line-height: 30px;
                    color: #606060;
                    font-family: @font-serif;
                    margin: 0;

                    &:hover {

                    }
                }

                .faq--level-1--content {
                    padding: 25px 25px 0 0;
                    border-top: 1px solid @white;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 25px;
                    right: 15px;
                    width: 30px;
                    height: 30px;
                    display: block;
                    background: url('../img/faq-arrow.svg') no-repeat 50% 50% #E3D0C0;
                    background-size: 8px auto;
                    pointer-events: none;
                }

                &.uk-open {

                    &::before {
                        .rotate(180deg);
                    }
                }

                &.alpha {

                    &::before {
                        background-color: #e3d0c0;
                    }
                }

                &.beta {

                    &::before {
                        background-color: #cad5de;
                    }
                }

                &.gamma {

                    &::before {
                        background-color: #d0cbd5;
                    }
                }

                &.delta {

                    &::before {
                        background-color: #d6d1cb;
                    }
                }

                &.epsilon {

                    &::before {
                        background-color: #c0cfd1;
                    }
                }

            }
        }

        .faqs--level-2 {

            li {
                position: relative;
                margin: 0;
                padding: 10px 0;

                .uk-accordion-title {
                    font-family: @font-serif;
                    color: #606060;
                    padding-left: 25px;
                    padding-right: 40px;
                    line-height: 36px;
                    .font-size(20);
                    position: relative;

                    span {
                        position: relative;
                        z-index: 2;
                    }

                    &::hover {
                        color: #65938d;
                    }
                }

                .uk-accordion-content {
                    padding-left: 25px;
                    padding-right: 40px;

                    p {
                        font-family: @font-sanserif;
                        color: #4e4f4f;
                        .font-size(14);
                        line-height: 1.75em;
                        margin: 0 0 25px;
                        font-weight: 300;

                        &::last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 13px;
                    right: 0;
                    width: 30px;
                    height: 30px;
                    display: block;
                    background: url('../img/faq-arrow.svg') no-repeat 50% 50% #CECECE;
                    background-size: 8px auto;
                    pointer-events: none;
                }

                &.uk-open {

                    .uk-accordion-title {
                        color: #65938d;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: calc(100% - 40px);
                            height: 100%;
                            display: block;
                            background: #f2f2f2;
                            pointer-events: none;
                            z-index: 1;
                        }
                    }

                    &::before {
                        .rotate(180deg);
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 480px) {
        margin-top: 45px;

        .block--faqs {
            padding: 40px 20px 70px;
        }
    }

    @media only screen and (min-width: 640px) {
        margin-top: 40px;

        .block--faqs {
            padding: 40px 30px 75px;

            .faqs--level-1 {

                .faq--level-1 {
                    padding: 30px 0;

                    .faq--level-1--title {
                        .font-size(40);
                        line-height: 40px;
                    }

                    .faq--level-1--content {
                        padding: 30px 30px 0 0;
                    }

                    &::before {
                        top: 30px;
                        right: 20px;
                        width: 40px;
                        height: 40px;
                        background-size: 12px auto;
                    }
                }
            }

            .faqs--level-2 {

                li {
                    padding: 20px 0;

                    .uk-accordion-title {
                        padding-left: 25px;
                        padding-right: 32px;
                        line-height: 40px;
                        .font-size(20);
                    }

                    .uk-accordion-content {
                        padding-left: 25px;
                        padding-right: 40px;

                        p {
                            .font-size(14);
                            margin: 0 0 30px;
                        }
                    }

                    &.uk-open {

                        .uk-accordion-title {

                            &::before {
                                width: calc(100% - 40px);
                            }
                        }
                    }

                    &::before {
                        top: 25px;
                        right: 0;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 768px) {
        margin-top: 40px;

        .block--faqs {
            padding: 40px 50px 75px;
        }
    }

    @media only screen and (min-width: 960px) {
        margin-top: 50px;

        .block--faqs {
            padding: 40px 80px 80px;

            .faqs--level-1 {

                .faq--level-1 {
                    padding: 40px 0;

                    .faq--level-1--title {
                        .font-size(46);
                        line-height: 50px;
                    }

                    .faq--level-1--content {
                        padding: 15px 85px 0 0;
                        margin-top: 40px;
                    }

                    &::before {
                        top: 40px;
                        right: 30px;
                        width: 50px;
                        height: 50px;
                        background-size: 13px auto;
                    }
                }
            }

            .faqs--level-2 {

                li {
                    padding: 18px 0;

                    .uk-accordion-title {
                        padding-left: 40px;
                        padding-right: 62px;
                        line-height: 50px;
                        .font-size(24);
                    }

                    .uk-accordion-content {
                        padding-left: 40px;
                        padding-right: 62px;

                        p {
                            .font-size(18);
                            margin: 0 0 30px;
                        }
                    }

                    &.uk-open {

                        .uk-accordion-title {

                            &::before {
                                width: calc(100% - 60px);
                            }
                        }
                    }

                    &::before {
                        top: 21px;
                        right: 0;
                        width: 45px;
                        height: 45px;
                        background-size: 10px auto;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 1200px) {
        margin-top: 60px;

        .block--faqs {
            padding: 40px 120px 100px;

            .faqs--level-1 {

                .faq--level-1 {
                    padding: 50px 0;

                    .faq--level-1--title {
                        .font-size(54);
                        line-height: 60px;
                    }

                    .faq--level-1--content {
                        padding: 25px 110px 0 0;
                        margin-top: 50px;
                    }

                    &::before {
                        top: 50px;
                        right: 30px;
                        width: 60px;
                        height: 60px;
                        background-size: 14px auto;
                    }
                }
            }
        }
    }
}

/* Useful Info */

.album-list {

    &.info--list {
        background: #e6e6e6;
        position: relative;

        .album-item__button {

            .uk-button {
                .transition(all 0.3s);

                &::before {
                    background-image: url(../img/smashed-grey.svg);
                    .transition(all 0.3s);
                    .opacity(1);
                }

                &:hover {
                    color: #575858;

                    &::before {
                        .opacity(0.6);
                    }
                }
            }
        }

        /*.album-list__decor {
            .translate(0, -100%);
        }

        &::before {
            content: url('../img/light-grey-top-01.svg');
            position: absolute;
            width: 100%;
            height: auto;
            left: 0;
            top: 0;
            .translate(0, -100%);
            display: block;
        }*/
    }
}

.info--heading {
    padding: 25px 0;

    .block--heading {

        h1 {
            color: #606060;
            .font-size(30);
            margin: 0;
            line-height: 1.15em;
            font-family: @font-serif;
        }
    }

    .block--img {
        padding: 25px 0 0;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.info--blocks {
    background: #b6c9ce;
    position: relative;
    padding: 30px 0;

    .grid--info-block {
        margin-bottom: 75px;

        .block--heading {
            margin-bottom: 20px;

            h2 {
                color: @white;
                .font-size(28);
                margin: 0;
                line-height: 1.25em;
                font-family: @font-serif;

                span {
                    color: #606060;
                }

                &::afeter {
                    display: none;
                }
            }

            h2::after {
                display: none;
            }
        }

        .block--img {

            img {

            }
        }

        .block--copy {
            padding: 25px;
            background: @white;
            position: relative;

            h3 {
                .font-size(16);
                margin: 0;
                line-height: 2em;
                font-family: @font-sanserif;
                font-weight: bold;
                color: #a6c3cc;
            }

            p {
                .font-size(16);
                margin: 0 0 25px;
                line-height: 2em;
                color: #727272;
            }
        }

        .block--button {
            position: absolute;
            left: 50%;
            bottom: 0;
            .translate(-50%, 50%);
            width: 100%;
            text-align: center;

            .uk-button {
                position: relative;
                z-index: 10;
                min-width: auto;
                padding: 15px 65px;
                transition: color 0.3s;
                letter-spacing: 1px;
                text-transform: none;
                color: #575858;
                border: 0;
                font-family: @font-serif;
                .font-size(20);
                line-height: 1.8;
                .transition(all 0.3s);

                &:before {
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    content: '';
                    transition: all 0.3s;
                    background-image: url(../img/smashed-grey.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    .transition(all 0.3s);
                    //.opacity(1);
                }

                &:hover {
                    background: transparent;

                    &:before {
                        //.opacity(0.6);
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 480px) {

    .info--heading {
        padding: 30px 0;

        .block--heading {

            h1 {
                .font-size(34);
            }
        }

        .block--img {
            padding: 30px 0 0;
        }
    }

    .info--blocks {
        padding: 40px 0;

        .grid--info-block {

            .block--heading {

                h2 {
                    .font-size(30);
                }
            }

            .block--copy {
                padding: 30px;

                h3 {
                    .font-size(16);
                }

                p {
                    .font-size(16);
                }
            }
        }
    }
}

@media only screen and (min-width: 640px) {

    .info--heading {
        padding: 30px 0 40px;

        .block--heading {

            h1 {
                .font-size(38);
            }
        }

        .block--img {
            padding: 40px 0 0;
        }
    }

    .info--blocks {
        padding: 50px 0;

        .grid--info-block {

            .block--heading {
                margin-bottom: 25px;

                h2 {
                    .font-size(34);
                }
            }

            .block--copy {
                padding: 30px;

                h3 {
                    .font-size(18);
                }

                p {
                    .font-size(18);
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {

    .info--heading {
        padding: 30px 0 40px;
        position: relative;
        z-index: 9;

        .block--heading {
            padding-bottom: 0;

            h1 {
                .font-size(44);
            }
        }

        .block--img {
            padding: 0;
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            text-align: center;
            .translate(0, 50%);
        }
    }

    .info--blocks {
        padding: 120px 0 60px;

        .grid--info-block {
            margin-bottom: 90px;

            .block--heading {
                margin-bottom: 25px;

                h2 {
                    .font-size(36);
                }
            }

            .block--copy {
                padding: 30px;

                h3 {
                    .font-size(16);
                }

                p {
                    .font-size(16);
                }
            }

            .block--button {
                right: 50px;
                left: auto;
                .translate(0, 50%);
                width: auto;
            }
        }
    }
}

@media only screen and (min-width: 960px) {

    .info--heading {
        padding: 30px 0 40px;

        .block--heading {

            h1 {
                .font-size(60);
            }
        }

        .block--img {
            padding: 0;
        }
    }

    .info--blocks {
        padding-bottom: 100px;

        .uk-container {
            max-width: 1088px;
        }

        .grid--info-block {

            .block--heading {

                h2 {
                    .font-size(38);
                }
            }

            .block--copy {
                padding: 40px;

                h3 {
                    .font-size(18);
                }

                p {
                    .font-size(18);
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {

    .info--heading {
        padding: 30px 0 40px;

        .block--heading {

            h1 {
                .font-size(60);
            }
        }
    }

    .info--blocks {
        padding: 50px 0;

        .grid--info-block {

            .block--heading {

                h2 {
                    .font-size(38);
                    margin-left: 24px;
                }
            }

            .block--copy {
                padding: 50px;

                h3 {
                    .font-size(18);
                }

                p {
                    .font-size(18);
                }
            }

            .block--button {
                right: 65px;
            }
        }
    }
}

/* Block Helpers */

.block--helper {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 9999;

    p {
        .font-size(30);
        margin: 0;
        font-weight: 700;
        color: @errorColour2;
    }
}

/**/

#load-posts {
    color: @white;
    border-color: @white;
    background: transparent;
    margin-top: 30px;
    margin-bottom: 15px;

    &:hover {
        color: @green;
        border-color: @white;
        background: @white;
    }
}

/* AddThis */

#atstbx {
    display: none !important;
    visibility: hidden !important;
    .opacity(0);
}

// Name:            Notification
// Description:     Component to create notification messages
//
// Component:       `uk-notification`
//
// Sub-objects:     `uk-notification-message`
//
// Adopted:         `uk-notification-close`
//
// Modifiers:       `uk-notification-top-center`
//                  `uk-notification-top-right`
//                  `uk-notification-bottom-left`
//                  `uk-notification-bottom-center`
//                  `uk-notification-bottom-right`
//                  `uk-notification-message-primary`
//                  `uk-notification-message-success`
//                  `uk-notification-message-warning`
//                  `uk-notification-message-danger`
//
// ========================================================================


// Variables
// ========================================================================

@notification-position:                               10px;
@notification-z-index:                                99 + 40;
@notification-width:                                  350px;

@notification-message-margin-top:                     10px;
@notification-message-padding:                        10px;
@notification-message-background:                     #fff;
@notification-message-color:                          #000;
@notification-message-font-size:                      14px;
@notification-message-line-height:                    1.4;

@notification-close-top:                              @notification-message-padding + 5px;
@notification-close-right:                            @notification-message-padding;

@notification-message-primary-color:                  @errorColour2;
@notification-message-success-color:                  @errorColour2;
@notification-message-warning-color:                  @errorColour2;
@notification-message-danger-color:                   @errorColour2;


/* ========================================================================
   Component: Notification
 ========================================================================== */

/*
 * 1. Set position
 * 2. Dimensions
 */

.uk-notification {
    /* 1 */
    position: fixed;
    top: @notification-position;
    left: @notification-position;
    z-index: @notification-z-index;
    /* 2 */
    box-sizing: border-box;
    width: @notification-width;
    .hook-notification;
}


/* Position modifiers
========================================================================== */

.uk-notification-top-right,
.uk-notification-bottom-right {
    left: auto;
    right: @notification-position;
}

.uk-notification-top-center,
.uk-notification-bottom-center {
    left: 50%;
    margin-left: (@notification-width / -2);
}

.uk-notification-bottom-left,
.uk-notification-bottom-right,
.uk-notification-bottom-center {
    top: auto;
    bottom: @notification-position;
}


/* Responsiveness
========================================================================== */

/* Phones portrait and smaller */
@media (max-width: 480px) {

    .uk-notification {
        left: @notification-position;
        right: @notification-position;
        width: auto;
        margin: 0;
    }

}


/* Message
========================================================================== */

.uk-notification-message {
    position: relative;
    padding: @notification-message-padding;
    background: @notification-message-background;
    color: @notification-message-color;
    font-size: @notification-message-font-size;
    line-height: @notification-message-line-height;
    cursor: pointer;
    .hook-notification-message;
}

* + .uk-notification-message { margin-top: @notification-message-margin-top; }


/* Close
 * Adopts `uk-close`
 ========================================================================== */

.uk-notification-close {
    display: none;
    position: absolute;
    top: @notification-close-top;
    right: @notification-close-right;
    .hook-notification-close;
}

.uk-notification-message:hover .uk-notification-close { display: block; }


/* Style modifiers
 ========================================================================== */

/*
 * Primary
 */

.uk-notification-message-primary {
    color: @notification-message-primary-color;
    .hook-notification-message-primary;
}

/*
 * Success
 */

.uk-notification-message-success {
    color: @notification-message-success-color;
    .hook-notification-message-success;
}

/*
 * Warning
 */

.uk-notification-message-warning {
    color: @notification-message-warning-color;
    .hook-notification-message-warning;
}

/*
 * Danger
 */

.uk-notification-message-danger {
    color: @notification-message-danger-color;
    .hook-notification-message-danger;
}


// Hooks
// ========================================================================

.hook-notification-misc;

.hook-notification() {}
.hook-notification-message() {}
.hook-notification-close() {}
.hook-notification-message-primary() {}
.hook-notification-message-success() {}
.hook-notification-message-warning() {}
.hook-notification-message-danger() {}
.hook-notification-misc() {}
