.request-start {
    min-height: 100vh;
    background-image: url('../img/request-start-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &::before {
        background-image: url('../img/request-x.png');
        width: 192px;
        height: 252px;
        opacity: 0.5;
        bottom: 15px;
        right: -75px;

        @media (min-width: @breakpoint-small) {
            height: 628px;
            width: 25%;
            background-position: right bottom;
            right: -100px;
            bottom: -40px;
        }
    }

    &::after {
        background-image: url('../img/request-content-back.png');
        width: 367px;
        height: 173px;
        opacity: 0.9;
        bottom: 65px;
        right: 0;

        @media (min-width: @breakpoint-small) {
            height: 357px;
            width: 40%;
            background-position: right bottom;
        }
    }

    &__header {
        margin-bottom: 50px;
        padding-top: 45px;

        @media (min-width: @breakpoint-small) {
            padding-top: 55px;
            margin-bottom: 60px;
        }

        h1 {
            font-family: 'freightdispprolight';
            .font-size(30);
            line-height: 1.4;
            letter-spacing: 1.05px;
            color: #fff;
            text-align: center;
            margin-bottom: 0;

            @media (min-width: @breakpoint-small) {
                .font-size(50);
                line-height: 0.94;
                letter-spacing: 1.86px;
            }

            &:after {
                content: '';
                display: block;
                margin: 12px auto 0;
                width: 40px;
                height: 2px;
                background-color: #30af95;

                @media (min-width: @breakpoint-small) {
                    margin-top: 28px;
                }

                .request-start__item--arrange-viewing & {
                    background-color: #083933;
                }
            }

            span {
                display: block;
                .font-size(15);

                @media (min-width: @breakpoint-small) {
                    .font-size(25);
                    letter-spacing: 2.63px;
                    margin-top: 24px;
                }
            }
        }
    }

    &__button {
        margin-bottom: 18px;
        text-align: center;

        &--continue {
            margin-top: 80px;
            margin-bottom: 0;

            .uk-button {
                background-color: #fff;
                border: none;

                @media (min-width: @breakpoint-small) {
                    .font-size(21);
                    letter-spacing: 1.26px;
                }

                &:hover {
                    color: #30af95;
                }
            }

            .request-start__steps & {
                margin: 0 auto;
                width: 270px;

                @media (min-width: @breakpoint-small) {
                    width: 420px;
                }
            }
        }

        .uk-button {
            width: 100%;
            max-width: 420px;
            .font-size(16);
            letter-spacing: 0.96px;
            font-family: 'SofiaPro';
            font-weight: normal;
            text-transform: none;

            @media (min-width: @breakpoint-small) {
                .font-size(19);
                letter-spacing: normal;
                line-height: 58px;
            }
        }

        &--send-away {

            .uk-button {
                background-color: #30af95;
                color: #fff;

                &:hover {
                    background-color: #fff;
                    color: #30af95;
                }
            }
        }
    }

    &__steps {

        &--arrange-viewing {

            p {
                .font-size(17);
                line-height: 1.76;
                text-align: center;
                letter-spacing: normal;
                margin-bottom: 40px;

                &:last-child {
                    .font-size(15);
                    color: #083933;
                }
            }

            .request-start__button--send-away .uk-button {
                background-color: #083933;
            }
        }

        .uk-button {
            line-height: 34px;

            @media (min-width: @breakpoint-small) {
                line-height: 68px;
            }
        }
    }

    &__swirl {
        margin-top: 108px;
        text-align: center;
        padding-bottom: 68px;
        position: relative;
        z-index: 3;

        @media (min-width: @breakpoint-small) {
            margin-top: 96px;
            padding-bottom: 200px;
        }
    }

    &__item {

        @media (min-width: @breakpoint-small) {
            padding-top: 80px;
        }

        &--arrange-viewing {
            background-image: url('../img/arrange-viewing-back.jpg');
            background-repeat: no-repeat;
            background-position: right center;
            background-size: cover;
            position: relative;
            z-index: 7;
            min-height: 100vh;
        }
    }

    &__item-inner {
        position: relative;
        z-index: 3;
        max-width: 866px;
        margin: 0 auto;
    }

    &__vertical-divider {
        height: 34px;
        width: 2px;
        margin: 18px auto;
        background-color: #30af95;

        .request-start__item--arrange-viewing & {
            background-color: #083933;
        }
    }

    &__back {
        color: #fff;
        position: absolute;
        top: 53px;
        left: 0;
        z-index: 1;
        cursor: pointer;

        @media (min-width: @breakpoint-small) {
            top: 67px;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 108px;

        .uk-button {
            min-width: auto;
            text-transform: uppercase;
        }

        .request-start__button {
            width: calc(~"50% - 5px");
        }
    }
}