{# Information Page Template #}

{% extends "_layout" %}

{% set templateName = "temp--info--detail" %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% block content %}

	{# Banner #}

    {% include '_inc/_blocks/_banner' %}

    {# Heading #}

    <section class="info--heading" data-uk-scrollspy="cls: fadeInDown animated slow; offset: 250; repeat: false;">
    
    	<div class="uk-container">
    	
    		<div class="block--heading uk-text-center">
    		
    			<h1>{{ entry.title }}</h1>
    		
    		</div>
    	
    	</div>

    	{# Image #}

	    {% if entry.img|length %}

	    	{% set asset = entry.img.one() %}

	    	{% set assetHeight = asset.width %}
	    	{% set headingPadding = (assetHeight / 2) + 30 %}
	    	{% set infoPadding = (assetHeight / 2) + 30 %}

	    	{% css %}

	    		@media only screen and (min-width: 768px) {

	    			.info--heading {
	    				padding-bottom: {{ headingPadding }}px;
	    			}

	    			.info--blocks {
	    				padding-top: {{ infoPadding }}px;
	    			}

	    		}

	    		@media only screen and (min-width: 960px) {

	    			.info--heading {
	    				padding-bottom: {{ headingPadding }}px;
	    			}

	    			.info--blocks {
	    				padding-top: {{ infoPadding + 20 }}px;
	    			}

	    		}

			{% endcss %}

			<div class="block--img uk-text-center">
    			
    			<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" style="max-width: {{ asset.width }}px;">

    		</div>

	    {% endif %}
    
    </section>

    {# Info Blocks #}
    
    {% if entry.information|length %}

    	{% set blocks = entry.information.all() %}

    	<section class="info--blocks">

    		<img class="album-list__decor-line" src="{{ url('assets/img/article-list-decor-line.png') }}" alt="" />
    	
    		<div class="uk-container">
    		
    			{% for block in blocks %}

    				<div class="grid--info-block uk-grid-collapse uk-grid-match" uk-grid data-uk-scrollspy="cls: fadeInUp animated slow; offset: 250; repeat: false;">
    				
    					{% if block.heading|length %}

    						<div class="uk-width-1-1">
    						
    							<div class="block--heading">
    							
    								<h2>

    									{{ block.heading }}{% if block.address|length %}<span>, {{ block.address }}</span>{% endif %}

    								</h2>
    							
    							</div>
    						
    						</div>

    					{% endif %}

    					{% if block.img|length %}

    						<div class="uk-width-1-1 uk-width-2-5@s">
    						
    							<div class="block--img uk-cover-container uk-height-medium">
    							
    								{% set asset = block.img.one() %}
    								
    								<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" uk-cover>
    								
    							</div>
    						
    						</div>	

    					{% endif %}

    					{% if block.copy|length %}

    						<div class="uk-width-1-1 uk-width-3-5@s">
    						
    							<div class="block--copy">
    							
    								{% if block.subheading|length %}

    									<h3>{{ block.subheading }}</h3>

    								{% endif %}

    								{{ block.copy }}

    								{% if block.infoLink|length %}

    									{% set attributes = {
											class: 'uk-button uk-button-default'
					                    } %}

										<div class="block--button">

				                            {{ block.infoLink.link(attributes) }}

										</div>

    								{% endif %}
    							
    							</div>
    						
    						</div>

    					{% endif %}
    				
    				</div>
    				
    			{% endfor %}
    		
    		</div>
    	
    	</section>

    {% endif %}

    {# Content Blocks #}

    {% include '_inc/_content-blocks' %}

{% endblock %}