{# Block - Latest Offer #}

<div class="blog">

    <div class="blog__top">

    	{# Offer Date #}

    	{% if offer.offerDate|length %}

    		<div class="blog__header">

                <div class="blog__icon">

                    <div data-uk-icon="calendar"></div>

                </div>

                <span>{{ offer.offerDate }}</span>

            </div>

    	{% endif %}

        <div class="blog__content">

        	{# Title #}

            <p>{{ offer.title }}</p>

            {# Button / Link #}

            <div class="blog__link">

                <a class="uk-button uk-button-primary uk-button-small" href="{{ offer.getUrl() }}">View offer</a>

            </div>

        </div>

    </div>

    {# Image #}

    {% if offer.img|length %}

    	{% set thumb = {
		    mode: 'crop',
		    width: 322,
		    height: 322,
		    quality: 75,
		    position: 'center-center'
		} %}

		{% set asset = offer.img.one() %}
        
        <img src="{{ asset.getUrl(thumb) }}" alt="{{ asset.title }}">

    {% endif %}

</div>