{# Default Page Template #}

{% extends "_layout" %}

{% set templateName = "temp--default" %}

{% if not entry is defined %}

	{% set entry = craft.entries()
    .section('pages')
    .slug(craft.app.request.getSegment(1))
    .one() %}

{% endif %}

{% if craft.app.request.getSegment(2) == "category" %}

    {% set entry = craft.entries()
    .section('pages')
    .slug(craft.app.request.getSegment(1))
    .one() %}

{% endif %}

{% if entry.noFollow is defined and entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% block content %}

    {# Banner #}

    {% include '_inc/_blocks/_banner' %}

    {# Content Blocks #}

    {% include '_inc/_content-blocks' %}

{% endblock %}