{# Form Request Page Template #}

{% extends "_layout" %}

{% set templateName = "temp--default temp--form-request" %}

{% if not entry is defined %}

	{% set entry = craft.entries()
    .section('pages')
    .slug(craft.app.request.getSegment(1))
    .one() %}

{% endif %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% block content %}

	{# Form Journey / Form #}

	{% if entry.formJourney|length %}

		{% include '_inc/_blocks/_formJourney' %}

	{% elseif entry.formType|length %}
		
		{% include '_inc/_blocks/_formRequest' %}

	{% endif %}

    {# Content Blocks #}

    {% include '_inc/_content-blocks' %}

{% endblock %}