{# Inner Page Template #}

{% extends "_layout" %}

{% set templateName = "temp--inner" %}

{% if not entry is defined %}

	{% set entry = craft.entries()
    .section('pages')
    .slug(craft.app.request.getSegment(1))
    .one() %}

{% endif %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% block content %}

	{# Service Blocks #}

	{# Banner

	{% if entry.banner|length %}

		{% include '_inc/_blocks/_serviceBanner' %}

	{% endif %} #}

    {# Content Blocks #}

    {% include '_inc/_content-blocks' %}

{% endblock %}