{# Thank You Page Template #}

{% extends "_layout" %}

{% set templateName = "temp--thank-you" %}

{% if not entry is defined %}

	{% set entry = craft.entries()
    .section('pages')
    .slug(craft.app.request.getSegment(1))
    .one() %}

{% endif %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% block content %}

    {# Banner #}

    {% if entry.banner|length %}

    	{% for block in entry.banner.all() %}

    		<div class="thanks">

    			{# Image #}

				{% if block.img|length %}

					{% set asset = block.img.one() %}

					<div class="thanks__background">

			            <img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" />

			        </div>

				{% endif %}

		        <div class="thanks__content">

		        	{# Heading #}

		            <div class="thanks__text">

						{% set heading = entry.title %}

						{% if block.headingOverride|length %}

							{% set heading = block.headingOverride %}

						{% endif %}

			            <h1>{{ heading }}</h1>

		            </div>

		            <div class="thanks__illustration">

		                <img src="{{ url('assets/img/request-x.png') }}" alt="x icon" />

		            </div>

		            <div class="thanks__swirl">

		                <img src="{{ url('assets/img/swirl.png') }}" alt="Polhawn swirl" />

		            </div>

		        </div>

		    </div>
    		
    	{% endfor %}

    {% endif %}

    {# Content Blocks #}

    {% include '_inc/_content-blocks' %}

{% endblock %}