include ../blog/blog

mixin section-blog
    section.section-blog.uk-cover-container
        img(src="img/offers-bg.png" alt="Offers section background" data-uk-cover)
        .uk-position-relative
            .uk-flex.uk-flex-center(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false;")
                h2 Polhawn Blog

            .container
                .section-blog__content(data-uk-slider='', data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false;")
                    .uk-position-relative
                        ul.uk-slider-nav.uk-dotnav.uk-flex-center
                        .uk-slider-container
                            .uk-slider-items.uk-grid.uk-grid-small(class='uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-4@l')
                                div
                                    +blog('Inspiration', 'blog__icon--purple')
                                div
                                    +blog('Polhawn Blog', 'blog__icon--green')
                                div
                                    +blog('Latest News', 'blog__icon--orange')
                                div
                                    +blog('Inspiration', 'blog__icon--purple')

                        div(class="uk-hidden@l").section-blog__arrows.uk-text-center
                            a(href='#' data-uk-slider-item='previous').section-blog__arrow
                                span(data-uk-icon="arrow-left")
                            a(href='#' data-uk-slider-item='next').section-blog__arrow
                                span(data-uk-icon="arrow-right")

                .uk-text-center
                    a(href="#").uk-button.section-blog__all-blog-link View all blog area