include ../blog/blog

mixin section-offers
    section.section-offers.uk-cover-container
        img(src="img/offers-bg.png" alt="Offers section background" data-uk-cover)
        .uk-position-relative
            .uk-flex.uk-flex-center(data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;")
                h2 Latest offers

            .container
                .section-offers__content(data-uk-slider='', data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;")
                    .uk-position-relative
                        ul.uk-slider-nav.uk-dotnav.uk-flex-center
                        .uk-slider-container
                            .uk-slider-items.uk-grid.uk-grid-small(class='uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-4@l')
                                div
                                    +blog-offer
                                div
                                    +blog-offer
                                div
                                    +blog-offer
                                div
                                    +blog-offer

                        div(class="uk-hidden@l").section-offers__arrows.uk-text-center
                            a(href='#' data-uk-slider-item='previous').section-offers__arrow
                                span(data-uk-icon="arrow-left")
                            a(href='#' data-uk-slider-item='next').section-offers__arrow
                                span(data-uk-icon="arrow-right")

                .uk-text-center
                    a(href="#").uk-button.section-offers__all-offers-link View all offers