.see-more {
    min-height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 55px;
    padding: 50px 0;

    @media (min-width: @breakpoint-small) {
        min-height: 100vh;
    }

    &__back-wrap {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__card {
        position: relative;
        z-index: 2;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 5px 22px rgba(0, 0, 0, 0.5);

        @media (min-width: @breakpoint-small) {
            display: flex;
            box-shadow: 0 5px 22px rgba(0, 0, 0, 0.3);
            max-width: 1160px;
            margin: 0 auto;
        }
    }

    &__card-image-wrap {
        font-size: 0;
        line-height: 0;

        @media (min-width: @breakpoint-small) {
            width: 304px;
            flex-shrink: 0;
        }

        @media (min-width: @breakpoint-large) {
            width: 467px;
        }

        img {
            width: 100%;
        }
    }

    &__body-button {

        @media (min-width: @breakpoint-medium) {
            padding-bottom: 15px;
            flex-shrink: 0;
        }

        .uk-button {
            @media (min-width: @breakpoint-large) {
                padding-top: 25px;
            }
        }
    }

    h2 {
        color: rgba(69, 69, 69, 0.9);
        .font-size(21);
        line-height: 1.04;
        font-family: 'avenir';
        font-weight: 300;

        @media (min-width: @breakpoint-small) {
            .font-size(27);
            margin-bottom: 25px;
        }

        @media (min-width: @breakpoint-medium) {
            margin-bottom: 33px;
        }

        &:after {
            background-color:  rgba(156, 133, 148, 0.9);
            height: 2px;

            @media (min-width: @breakpoint-small) {
                height: 3px;
            }
        }
    }

    h3 {
        font-family: 'freightdispprolight', sans-serif;
        font-weight: normal;
        color: rgba(156, 133, 148, 0.9);
        line-height: 0.88;
        .font-size(45);

        @media (min-width: @breakpoint-small) {
            .font-size(66);
        }

        @media (min-width: @breakpoint-medium) {
            margin-bottom: 0;
        }
    }

    &__card-body {
        padding: 30px 20px;

        @media (min-width: @breakpoint-small) {
            margin: 0 auto;
            padding: 50px 20px;
        }

        @media (min-width: @breakpoint-medium) {
            margin: 0;
            display: flex;
            align-items: flex-end;
            padding: 0 69px 0 47px;
            align-self: center;
            width: 100%;
            justify-content: space-between;
        }
    }

    &--red-theme {
        h2:after,
        .uk-button {
            background-color: rgba(229, 61, 89, 0.9);
        }

        h3 {
            color: rgba(229, 61, 89, 0.9);
        }
    }
}