extends ./templates/_base-template

include ./components/section-signup/section-signup
include ./components/see-more/see-more
include ./components/section-intro/section-intro
include ./components/album-list/album-list

prepend head
    - var pageTitle = 'Real wedding';

block content
    main.main
        +menu

        section.real-wedding-head(data-uk-scrollspy="cls: fadeInDown animated slow; offset: 250; repeat: false;")
            .real-wedding-head__bg(style='background-image: url(img/real-wedding-bg.png)')

            .container
                h1.real-wedding-head__title Real weddings
                .real-wedding-head__divider

                .real-wedding-head__subtitle The how the what & the why…

        +section-intro(false,
            "From the bells & whistles to more intimate choices a wedding at Polhawn Fort can be shaped in a zillion ways."
        ).section-intro--idos.section-intro--special-offers

        +album-list()

        section.article-list.article-list--our-weddings
            .container
                .article-list__wrap
                    h2 Our weddings

                    article.our-weddings
                        .our-weddings__side-images
                            img(src="img/our-weddings.png")
                            img(src="img/our-weddings.png")
                            img(src="img/our-weddings.png")

                        .our-weddings__content
                            h1 It’s not just a wedding it’s an experience

                            .our-weddings__slider(data-uk-slideshow="animation: push")
                                ul.uk-slideshow-items
                                    li 
                                        img(src="img/our-weddings.png", uk-cover)

                                    li 
                                        img(src="img/our-weddings.png", uk-cover)

                                    li 
                                        img(src="img/our-weddings.png", uk-cover)

                                ul(class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin")


                            p Polhawn fort is a blank canvas venue with a twist however you would like to create your dream wedding the way you want it, using the suppliers you want. Our team are on hand throughout your stay to make sure you and your suppliers have everything you need.

                            .our-weddings__button-wrap
                                a(href="#", title="").uk-button.uk-button-default Find out

        +section-signup
        +see-more(
            'img/you-must-see-idos-back.png',
            'img/you-must-see.png',
            'You must see',
            "Gallery",
            'See more'
        ).see-more--red-theme