extends ./templates/_base-template

include ./components/menu/menu
include ./components/request-start/request-start
include ./components/section-signup/section-signup
include ./components/section-blog/section-blog

prepend head
    - var pageTitle = 'Polhawn Fort';


block content
    main.main
        +menu

        .request
            +request-start
            +section-signup
            +section-blog


//- include ./components/request-start/request-start

//- doctype
//- html(lang="en")
//-     head
//-         meta(charset="utf-8")
//-         meta(http-equiv="X-UA-Compatible" content="IE=edge")

//-         block head
//-             title= "Request"
//-             meta(name="description" content=pageDescription || "")

//-         meta(name="keywords" content="")
//-         meta(name="copyright" content="")
//-         meta(name="viewport" content="width=device-width, initial-scale=1")
//-         meta(name="HandheldFriendly" content="True")
//-         <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
//-         <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
//-         <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
//-         <link rel="manifest" href="/site.webmanifest">
//-         <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
//-         <meta name="msapplication-TileColor" content="#00aba9">
//-         <meta name="theme-color" content="#ffffff">

//-         block styles
//-             <link rel="stylesheet" href="https://use.typekit.net/ybr6syo.css">
//-             <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
//-             <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
//-             <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
//-             link(href="css/main.css" rel="stylesheet")

//-         block scripts-head
//-             script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js")
//-             script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.js")
//-             script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js")
//-             script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.js")
//-             script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/ScrollToPlugin.min.js")

//-     body
//-         .main-container.main-container--request
//-             .request
//-                 +request-start

//-             block scripts-body
//-                 script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
//-                 script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js")
//-                 <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
//-                 <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
//-                 <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
//-                 script(src="js/app.js")
