button {
    font-family: @global-font-family;
}

.uk-button.button--back-offers {
    border-width: 1px;
    border-color: #8c8c8c;
    color: #8c8c8c;
    display: inline-flex;
    align-items: center;
    padding: 28px 50px 28px 24px;

    span {
        color: #30af95;
        margin-right: 20px;
    }

    &:hover {
        color: #30af95;
        border-color: #30af95;
    }
}