{# Bedroom Template #}

{% extends "_layout" %}

{% set templateName = "temp--bedroom" %}

{% if entry.noFollow is defined and entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% block content %}

    {# Banner #}

    {% include '_inc/_blocks/_banner' %}

    {# Intro #}

    {% if entry.intro|length %}

    	<section class="section-intro section-intro--dream uk-margin-remove-top">

		    <div class="section-intro__wrap" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false; offset-top: -250">

		        <div class="section-intro__detail uk-margin-remove-top">

		            {{ entry.intro }}

		        </div>

		    </div>

		</section>

    {% endif %}

    {# Content #}

    <section class="section--bedroom">

    	<img class="album-list__decor-line" src="{{ url('assets/img/article-list-decor-line.png') }}" alt="" />

    	<div class="uk-container">

    		{# Filters #}

			{% set bedroomsQuery = craft.entries()
			    .section('bedrooms')
			    .orderBy('dateCreated asc')
			%}

			{% set bedrooms = bedroomsQuery.all() %}

    		{% if bedrooms|length %}

    			<div class="block--bedroom-filters">
	    		
	    			<div class="album-list__filter" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">

		                <div class="wedding-filter">

	                		<div class="wedding-filter__title">

	                			Explore by room

	                		</div>

		                    <div class="wedding-filter__slider swiper-container js-wedding-filter-slider">

		                        <ul class="swiper-wrapper wedding-filter__list">

		                        	{% nav category in bedrooms %}

		                        		{{ cycle(['<li class="wedding-filter__item swiper-slide">', ''], loop.index0)|raw }}

		                        			<a class="wedding-filter__filter-link{% if entry.slug == category.slug %} uk-active{% endif %}" href="{{ category.getUrl() }}">{{ category.title }}</a>

		                        		{{ cycle(['', '</li>'], loop.index0)|raw }}

		                        	{% endnav %}

		                        </ul>

		                        <div class="wedding-filter__slider-button">

		                            <div class="swiper-button-prev"><span data-uk-icon="chevron-left"></span></div>

		                            <div class="swiper-button-next"><span data-uk-icon="chevron-right"></span></div>

		                        </div>

		                    </div>

		                </div>

		            </div>
	    		
	    		</div>

    		{% endif %}

    		{# Image #}

    		{% if entry.img|length %}

    			<div class="block--img uk-text-center" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">
    			
    				{% set asset = entry.img.one() %}
    				
    				<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">
    			
    			</div>

    		{% endif %}

    		{# Copy & Image #}

    		{% if entry.bedroomCopyImage|length %}

    			{% set block = entry.bedroomCopyImage.one() %}

    			<div class="block--img-copy">
    			
    				<div class="events-description__wrap">

			        	{# Image #}

			        	{% if block.img|length or block.bgImg|length %}

				            <div class="events-description__media">

			                    {% if block.bgImg|length %}

			                        {% set asset = block.bgImg.one() %}

			                        {% set transformedImages = craft.imager.transformImage(asset, [
			                            { width: 1200 }, 
			                            { width: 600, jpegQuality: 100 }, 
			                            { width: 400, jpegQuality: 100 }
			                            ], { position: '100% 100%', jpegQuality: 100 }, 
			                            { fillTransforms: true })
			                        %}

			                        <div class="events-description__back-wrap" data-uk-scrollspy="cls: fadeInUp animated; repeat: false;">

			                            <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}">

			                        </div>

			                    {% endif %}

			                    {% if block.img|length %}

			                        {% set asset = block.img.one() %}

			                        {% set transformedImages = craft.imager.transformImage(asset, [
			                            { width: 1200 }, 
			                            { width: 600, jpegQuality: 100 }, 
			                            { width: 400, jpegQuality: 100 }
			                            ], { position: '100% 100%', jpegQuality: 100 }, 
			                            { fillTransforms: true })
			                        %}

			    	                <div class="events-description__image-wrap" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false;">

			    	                    <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}">

			    	                </div>

			                    {% endif %}

				            </div>

						{% endif %}

			            <div class="events-description__content" data-uk-scrollspy="cls: fadeInUp animated; delay: 350; repeat: false;">

			            	{# Style #}

			                <div class="events-description__line">

			                    <img src="{{ url('assets/img/color-line-blue.png') }}" alt="border" />

			                </div>

			                {# Content #}

			                <div class="events-description__content-body">

			                    {% if block.heading|length %}

			                		<h2>{{ block.heading }}</h2>

			                	{% endif %}

			                	{% if block.subheading|length %}

			                		<h3>{{ block.subheading }}</h3>

			                	{% endif %}

			                    {{ block.copy }}

			                </div>

			            </div>

			        </div>
    			
    			</div>

    		{% endif %}

    		{# Gallery #}

    		{% if entry.bedroomGallery|length %}

    			{% set rows = entry.bedroomGallery.all() %}

    			<div class="block--bedroom-gallery">

    				<div class="block--heading" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">
    				
    					<h2>Gallery</h2>
    				
    				</div>

    				{% for row in rows %}

    					{% if row.cols|length %}

    						{% set cols = row.cols.all() %}

    						<div class="grid--bedroom-gallery {{ row.rowHeight }} uk-grid-collapse" uk-grid data-uk-scrollspy="cls: fadeIn animated slow; repeat: false;">

    							{% for col in cols %}

    								<div class="block--gallery-col {{ col.columnSize }}">
		    						
		    							<div class="uk-cover-container">
		    							
		    								{% if col.img|length %}

		    									{% set asset = col.img.one() %}
		    									
		    									<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" uk-cover>
		    									
		    								{% endif %}
		    							
		    							</div>
		    						
		    						</div>
    								
    							{% endfor %}
	    				
	    					</div>

    					{% endif %}
    					
    				{% endfor %}
    			
    			</div>

    		{% endif %}

    	</div>
    
    </section>

    {# Content Blocks #}

    {% include '_inc/_content-blocks' %}

{% endblock %}