.month-prices-slider {
    padding-top: 20px;
    padding-bottom: 40px;

    .swiper-container {
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }

    .swiper-controls {
        position: relative;
        max-width: 300px;
        width: 100%;
        height: 71px;
        margin-right: auto;
        margin-left: auto;

        @media (min-width: @breakpoint-small) {
            display: none;
        }
    }

    .swiper-wrapper {
        min-height: 480px;
        height: 480px !important;

        @media (min-width: @breakpoint-small) {
            height: 100% !important;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 71px;
        height: 71px;
        border-radius: 50%;
        border: 1px solid #fff;
        background-color: #A4ABB3;
        color: #fff;

        &:hover,
        &:active,
        &:focus {
            color: @global-primary-color;
        }

        &:after {
            display: none;
        }
    }

    @media (min-width: @breakpoint-small) {
        .swiper-wrapper {
            flex-wrap: wrap;
            width: 100%;
        }
    }

    .swiper-slide {
        margin-right: auto;
        margin-left: auto;

        @media (min-width: @breakpoint-small) {
            width: calc(100% / 3);
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: auto;
        bottom: -30px;
    }
}

.swiper-controls-desktop {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: @breakpoint-large) {
        display: block;
        max-width: 1440px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 71px;
        height: 71px;
        border-radius: 50%;
        background-color: #a4bbc3;
        color: #fff;
        transition-duration: @global-transition-duration;

        &:hover,
        &:active,
        &:focus {
            color: @global-primary-color;
            box-shadow: 0 0 5px rgba(0,0,0,0.1);
            transition-duration: @global-transition-duration;
        }

        &:after {
            display: none;
        }
    }
}

.month-prices-slider.month-prices-slider3 {
    .swiper-wrapper {
        min-height: 920px;
        height: 920px !important;

        @media (min-width: @breakpoint-small) {
            height: 100% !important;
        }
    }
}