.special {
    background-color: #afa7a5;
    padding: 20px 10px;
    margin-top: 163px;
    margin-bottom: 75px;

    @media (min-width: @breakpoint-small) {
        padding: 20px 26px;
    }

    &__wrap {
        text-align: center;

        @media (min-width: @breakpoint-medium) {
            display: flex;
        }
    }

    &__border {
        border: 4px solid #fff;
        border-image-slice: 5;
        border-image-repeat: round;
        border-image-source: url('../img/border.png');
    }

    img {
        display: inline-block;
        margin: -74px -30px 50px;
        text-align: center;
        align-self: flex-start;
        max-width: none;
        width: calc(100% + 60px);
        max-width: 601px;

        @media (min-width: @breakpoint-medium) {
            order: 1;
            flex-shrink: 0;
            margin: -74px 0 0;
            width: 50%;
            padding-left: 20px;
        }

        @media (min-width: @breakpoint-large) {
            padding-left: 59px;
        }
    }

    h2 {
        .font-size(22);
        line-height: 1.04;
        margin-bottom: 38px;

        @media (min-width: @breakpoint-small) {
            .font-size(28);
            margin-bottom: 48px;
        }

        &:after {
            background-color: #fff;
            height: 2px;
        }
    }

    h3 {
        font-family: 'freightdispprolight', sans-serif;
        font-weight: normal;
        .font-size(35);
        line-height: 1.2;
        letter-spacing: normal;
        margin-bottom: 33px;

        @media (min-width: @breakpoint-small) {
            .font-size(68);
            line-height: 0.88;
            margin-bottom: 43px;
        }
    }

    p {
        margin: 0;
        .font-size(14);
        line-height: 1.81;

        @media (min-width: @breakpoint-small) {
            .font-size(16);
        }
    }

    &__button-wrap {
        text-align: center;
        margin-top: 60px;

        @media (min-width: @breakpoint-small) {
            margin-top: 96px;
        }

        @media (min-width: @breakpoint-medium) {
            text-align: left;
        }

        .uk-button {
            .font-size(11);
            line-height: 1;
            letter-spacing: 1.21px;
            font-weight: 500;
            padding: 17px 35px 18px;
            width: auto;
        }
    }

    &__content {
        padding: 0 0 50px;
        text-align: left;

        @media (min-width: @breakpoint-small) {
            padding: 0 0 75px;
        }

        @media (min-width: @breakpoint-medium) {
            padding-top: 90px;
            padding-right: 20px;
        }

        @media (min-width: @breakpoint-large) {
            padding-right: 37px;
        }
    }
}