{# Article Blocks #}

{% if entry.articleBlocks|length %}

	{% for block in entry.articleBlocks.all() %}

		{% switch block.type %}

			{# New Blocks #}

			{% case "imgs" %}
			
				{% include '_inc/_blocks/_article/_imgs' %}

			{% case "copy" %}
			
				{% include '_inc/_blocks/_article/_copy' %}

			{% case "video" %}
			
				{% include '_inc/_blocks/_article/_video' %}

			{% case "callToAction" %}
			
				{% include '_inc/_blocks/_article/_callToAction' %}			

			{% default %}

		{% endswitch %}

	{% endfor %}

{% endif %}