{# Content Blocks #}

{% if entry.contentBlocks|length %}

	{% for block in entry.contentBlocks.all() %}

		{% set currentLoop = loop.index %}
		{% set nextLoop = loop.index + 1 %}

		{% set blockVars = { currentLoop : loop.index, nextLoop : loop.index + 1 } %}

		{% switch block.type %}

			{# New Blocks #}

			{% case "intro" %} {# 1 #}
			
				{% include '_inc/_blocks/_intro' with blockVars %}

			{% case "introBlock" %} {# 2 #}
			
				{% include '_inc/_blocks/_introBlock' with blockVars %}

			{% case "headingImagesCopy" %} {# 3 #}
			
				{% include '_inc/_blocks/_headingImagesCopy' with blockVars %}

			{% case "copyImageN" %} {# 4 #}

				{% include '_inc/_blocks/_copyImage' with blockVars %}

			{% case "imagesCopyReadMore" %} {# 5 #}

				{% include '_inc/_blocks/_imagesCopyReadMore' with blockVars %}

			{% case "contentBanner" %} {# 6 #}
			
				{% include '_inc/_blocks/_contentBanner' with blockVars %}

			{% case "bannerBorder" %} {# 7 #}
			
				{% include '_inc/_blocks/_bannerBorder' with blockVars %}

			{% case "parallaxSlides" %} {# 8 #}
			
				{% include '_inc/_blocks/_parallaxSlides' with blockVars %}

			{% case "seeMoreBanner" %} {# 9 #}
			
				{% include '_inc/_blocks/_seeMoreBanner' with blockVars %}

			{% case "blog" %} {# 10 #}
			
				{% include '_inc/_blocks/_blog' with blockVars %}

			{% case "blogListing" %} {# 11 #}
			
				{% include '_inc/_blocks/_blogListing' with blockVars %}

			{% case "latestOffers" %} {# 12 #}
			
				{% include '_inc/_blocks/_latestOffers' with blockVars %}

			{% case "latestOffersListing" %} {# 13 #}

				{% include '_inc/_blocks/_latestOffersListing' with blockVars %}

			{% case "weddingsList" %} {# 14 #}
			
				{% include '_inc/_blocks/_weddingsList' with blockVars %}

			{% case "socialWall" %} {# 15 #}
			
				{% include '_inc/_blocks/_socialWall' with blockVars %}

			{% case "reviews" %} {# 16 #}
			
				{% include '_inc/_blocks/_reviews' with blockVars %}

			{% case "plainText" %} {# 17 #}

				{% include '_inc/_blocks/_plainText' with blockVars %}

			{% case "textColumns" %} {# 18 #}

				{% include '_inc/_blocks/_textColumns' with blockVars %}

			{% case "parallaxImage" %} {# 19 #}

				{% include '_inc/_blocks/_parallaxImage' with blockVars %}

			{% case "priceList" %} {# 20 #}

				{% include '_inc/_blocks/_priceList' with blockVars %}

			{% case "pricingSignup" %} {# 21 #}

				{% include '_inc/_blocks/_pricingSignup' with blockVars %}

			{% case "imagesLeftFixedText" %} {# 22 #}

				{% include '_inc/_blocks/_imagesLeftFixedText' with blockVars %}

			{% case "ctaWithBackground" %} {# 23 #}

				{% include '_inc/_blocks/_ctaWithBackground' with blockVars %}

			{% case "gallery" %} {# 24 #}

				{% include '_inc/_blocks/_gallery' with blockVars %}

			{% case "faqs" %} {# 25 #}

				{% include '_inc/_blocks/_faqs' with blockVars %}

			{% case "usefulInfo" %} {# 26 #}

				{% include '_inc/_blocks/_usefulInfo' with blockVars %}

			{% case "exploreRooms" %} {# 27 #}

				{% include '_inc/_blocks/_exploreRooms' with blockVars %}

			{% default %}

		{% endswitch %}

	{% endfor %}

{% endif %}