@blog-card-inspiration-theme: #ba97ae;
@blog-card-feature-post-theme: #ecb87e;
@blog-card-latest-news-theme: #a3bcb7;
@blog-card-real-wedding-theme: #c6c6c6;
@blog-card-calendar-theme: #21b2a0;

.blog-card {

    &__wrap {
        background-color: #fff;
        text-align: center;
        position: relative;
        margin: 0 -20px;
        padding: 48px 20px;

        @media (min-width: @breakpoint-small) {
            width: calc(~"100% - 80px");
            max-width: 809px;
            min-height: 487px;
            margin: 100px auto 60px;
            padding-left: 0;
            padding-right: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    h1 {
        .font-size(50);
        color: #727272;
        line-height: 1.26;
        font-family: 'freightdispprolight';
        max-width: 528px;
        margin-left: auto;
        margin-right: auto;
    }

    &__name {
        .font-size(17);
        line-height: 1.53;
        font-family: 'sofia-pro';
        font-weight: normal;
        color: #939393;
        display: inline-flex;
        flex-direction: column;
        margin-bottom: 30px;

        @media (min-width: @breakpoint-large) {
            .font-size(20);
            line-height: 1.3;
        }

        span {
            margin-top: 11px;

            .blog-card--inspiration & {
                color: @blog-card-inspiration-theme;
            }
    
            .blog-card--feature-post & {
                color: @blog-card-feature-post-theme;
            }
    
            .blog-card--latest-news & {
                color: @blog-card-latest-news-theme;
            }

            .blog-card--real-wedding & {
                color: @blog-card-real-wedding-theme;
            }

            .blog-card--calendar & {
                color: @blog-card-calendar-theme;
            }
        }

        svg {
            width: 100%
        }
    }

    &__arrow {
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        width: 61px;
        height: 61px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .blog-card--inspiration & {
            background-color: @blog-card-inspiration-theme;
        }

        .blog-card--feature-post & {
            background-color: @blog-card-feature-post-theme;
        }

        .blog-card--latest-news & {
            background-color: @blog-card-latest-news-theme;
        }

        .blog-card--real-wedding & {
            background-color: @blog-card-real-wedding-theme;
        }

        .blog-card--calendar & {
            background-color: @blog-card-calendar-theme;
        }
    }

    &__icon {
        width: 136px;

        .blog-card--inspiration & {
            color: @blog-card-inspiration-theme;
        }

        .blog-card--feature-post & {
            color: @blog-card-feature-post-theme;
        }

        .blog-card--latest-news & {
            color: @blog-card-latest-news-theme;
        }

        .blog-card--real-wedding & {
            color: @blog-card-real-wedding-theme;
        }

        .blog-card--calendar & {
            color: @blog-card-calendar-theme;
        }

        svg {
           width: 100% !important;
           height: auto !important;
        }

        &[data-uk-icon="calendar"] {
            width: 40px;

            svg {
                path:last-child {
                    display: none;
                }
            }
        }
    }
}