.share-this {
    margin-bottom: 64px;

    h4 {
        .font-size(50);
        line-height: 1.26;
        color: #727272;
        text-align: center;
        font-family: 'freightdispprolight';
        font-weight: 300;
        margin-bottom: 24px;
    }
}