{# Banner - Plain #}

{# Heading #}

{% set heading = entry.title %}

{% if block.headingOverride|length %}

	{% set heading = block.headingOverride %}

{% endif %}

{# Banner Image #}

{% set bgImg = null %}

{% if block.img|length %}

	{% set asset = block.img.one() %}

	{% set bgImg = asset.getUrl() %}

{% endif %}

{# Heading Below Image #}

{% if block.moveHeadingsBelowImage == 1 %}

	{% set headingsBelowImg = true %}

	<section class="real-wedding-head" data-uk-scrollspy="cls: fadeInDown animated slow; offset: 250; repeat: false;">

	    <div class="real-wedding-head__bg"{% if bgImg != null %} style="background-image: url({{ bgImg }})"{% endif %}></div>

	    <div class="container">

	    	{# Heading #}

	        <h1 class="real-wedding-head__title">{{ heading }}</h1>

	        <div class="real-wedding-head__divider"></div>

	        {# Subheading #}

	        {% if block.subheading|length %}

	        	<div class="real-wedding-head__subtitle">{{ block.subheading }}</div>

	        {% endif %}

	    </div>

	    {# Block Helpers #}

		{% include "_inc/_blocks/_special/_blockHelpers" %}

	</section>

{% else %}

	{# Normal Display #}
	
	<section class="section-prices-header" data-uk-scrollspy="cls: fadeInDown animated slow; offset: 250; repeat: false;">

	    <div class="section-prices-header__bg"{% if bgImg != null %} style="background-image: url({{ bgImg }})"{% endif %}>

	        <div data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">

	        	{# Heading #}

	            <h1>{{ heading }}</h1>

	        </div>

	    </div>

	    {# Block Helpers #}

		{% include "_inc/_blocks/_special/_blockHelpers" %}

	</section>

{% endif %}