{# Banner - Slides #}

{% if block.slides|length %}

	{% set slides = block.slides.all() %}

	<div class="section-land-sea">

	    <div class="slideshow">

	        <div class="js-slideshow" id="slideshow-home" data-uk-slideshow="animation: push; min-height: 300; max-height: 945">

	            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

	                <ul class="uk-slideshow-items">

	                	{# Banner Slides #}

	                	{% for slide in slides %}

	                		<li class="vimeo-wrapper">

	                			{# Image #}

	                			{% if slide.img|length %}

	                				{% set asset = slide.img.one() %}

	                                {% set transformedImages = craft.imager.transformImage(asset, [
	                                    { width: 1200 }, 
	                                    { width: 600, jpegQuality: 100 }, 
	                                    { width: 400, jpegQuality: 100 }
	                                    ], { position: '100% 100%', jpegQuality: 100 }, 
	                                    { fillTransforms: true })
	                                %}

	                                <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}">

	                			{% endif %}

	                			{# Video #}

	                            {% if slide.video|length %}

	                            	<iframe src="{{ slide.video }}" allow="autoplay; fullscreen" allowfullscreen="allowfullscreen"></iframe>

	                            {% endif %}

	                            {# Caption #}

		                        {% set captionDelay = 1500 %}
	                        	{% set captionAnimation = "fadeInLeft" %}

	                            {% if not loop.first %}

	                            	{% set captionDelay = 0 %}
		                            {% set captionAnimation = "fadeIn" %}

	                            {% endif %}

	                            {% if slide.caption|length %}

	                            	<div class="slideshow__caption">

		                                <div class="container">

		                                    <div class="uk-overflow-hidden">

		                                        <div data-uk-scrollspy="cls: {{ captionAnimation }} animated; delay: {{ captionDelay }}; repeat: false;">

		                                            <div>{{ slide.caption }}</div>

		                                        </div>

		                                    </div>

		                                </div>

		                            </div>

	                            {% endif %}

	                            <div class="slideshow__logos">

	                                {% if slide.captionImg|length %}

	                                    {% set asset = slide.captionImg.one() %}
	                                    
	                                    <div>
	                                    
	                                        <img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" style="width: {{ asset.width }}px !important; height: auto;">
	                                    
	                                    </div>

	                                {% endif %}

	                            </div>

	                        </li>
	                		
	                	{% endfor %}

	                </ul>

	                <a href="#" data-uk-slidenav-previous="" data-uk-slideshow-item="previous"></a>

	                <a href="#" data-uk-slidenav-next="" data-uk-slideshow-item="next"></a>

	                <ol class="uk-slideshow-nav uk-dotnav"></ol>

	                <div class="slideshow__counter">

	                    <div class="slideshow__current"></div>
	                    <div class="slideshow__counter-divider"></div>
	                    <div class="slideshow__total"></div>

	                </div>

	            </div>

	             <div class="slideshow__logos">

	                <div class="uk-visible@s">

	                    <img src="{{ url('assets/img/logo-white.png') }}" srcset="{{ url('assets/img/logo-white.png') }}, {{ url('assets/img/logo-white@2x.png') }} 2x" alt="Polhawn Fort Logo" width="262" height="118" />

	                </div>

	                <div>

	                    <img src="{{ url('assets/img/swirl.png') }}" srcset="{{ url('assets/img/swirl.png') }}, {{ url('assets/img/swirl@2x.png') }} 2x" alt="Polhawn Fort Icon Logo" width="46" height="45" />

	                </div>

	            </div>

	        </div>

	    </div>

	    {# Block Helpers #}

		{% include "_inc/_blocks/_special/_blockHelpers" %}

	</div>

{% endif %}