.advantages {
    margin: 60px 0;

    &__list {
        margin-left: -9px;
        margin-right: -9px;

        @media (min-width: @breakpoint-large) {
            display: flex;
        }
    }

    &__item {
        width: 430px;
        height: 254px;
        max-width: 100%;
        padding: 0 9px;
        margin: 18px auto;

        @media (min-width: @breakpoint-large) {
            margin: 0;
        }

        &:nth-child(1) {
            .advantage {
                background-image: url('../img/tab-weekend.png');
            }
        }

        &:nth-child(2) {
            .advantage {
                background-image: url('../img/tab-mid-week.png');
            }
        }

        &:nth-child(3) {
            .advantage {
                background-image: url('../img/tab-split-mid-week.png');
            }
        }
    }

}

.advantage {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;

    p {
        .font-size(28);
        line-height: 1.42;
        letter-spacing: 0.38px;
        font-family: 'freight-display-pro';
        padding: 0 20px;
        max-width: 308px;
        margin: 0;

        @media (min-width: @breakpoint-small) {
            .font-size(38);
            padding: 0;
        }
    }

    &__arrow {
        position: absolute;
        right: 28px;
        bottom: 24px;
        z-index: 1;
        transform: rotate(180deg);
        color: #fff;
        transition: right @global-transition-duration;
    }
}

a.advantage:hover .advantage__arrow {
    right: 18px;
}