.offer {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100%;

    img {
        width: 100%;
        height: 124px;
        object-fit: cover;

        @media (min-width: @breakpoint-large) {
            width: 322px;
            height: 322px;
        }
    }

    p {
        .font-size(25);
        line-height: 1.46;
        width: 100%; // ie11 fix
        color: #606060;
    }

    span {
        .font-size(25);
        line-height: 1.04;
        color: #939393;
        margin: 0 auto;
        padding-right: 43px;

        @media (min-width: @breakpoint-large) {
            .font-size(23);
            line-height: 1.2;
            margin: 0;
            padding-right: 0;
        }
    }

    &__content {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        text-align: center;
        flex-grow: 1;

        @media (min-width: @breakpoint-large) {
            text-align: left;
        }

        .uk-button-primary.uk-button-small {
            .font-size(13);
            background-color: #30b298;
            padding: 20px;
            min-width: 190px;

            @media (min-width: @breakpoint-small) {
                .font-size(14);
                padding: 13px 22px;
                min-width: auto;
            }

            &:hover {
                color: #fff;
            }
        }

        p {
            margin-bottom: 60px;

            @media (min-width: @breakpoint-large) {
                margin-bottom: 40px;
            }
        }
    }

    &__header {
        display: flex;
        margin-bottom: 10px;
    }

    &__icon {
        margin-right: 12px;
    }

    &__link {
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: @breakpoint-large) {
        margin-left: 0;
        margin-right: 0;
        }
    }

    &__top {
        padding: 33px 26px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}