@font-face {
    font-family: 'sofia-pro';
    src: local('SofiaPro Regular'), local('SofiaProRegular'),
        url('../fonts/SofiaProRegular.woff2') format('woff2'),
        url('../fonts/SofiaProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sofia-pro';
    src: local('SofiaPro Medium'), local('SofiaProMedium'),
        url('../fonts/SofiaProMedium.woff2') format('woff2'),
        url('../fonts/SofiaProMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenirlt-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenirlt-light.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'freightdispprolight';
    src: url('../fonts/freightdispprolight-regular.woff') format('woff'),
    url('../fonts/freightdispprolight-regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'freightbigprobook-regular';
    src: url('../fonts/freightbigprobook-regular.woff') format('woff'),
    url('../fonts/freightbigprobook-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'freight-display-pro';
    src: url('../fonts/freight-display-pro.woff') format('woff'),
    url('../fonts/freight-display-pro.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
