.slider-reviews {

    .swiper-wrapper {
        padding-bottom: 80px;

        @media (min-width: @breakpoint-large) {
            padding-bottom: 0;
        }
    }

    .swiper-controls {
        position: absolute;
        top: auto;
        bottom: 50px;
        max-width: 100%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;

        @media (min-width: @breakpoint-small) {
            top: 50%;
            right: 0;
            bottom: auto;
            left: 0;
            max-width: 82%;
        }

        @media (min-width: @breakpoint-large) {
            max-width: 60%;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f0f0f0;
        color: #b7b7b7;

        @media (min-width: @breakpoint-small) {
            width: 71px;
            height: 71px;
        }

        &:hover,
        &:active,
        &:focus {
            color: @global-primary-color;
        }

        &:after {
            display: none;
        }

        .uk-icon {
            width: 16px;

            @media (min-width: @breakpoint-small) {
                width: 24px;
            }
        }

        .uk-icon svg {
            width: 12px;

            @media (min-width: @breakpoint-small) {
                width: 22px;
            }
        }
    }

    .swiper-button-next {
        text-align: right;
    }

    .swiper-button-prev {
        text-align: left;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .swiper-slide img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        transition-duration: @global-transition-duration * 3;

        @media (min-width: @breakpoint-small) {
            margin-top: 40px;
        }
    }

    .swiper-slide-prev img {
        transform: rotate(-5deg);
        transition-duration: @global-transition-duration * 3;
    }

    .swiper-slide-next img {
        transform: rotate(5deg);
        transition-duration: @global-transition-duration * 3;
    }

    .swiper-slide-active img {
        transform: rotate(0);
        transition-duration: @global-transition-duration * 3;
    }
}
