{# Menu - Main #}

{% set nodes = craft.navigation.nodes()
    .handle('main')
    .all()
%}

{% set nodes2nd = craft.navigation.nodes()
    .handle('mainSecondary')
    .all()
%}

{% set nodes3rd = craft.navigation.nodes()
    .handle('mainTertiary')
    .all()
%}

<div class="menu js-toggle-menu">

    <div class="menu__inner">

    	{# Navigation - Background Images #}

    	{% set imgDefault = url('assets/img/menu-bg.jpg') %}

    	{% set transformedImages = craft.imager.transformImage(imgDefault, [
            { width: 1200 }, 
            { width: 600, jpegQuality: 100 }, 
            { width: 400, jpegQuality: 100 }
            ], { position: '100% 100%', jpegQuality: 100 }, 
            { fillTransforms: true })
        %}

        <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="Menu background">

    	{% if nodes|length %}

    		{% for node in nodes %}

    			{% set asset = url('assets/img/menu-bg.jpg') %}

    			{% if node.element.navigationImg|length %}

    				{% set asset = node.element.navigationImg.one().getUrl() %}

    			{% endif %}

    			{% set transformedImages = craft.imager.transformImage(asset, [
		            { width: 1200 }, 
		            { width: 600, jpegQuality: 100 }, 
		            { width: 400, jpegQuality: 100 }
		            ], { position: '100% 100%', jpegQuality: 100 }, 
		            { fillTransforms: true })
		        %}

		        <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="Menu background" hidden id="toggle-hover{{ loop.index }}">
    			
    		{% endfor %}

    	{% endif %}

        <div class="menu__header-mobile">

            <button class="menu__button-back" type="button" data-uk-toggle="target: .js-toggle-menu; cls: is-menu-open;"><span data-uk-icon="menu-back"></span></button>

            <a class="menu__header-phone" href="tel:1234567890"><span data-uk-icon="phone"></span></a>

        </div>

        <div class="menu__nav-wrap">

        	{# Navigation - Main #}

        	{% if nodes|length %}

        		<div class="menu__nav">

	                <nav class="nav">

	                    <ul class="nav__list">

	                    	{% for node in nodes %}

	                    		<li class="nav__item">

		                            <a class="nav__link" href="{{ node.url }}" data-uk-toggle="target: #toggle-hover{{ loop.index }}; mode: hover; animation: uk-animation-fade, uk-animation-fade uk-animation-reverse; queued: true">{{ node.title }}</a>

		                        </li>
	                    		
	                    	{% endfor %}

	                    </ul>

	                </nav>

	            </div>

        	{% endif %}

        	{# Navigation - Main Secondary #}

			{% if nodes2nd|length %}

				<div class="menu__controls uk-flex uk-flex-wrap uk-flex-between@s">

					{% for node in nodes2nd %}

						<div>

		                    <a class="uk-button uk-button-default" href="{{ node.url }}">{{ node.title }}</a>

		                </div>

						
					{% endfor %}

	            </div>

			{% endif %}

			{# Navigation - Main Tertiary #}

	        {% if nodes3rd|length %}   

	            <div class="menu__links uk-text-center">

	            	{% for node in nodes3rd %}

	            		<a href="{{ node.url }}">{{ node.title }}</a>

	            		{% if not loop.last %}

	            			<div class="menu__links-divider"></div>

	            		{% endif %}
	            		
	            	{% endfor %}

	            </div>

			{% endif %}

			{# Element - Swirl Image #}

            <div class="uk-text-center">

                {% include "_inc/_elements/_swirl-nav-img" %}

            </div>

        </div>

    </div>

</div>