.thanks {
    position: relative;
    min-height: calc(~"100vh - 115px");

    @media (min-width: @breakpoint-small) {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    &__background {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        padding: 40px;
        position: relative;
        z-index: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: @breakpoint-small) {
            margin: auto;
            padding: 150px 40px;
        }
    }

    h1 {
        .font-size(30);
        font-family: 'freightdispprolight';
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: 2px;
        color: #fff;
        margin-bottom: 20px;

        @media (min-width: @breakpoint-small) {
            .font-size(40);
            letter-spacing: 2.8px;
            margin-bottom: 40px;
        }

        &:after {
            display: none;
        }
    }

    &__illustration {
        width: 188px;
        order: 1;

        @media (min-width: @breakpoint-small) {
            order: 0;
            width: 328px;
            margin-bottom: 28px;
        }
    }
}