{# Wedding Page Template #}

{% extends "_layout" %}

{% set templateName = "temp--wedding--detail" %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% block content %}

	<div class="main__detail-page">

        <section class="blog-card js-parent-to-next-section blog-card--real-wedding" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">

            <div class="container">

                <div class="blog-card__wrap">

                	<div class="blog-card__name">

                        Real wedding

                        <span data-uk-icon="underline"></span>
                        
                    </div>

                    <h1>

                        {{ entry.title }}<br>
                        {{ entry.postDate|date('d.m.y') }}

                    </h1>

                    <div class="blog-card__icon" data-uk-icon="swirl"></div>

                    <div class="blog-card__arrow js-to-next-section" data-uk-icon="down-arrow-roughness"></div>

                </div>

            </div>

        </section>

        {# Article #}

        <article class="article">

        	{# Article Blocks #}

			{% include '_inc/_article-blocks' %}

        </article>

	    {# Sharing #}

        <section class="share-this" data-uk-scrollspy="cls: fadeInLeft animated slow; repeat: false;">

            <div class="container container--small">

                <div class="share-this__wrap">

                    <h4>Share this</h4>
                        
                    {% include "_inc/_elements/_addThisShareButtons" %}

                </div>

            </div>

        </section>

        {# Blog List 

        {% set blogQuery = craft.entries()
		    .section('blog')
		    .orderBy('dateCreated asc')
		    .id('not ' ~ entry.id)
		    .limit(8)
		%}

		{% set blogs = blogQuery.all() %}

		{% if blogs|length %}

			<h5 class="article-list-title">You may also like...</h5>

	        <section class="article-list">

	            <img class="article-list__decor" src="{{ url('assets/img/article-list-decor.png') }}">

	            <img class="article-list__decor-line" src="{{ url('assets/img/article-list-decor-line.png') }}">

	            <div class="container">

	                <div class="article-list__wrap">

	                    <ul class="article-list__list" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">

	                    	{% for blog in blogs %}

	                    		<li class="article-list__item">

		                            <div class="blog blog--list">

		                            	{% include '_inc/_blocks/_blog/_blogList' %}

		                            </div>

		                        </li>
	                    		
	                    	{% endfor %}

	                    </ul>

	                </div>

	            </div>

	            <img class="article-list__decor-line" src="{{ url('assets/img/article-list-decor-line.png') }}">

	        </section>

		{% endif %}#}

        {# Content Blocks #}

		{% include '_inc/_content-blocks' %}

    </div>

{% endblock %}