{# Block - Banner Border #}

<section class="special">

    <div class="special__border">

        <div class="container">

            <div class="special__wrap">

            	{# Image #}

            	{% if block.img|length %}

            		{% set asset = block.img.one() %}
	            	
	            	{% set transformedImages = craft.imager.transformImage(asset, [
	                    { width: 1200 }, 
	                    { width: 600, jpegQuality: 100 }, 
	                    { width: 400, jpegQuality: 100 }
	                    ], { position: '100% 100%', jpegQuality: 100 }, 
	                    { fillTransforms: true })
	                %}

	                <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}" data-uk-scrollspy="cls: slideInUp animated; repeat: false;">

            	{% endif %}

            	{# Content #}
                
                <div class="special__content" data-uk-scrollspy="cls: slideInUp animated; delay: 250; repeat: false;">

                	{% if block.heading|length %}

                		<h2>{{ block.heading }}</h2>

                	{% endif %}

                	{% if block.subheading|length %}

                		<h3>{{ block.subheading }}</h3>

                	{% endif %}

                    {{ block.copy }}

                    {# Button #}

					{% if block.button|length %}

						{% set attributes = {
							class: 'uk-button uk-button-default',
	                        id: 'track--button__bannerBorder--' ~ currentLoop
	                    } %}

						<div class="special__button-wrap">

                            {{ block.button.link(attributes) }}

						</div>

					{% endif %}

                </div>

            </div>

        </div>

    </div>

    {# Block Helpers #}

    {% include "_inc/_blocks/_special/_blockHelpers" %}

</section>