{# Banner #}

{% if entry.banner|length %}

    {% for block in entry.banner.all() %}

        {% switch block.type %}

            {# New Blocks #}

            {% case "slides" %}
            
                {% include '_inc/_blocks/_banner/_slides' %}

            {% case "plain" %}
            
                {% include '_inc/_blocks/_banner/_plain' %}

            {% default %}

        {% endswitch %}

    {% endfor %}

{% endif %}