{# Block - Blog Block #}

<section class="section-blog uk-cover-container">

	{# Background Image #}

	{% if pageBlockBlog.img|length %}

		{% set asset = pageBlockBlog.img.one() %}
		
		<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" data-uk-cover="data-uk-cover">
		
	{% endif %}

	<div class="uk-position-relative">

		{% set heading = null %}

    	{% if block.heading|length %}

    		{% set heading = block.heading %}

    	{% elseif pageBlockBlog.heading|length %}

    		{% set heading = pageBlockBlog.heading %}

    	{% endif %}

    	{% if heading != null %}

			<div class="uk-flex uk-flex-center" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">

	            <h2>{{ heading }}</h2>

	        </div>

    	{% endif %}

    	{# Blog #}

	    {% set limit = 4 %}

	    {% if block.limit|length %}

	    	{% set limit = block.limit %}

	    {% endif %}

		{% set blogQuery = craft.entries()
		    .section('blog')
		    .limit(limit) %}

		{% set blogs = blogQuery.all() %}

		{% if blogs|length %}

		    <div class="container">

		        <div class="section-blog__content" data-uk-slider="" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false;">

		            <div class="uk-position-relative">

		                <ul class="uk-slider-nav uk-dotnav uk-flex-center"></ul>

		                <div class="uk-slider-container">

		                    <div class="uk-slider-items uk-grid uk-grid-small uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-4@l">

		                    	{% for blog in blogs %}

		                    		<div>

			                            <div class="blog">

			                                {% include '_inc/_blocks/_blog/_blogList' %}

			                            </div>

			                        </div>
		                    		
		                    	{% endfor %}

		                    </div>

		                </div>

		                <div class="uk-hidden@l section-blog__arrows uk-text-center">

		                    <a class="section-blog__arrow" href="#" data-uk-slider-item="previous"><span data-uk-icon="arrow-left"></span></a>

		                    <a class="section-blog__arrow" href="#" data-uk-slider-item="next"><span data-uk-icon="arrow-right"></span></a>

		                </div>

		            </div>

		        </div>

		        {# List Page Link #}

	            {% if pageBlockBlog.globalLink|length %}

	            	{% set attributes = {
						class: 'uk-button section-blog__all-blog-link',
                        id: 'track--button__blogViewAll'
                    } %}

                    <div class="uk-text-center">

                    	{{ pageBlockBlog.globalLink.link(attributes) }}

		            </div>

				{% endif %}

		    </div>

		{% endif %}

	</div>

	{# Block Helpers #}

	{% include "_inc/_blocks/_special/_blockHelpers" %}

</section>