{# Block - Blog Listing #}

{# Filters #}

{% if block.showFilters == 1 %}

	<section class="filter-posts" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">

	    <div class="container">

	    	{# Filter Heading #}

	    	{% if block.heading|length %}

	    		<h3 class="filter-posts__title">{{ block.heading }}</h3>

	    	{% endif %}

	    	{# Categories #}

	    	{% set categories = craft.categories
	    		.group("blog")
	    		.all()
	    	%}
	    	
	        <div class="filter-posts__search-wrapper">

	            <div class="filter-posts__search-title-wrapper">

	                <div class="filter-posts__search-title">

	                	<a href="{{ url(craft.app.request.getSegment(1)) }}">All</a>

	                </div>

	            </div>

				{# Search Form #}

	            <form class="filter-posts__search" action="{{ url(craft.app.request.getSegment(1)) }}">

	            	<span class="filter-posts__search-icon js-toggle-input-search" data-uk-icon="search"></span>

	            	{# <input type="submit" value="Go"> #}

	            	<input class="filter-posts__search-input uk-input" placeholder="Type here..." name="search" />

	            </form>

	        </div>

	        <ul class="filter-posts__category-list">

	        	{% nav category in categories %}

		            <li class="filter-posts__category-item">

		                <a class="filter-posts__category-link" href="{{ category.getUrl() }}">

		                	<span class="filter-posts__category-icon filter-posts__category-icon--{{ category.colour }} style--color-{{ category.colour }}" data-uk-icon="swirl"></span>

		                	<span class="filter-posts__category-name">{{ category.title }}</span>
		                	
		                </a>

		            </li>

	            {% endnav %}

	        </ul>

	    </div>

	</section>

{% endif %}

{# Blog List #}

{% if block.showList == 1 %}

	{# Check Category #}

	{% set related = null %}

	{% if craft.app.request.getSegment(2) == "category" and craft.app.request.getSegment(3) != "" %}

		{% set related = craft.categories()
			.slug(craft.app.request.getSegment(3))
			.one()
		%}

	{% endif %}

	{# Check Search #}

	{% set searchQuery = null %}

	{% if craft.app.request.getQueryParam('search')|length %}

		{% set searchQuery = craft.app.request.getQueryParam('search') %}

	{% endif %}

	{# Set Blog List #}

	{% set blogQuery = craft.entries()
	    .section('blog')
	    .relatedTo(related)
	    .search(searchQuery)
	    .limit(4)
	%}

	{% set blogQueryAll = craft.entries()
	    .section('blog')
	    .relatedTo(related)
	    .search(searchQuery)
	%}

	{% set blogs = blogQuery.all() %}
	{% set blogsAll = blogQueryAll.all() %}

	<section class="article-list">

	    <img class="article-list__decor" src="{{ url('assets/img/article-list-decor.png') }}">

	    <img class="article-list__decor-line" src="{{ url('assets/img/article-list-decor-line.png') }}">

	    <div class="container">

	        <div class="article-list__wrap">

	        	{% if blogs|length %}

	        		<div id="article-list__list">
	        		
	        			<ul class="article-list__list" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">

			            	{% for blog in blogs %}

			            		<li class="article-list__item">

			                    	<div class="blog blog--list">
			            			
			            				{% include '_inc/_blocks/_blog/_blogList' %}

			            			</div>

			            		</li>

			            	{% endfor %}

			            </ul>
	        		
	        		</div>

	        		{# JS #}

	        		{% js %}

						$('body').on('click', '#load-posts', function(e) {

							e.preventDefault();

							var objButton = $(this);

							objButton.attr("disabled", true);
							
							var intOffset = parseInt(objButton.attr('data-offset'));
							var strCategory = "{{ craft.app.request.getSegment(3) }}";
							var strSearch = "{{ craft.app.request.getQueryParam('search') }}";
							var intTotalBlogs = parseInt({{ blogsAll|length }});

							var intNewOffset = intOffset + 4;

							if (intNewOffset >= intTotalBlogs) {

								objButton.fadeOut(750, function(){

									objButton.remove();

								});

							}

							$.get('{{ url("ajax/blogList") }}', { offset: intOffset, category: strCategory, search: strSearch } )
							.done(function( data ) {

								objButton.attr("disabled", false);

								objButton.attr('data-offset', intNewOffset);

								$('#article-list__list ul').append(data);

							});

						});		

	        		{% endjs %}
	        		
		            <div class="article-list__loading">

		                <img class="article-list__loading-image" src="{{ url('assets/img/polhawn-icon.png') }}" alt="Polhawn icon">

		                {% if blogsAll|length > blogs|length %}

		                	<div>

			                	<button class="uk-button uk-button-primary uk-button-small" data-offset="4" id="load-posts">Load older posts</button>
			                
			                </div>

		                {% endif %} 

		            </div>

	        	{% else %}
	        		
	        		<div class="">
	        		
	        			<p>There are currently no blogs in this category.</p>
	        		
	        		</div>

	        	{% endif %}

	        </div>

	    </div>

	    <img class="article-list__decor-line" src="{{ url('assets/img/article-list-decor-line.png') }}">

	    {# Block Helpers #}

		{% include "_inc/_blocks/_special/_blockHelpers" %}

	</section>

{% endif %}	