{# Block - Content Banner #}

{# Style #}

{% set styleClass = "" %}

{% if block.style|length and block.style is defined %}

    {% set style = block.style.one() %}

    {% if style.title == "Grey" %}

        {% set styleClass = "inspiration--with-underline" %}

    {% endif %}

{% endif %}

<section class="inspiration inspiration--{{ block.layout }} {{ styleClass }}">

    <div class="container">

        <div class="inspiration__wrap">

        	{# Image #}

        	{% if block.img|length %}

        		{% set asset = block.img.one() %}

	            {% set transformedImages = craft.imager.transformImage(asset, [
	                { width: 1200 }, 
	                { width: 600, jpegQuality: 100 }, 
	                { width: 400, jpegQuality: 100 }
	                ], { position: '100% 100%', jpegQuality: 100 }, 
	                { fillTransforms: true })
	            %}

	            <div class="inspiration__back-wrapper">

	            	<img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}">

	            </div>

        	{% endif %}
	
            <div class="inspiration__card" data-uk-scrollspy="cls: fadeInRight animated slow; repeat: true">

            	{# Style #}

                <div class="inspiration__card-image-wrap">

                    {% if styleClass == "inspiration--with-underline" %}

                        <img src="{{ url('assets/img/layer-gray.jpg') }}" alt="border" />

                    {% else %}
                        
                        <img src="{{ url('assets/img/layer.jpg') }}" alt="border" />

                    {% endif %}
                    
                </div>

                {# Content #}

                <div class="inspiration__card-content">

                	{% if block.heading|length %}

                		<h2>{{ block.heading }}</h2>

                	{% endif %}

                	{% if block.subheading|length %}

                		<h3>{{ block.subheading }}</h3>

                	{% endif %}

                    {{ block.copy }}

                </div>

            </div>

        </div>

    </div>

    {# Block Helpers #}

    {% include "_inc/_blocks/_special/_blockHelpers" %}

</section>