{# Block - Copy Image #}

<section class="events-description">

    <div class="container">

        <div class="events-description__wrap">

        	{# Image #}

        	{% if block.img|length or block.bgImg|length %}

	            <div class="events-description__media">

                    {% if block.bgImg|length %}

                        {% set asset = block.bgImg.one() %}

                        {% set transformedImages = craft.imager.transformImage(asset, [
                            { width: 1200 }, 
                            { width: 600, jpegQuality: 100 }, 
                            { width: 400, jpegQuality: 100 }
                            ], { position: '100% 100%', jpegQuality: 100 }, 
                            { fillTransforms: true })
                        %}

                        <div class="events-description__back-wrap" data-uk-scrollspy="cls: fadeInUp animated; repeat: false;">

                            <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}">

                        </div>

                    {% endif %}

                    {% if block.img|length %}

                        {% set asset = block.img.one() %}

                        {% set transformedImages = craft.imager.transformImage(asset, [
                            { width: 1200 }, 
                            { width: 600, jpegQuality: 100 }, 
                            { width: 400, jpegQuality: 100 }
                            ], { position: '100% 100%', jpegQuality: 100 }, 
                            { fillTransforms: true })
                        %}
    	                

    	                <div class="events-description__image-wrap" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false;">

    	                    <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}">

    	                </div>

                    {% endif %}

	            </div>

			{% endif %}

            <div class="events-description__content" data-uk-scrollspy="cls: fadeInUp animated; delay: 350; repeat: false;">

            	{# Style #}

                <div class="events-description__line">

                    <img src="{{ url('assets/img/color-line-blue.png') }}" alt="border" />

                </div>

                {# Content #}

                <div class="events-description__content-body">

                    {% if block.heading|length %}

                		<h2>{{ block.heading }}</h2>

                	{% endif %}

                	{% if block.subheading|length %}

                		<h3>{{ block.subheading }}</h3>

                	{% endif %}

                    {{ block.copy }}

                </div>

            </div>

        </div>

    </div>

    {# Block Helpers #}

    {% include "_inc/_blocks/_special/_blockHelpers" %}

</section>