{# Block - CTAs with Background #}

{% if block.ctaBlock|length %}

	{% set ctas = block.ctaBlock.all() %}

	<section class="advantages" data-uk-scrollspy="cls: fadeInDown animated slow; offset: 250; repeat: false;">

	    <div class="container">

	        <ul class="advantages__list">

	        	{% for cta in ctas %}

	        		<li class="advantages__item">

	        			{% if cta.ctaLink|length %}

	        				<a class="advantage" href="{{ cta.ctaLink.url }}">

	        			{% else %}
	        				
	        				<span class="advantage">

	        			{% endif %}

	            		{% if cta.text|length %}

	            			<p>{{ cta.text }}</p>

	            		{% endif %}

	            		{% if cta.ctaLink|length %}

	            			<span class="advantage__arrow" data-uk-icon="step-back"></span>

	        				</a>

	        			{% else %}
	        				
	        				</span>

	        			{% endif %}

		            </li>
	        		
	        	{% endfor %}

	        </ul>

	    </div>

	    {# Block Helpers #}

		{% include "_inc/_blocks/_special/_blockHelpers" %}

	</section>

{% endif %}