{# Block - 27. Explore Rooms #}

<section class="section--explore-rooms">

	<div class="uk-container">

		{# Heading #}
	
		{% if block.heading|length %}

			<div class="block--heading" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">
			
				<h2>{{ block.heading }}</h2>

				<a href="#" class="uk-button launch--bedrooms">Launch Bedroom Plans</a>
			
			</div>

		{% endif %}

		{# Images #}

		{% if block.imgs|length %}

			{% set assets = block.imgs.all() %}

			<div class="block--imgs">
			
				{% for asset in assets %}
					
					<div class="block--img" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">
					
						<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">
					
					</div>

				{% endfor %}
			
			</div>

		{% endif %}
	
	</div>

</section>