{# Block - FAQs #}

{% if block.faqs|length %}

	<section class="section--faqs">

		<img class="album-list__decor" src="{{ url('assets/img/med-grey-top-01.png') }}" alt="" />

		<div class="uk-container">

		    {% set faqTitles = block.faqs.all() %}

		    <div class="block--faqs">
		    
		    	<ul class="faqs--level-1" uk-accordion>

		    		{% for faqTitle in faqTitles %}

		    			{% if faqTitle.faqs|length %}

		    				<li class="faq--level-1 {{ cycle(['alpha', 'beta', 'gamma', 'delta', 'epsilon'], loop.index0) }}">
				    	
				    	        <a class="uk-accordion-title faq--level-1--title" href="#">{{ faqTitle.title }}</a>
				    	
				    	        <div class="faq--level-1--content uk-accordion-content">

				    	        	{% set faqs = faqTitle.faqs.all() %}

				    	        	<ul class="faqs--level-2" uk-accordion>

				    	        		{% for faq in faqs %}

				    	        			<li>
					    	        	
					    	        	        <a class="uk-accordion-title" href="#"><span>{{ faq.heading }}</span></a>
					    	        	
					    	        	        <div class="uk-accordion-content">
					    	        	
					    	        	            {{ faq.copy }}
					    	        	
					    	        	        </div>
					    	        	        
					    	        	    </li>
				    	        			
				    	        		{% endfor %}

				    	        	</ul>
				    	
				    	        </div>
				    	        
				    	    </li>

		    			{% endif %}
		    			
		    		{% endfor %}

		    	</ul>
		    
		    </div>

		</div>

	</section>

{% endif %}