{# Block - Form Journey #}

{% set journies = entry.formJourney.all() %}

<div class="request">

	<div class="request-start">

    	<div class="request-start__list">

	        <section class="request-start__item target-arrange-viewing target-brochure-request target-talk-to-us">

	            <div class="container">

	                <div class="request-start__item-inner">

	                    <div class="request-start__header">

	                    	{# Heading / Subheading #}

	                    	{% if entry.heading|length %}
	                    		{% spaceless %}
	                    			
		                    		<h1>

		                    			{{ entry.heading }}

		                    			{% if entry.subheading|length %}

		                    				<span>{{ entry.subheading }}</span>

		                    			{% endif %}

		                    		</h1>

		                    	{% endspaceless %}
	                    	{% endif %}

	                    </div>

	                    {# Entry Links #}

	                    {% for journey in journies %}

	                    	<div class="request-start__button">

	                    		<a href="{{ journey.getUrl() }}" class="uk-button uk-button-default">{{ journey.title }}</a>

	                    	</div>
	                    	
	                    {% endfor %}

	                </div>

	            </div>

	            <div class="request-start__swirl">

	                <img src="{{ url('assets/img/swirl.png') }}" alt="swirl" />

	            </div>

	        </section>

        </div>

    </div>

</div>