{# Block - Blog Block #}

{% if block.imgs|length %}

	{% set assets = block.imgs.all() %}

	<section class="album-list album-list--gallery">

	    <img class="album-list__decor" src="{{ url('assets/img/album-list-decor-grey.png') }}" alt="" />
	    <img class="album-list__decor-line" src="{{ url('assets/img/article-list-decor-line.png') }}" alt="" />

	    <div class="container">

	        <div class="album-list__wrap">

	            <div class="album-list__filter" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">

	                <div data-uk-filter="target: .js-filter">

	                    <div class="wedding-filter wedding-filter--gallery">

	                    	{# Filter Heading #}

	                    	{% if block.filterHeading|length %}

	                    		<div class="wedding-filter__title">{{ block.filterHeading }}</div>

	                    	{% endif %}

	                    	{# Filters #}

	                    	{% set filters = craft.categories
					    		.group("gallery")
					    		.all()
					    	%}

	                        {% if block.showFilters == 1 and filters|length %}

	                        	<div class="wedding-filter__slider swiper-container js-gallery-slider">

		                            <ul class="wedding-filter__link">

		                                <li data-uk-filter-control>

		                                    <a href="#" class="uk-active">All</a>

		                                </li>

		                            </ul>

		                            <ul class="swiper-wrapper wedding-filter__list">

		                            	{% nav filter in filters %}

		                            		{{ cycle(['<li class="wedding-filter__item swiper-slide">', ''], loop.index0)|raw }}

			                        			<a class="wedding-filter__filter-link" href="#" data-uk-filter-control="[filter*='{{ filter.slug }}']">{{ filter.title }}</a>

			                        		{{ cycle(['', '</li>'], loop.index0)|raw }}
		                            		
		                            	{% endnav %}

		                            </ul>

		                            <div class="wedding-filter__slider-button">

		                                <div class="swiper-button-prev"><span data-uk-icon="chevron-left"></span></div>

		                                <div class="swiper-button-next"><span data-uk-icon="chevron-right"></span></div>

		                            </div>

		                        </div>

	                        {% endif %}

	                    </div>

	                    {# Images #}

	                    <ul class="js-filter uk-child-width-1-2 uk-child-width-1-4@m uk-light" uk-grid="masonry: true; parallax: 200;" data-uk-lightbox="animation: fade">

	                    	{% set thumb = {
							    mode: 'crop',
							    width: 500,
							    quality: 70,
							    position: 'center-center'
							} %}

							{% set large = {
							    mode: 'crop',
							    width: 1920,
							    quality: 70,
							    position: 'center-center'
							} %}

	                    	{% for asset in assets %}

	                    		{% set cats = null %}

	                    		{% if asset.galleryCategory|length %}

	                    			{% for cat in asset.galleryCategory.all() %}

	                    				{% if loop.first %}

	                    					{% set cats = cat.slug %}

	                    				{% else %}

	                    					{% set cats = cats ~ ' ' ~ cat.slug %}

	                    				{% endif %}
	                    				
	                    			{% endfor %}

	                    		{% endif %}

	                    		<li {% if cats != null %}filter="{{ cats }}" {% endif %}date="{{ asset.dateCreated|date('Y-m-d') }}">

		                            <div>

		                            	{% set href = asset.getUrl(large) %}

		                            	{% if asset.video|length %}

		                            		{% set href = asset.video %}

		                            	{% endif %}

		                                <a href="{{ href }}" data-alt="alt"{% if asset.video|length %} class="wedding-filter__video-link"{% endif %}>

		                                    <img src="{{ asset.getUrl(thumb) }}" alt="{{ asset.title }}" />

		                                    {% if asset.video|length %}

			                            		<div><span data-uk-icon="camera"></span><span>play</span></div>

			                            	{% endif %}

		                                </a>

		                            </div>

		                        </li>
	                    		
	                    	{% endfor %}

	                    </ul>

	                </div>

	            </div>

	        </div>

	    </div>

	    <img class="album-list__decor-line" src="{{ url('assets/img/article-list-decor-line.png') }}" alt="" />

	    {# Block Helpers #}

		{% include "_inc/_blocks/_special/_blockHelpers" %}

	</section>

{% endif %}