{# Block - Heading Images Video Copy #}

<section class="section-mix-content js-trigger-hamburger">

    <div class="container uk-position-relative">

    	{# Heading #}

    	{% if block.heading|length %}

    		<div class="section-mix-content__title" data-uk-scrollspy="cls: slideInLeft animated slow; repeat: false;">

	            <h2>{{ block.heading }}</h2>

	        </div>

    	{% endif %}

		{# Content #}

        <div class="section-mix-content__media">

            <img class="section-mix-content__line" src="{{ url('assets/img/color-line-grey.png') }}" srcset="{{ url('assets/img/color-line-grey.png') }}, {{ url('assets/img/color-line-grey@2x.png') }} 2x" alt="decoration line" width="11" height="576" data-uk-scrollspy="cls: slideInUp animated slow; repeat: false;" />

            {# Image #}

            {% if block.img|length %}

            	{% set asset = block.img.one() %}

                {% set transformedImages = craft.imager.transformImage(asset, [
                    { width: 1200 }, 
                    { width: 600, jpegQuality: 100 }, 
                    { width: 400, jpegQuality: 100 }
                    ], { position: '100% 100%', jpegQuality: 100 }, 
                    { fillTransforms: true })
                %}

                <div class="section-mix-content__media-wrap" data-uk-scrollspy="cls: slideInUp animated slow; repeat: false;">

                	<img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}">

                </div>

            {% endif %} 

            {# Video / Gallery #}

            {% if block.video|length or block.gallery|length %}

            	<div class="section-mix-content__aside">

	                <div data-uk-scrollspy="cls: slideInUp animated slow; repeat: false;">

	                    <div class="slider-mix-content">

	                        <div data-uk-slideshow="min-height: 450">

	                            <div class="uk-position-relative uk-height-1-1" tabindex="-1">

	                                <ul class="uk-slideshow-items uk-height-1-1">

	                                	{# Video #}

					            		{% if block.video|length %}

					            			<li>

							            		{% if block.gallery|length %}

							            			{% set asset = block.gallery.one() %}

							            			{% set transformedImages = craft.imager.transformImage(asset, [
									                    { width: 1200 }, 
									                    { width: 600, jpegQuality: 100 }, 
									                    { width: 400, jpegQuality: 100 }
									                    ], { position: '100% 100%', jpegQuality: 100 }, 
									                    { fillTransforms: true })
									                %}

									                <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}" style="object-fit: contain;">

							            		{% endif %}

	                                            <div class="section-mix-content__play-button">

	                                                <button class="play-button" data-uk-toggle="target: #modal-media-video--{{ currentLoop }}" type="button"><span>

	                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 151 151">

	                                                            <circle cx="75.5" cy="75.5" r="75.5" fill="#fff" opacity=".6" />

	                                                            <path d="M88.61 81L72.39 91.56A4.14 4.14 0 0166 88.09V67a4.13 4.13 0 016.39-3.46l16.22 10.54a4.14 4.14 0 010 6.92z" fill="#30b298" />

	                                                        </svg>

	                                                    </span>

	                                              	</button>

	                                            </div>

	                                        </li>

	                                        {# Video Modal #}

	                                        <div class="uk-flex-top modal-video" id="modal-media-video--{{ currentLoop }}" data-uk-modal="">

									            <div class="uk-modal-dialog uk-width-1-1 uk-height-1-1 uk-margin-auto-vertical">

									                <button class="uk-modal-close-outside" type="button" data-uk-close=""></button>

									                <iframe class="uk-width-1-1 uk-height-1-1" src="{{ block.video }}" data-uk-video=""></iframe>

									            </div>

									        </div>

									    {# Gallery #}

					            		{% elseif block.gallery|length %}

					            			{% set assets = block.gallery.all() %}

						            		{% for asset in assets %}

		                                		{% set transformedImages = craft.imager.transformImage(asset, [
								                    { width: 1200 }, 
								                    { width: 600, jpegQuality: 100 }, 
								                    { width: 400, jpegQuality: 100 }
								                    ], { position: '100% 100%', jpegQuality: 100 }, 
								                    { fillTransforms: true })
								                %}

		                                		<li>

			                                        <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}" style="object-fit: contain;">

			                                    </li>
		                                		
		                                	{% endfor %}

					            		{% endif %}

									</ul>

                            	</div>

                            	<ul class="uk-slideshow-nav uk-dotnav uk-flex-center"></ul>

                        	</div>

                    	</div>

	                </div>

	            </div>

            {% endif %}

        </div>

        {# Copy #}

        {% if block.copy|length %}

        	<div class="section-mix-content__content">

	            <div class="read-more">

	                <div>

	                    <div class="uk-overflow-hidden read-more__text">

	                        <div data-uk-scrollspy="cls: slideInLeft animated; delay: 250; repeat: false;">

	                            {{ block.copy }}

	                        </div>

	                    </div>

	                    {% if block.copyVideo|length %}

	                    	<div class="read-more__play-button">

                                <button class="play-button" data-uk-toggle="target: #modal-media-video--{{ currentLoop }}" type="button">

                                	<span>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 151 151">
                                            <circle cx="75.5" cy="75.5" r="75.5" fill="#fff" opacity=".6" />
                                            <path d="M88.61 81L72.39 91.56A4.14 4.14 0 0166 88.09V67a4.13 4.13 0 016.39-3.46l16.22 10.54a4.14 4.14 0 010 6.92z" fill="#30b298" />
                                        </svg>
                                    </span>

                                   	<span>Watch this</span>

                               	</button>

                            </div>

                            {# Video Modal #}

                            <div class="uk-flex-top modal-video" id="modal-media-video--{{ currentLoop }}" data-uk-modal="">

					            <div class="uk-modal-dialog uk-width-1-1 uk-height-1-1 uk-margin-auto-vertical">

					                <button class="uk-modal-close-outside" type="button" data-uk-close=""></button>

					                <iframe class="uk-width-1-1 uk-height-1-1" src="{{ block.copyVideo }}" data-uk-video=""></iframe>

					            </div>

					        </div>

	                    {% elseif block.copyImg|length %}

	                    	{% set asset = block.copyImg.one() %}
	                    	
	                    	<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">
	                    	
	                    {% endif %}

	                </div>

	                {# Read More #}

	                {% if block.readMore|length %}

	                	<ul data-uk-accordion="">

		                    <li>

		                        <a class="uk-accordion-title" href="#"><span data-uk-icon="chevron-down"></span><span>Read more</span></a>

		                        <div class="uk-accordion-content">

		                            {{ block.readMore }}

		                        </div>

		                    </li>

		                </ul>

	                {% endif %}

	            </div>

	        </div>

        {% endif %}

    </div>

    {# Block Helpers #}

	{% include "_inc/_blocks/_special/_blockHelpers" %}

</section>