{# Block - Images Copy Read More #} 

<section class="section-mix-content section-mix-content--right-content">

    <div class="container uk-position-relative">

        <div class="section-mix-content__media">

        	{# Styled Line #}

            <img class="section-mix-content__line" src="img/color-line-purple.png" alt="decoration line" width="11" height="575" data-uk-scrollspy="cls: slideInUp animated slow; repeat: false;" />

            {# Main Image #}

            {% if block.mainImg|length %}

            	{% set asset = block.mainImg.one() %}

	            {% set transformedImages = craft.imager.transformImage(asset, [
	                { width: 1200 }, 
	                { width: 600, jpegQuality: 100 }, 
	                { width: 400, jpegQuality: 100 }
	                ], { position: '100% 100%', jpegQuality: 100 }, 
	                { fillTransforms: true })
	            %}

            	<div class="section-mix-content__media-wrap" data-uk-scrollspy="cls: slideInUp animated slow; repeat: false;">

	                <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}">

	            </div>

            {% endif %}

           	{% if block.topLeftImg|length or block.bottomLeftImg|length %}

           		<div class="section-mix-content__aside">

           			{# Top Left Image #}

           			{% if block.topLeftImg|length %}

           				{% set asset = block.topLeftImg.one() %}

			            {% set transformedImages = craft.imager.transformImage(asset, [
			                { width: 1200 }, 
			                { width: 600, jpegQuality: 100 }, 
			                { width: 400, jpegQuality: 100 }
			                ], { position: '100% 100%', jpegQuality: 100 }, 
			                { fillTransforms: true })
			            %}

           				<div data-uk-scrollspy="cls: slideInUp animated slow; repeat: false;">

		                    <div class="slider-mix-content">

		                        <div data-uk-slideshow min-height: 452">

		                            <div class="uk-position-relative uk-height-1-1" tabindex="-1">

		                                <ul class="uk-slideshow-items uk-height-1-1">

		                                    <li>

		                                        <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}" style="object-fit: contain;">

		                                    </li>

		                                </ul>

		                            </div>

		                            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center"></ul>

		                        </div>

		                    </div>

		                </div>

           			{% endif %}

		            {# Bottom Left Image #}

	                {% if block.bottomLeftImg|length %}

	                	{% set asset = block.bottomLeftImg.one() %}

			            {% set transformedImages = craft.imager.transformImage(asset, [
			                { width: 1200 }, 
			                { width: 600, jpegQuality: 100 }, 
			                { width: 400, jpegQuality: 100 }
			                ], { position: '100% 100%', jpegQuality: 100 }, 
			                { fillTransforms: true })
			            %}

	                	<div data-uk-scrollspy="cls: slideInUp animated slow; repeat: false;">

		                    <div class="slider-mix-content">

		                        <div data-uk-slideshow min-height: 475">

		                            <div class="uk-position-relative uk-height-1-1" tabindex="-1">

		                                <ul class="uk-slideshow-items uk-height-1-1">

		                                    <li>

		                                        <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}" style="object-fit: contain;">

		                                    </li>

		                                </ul>

		                            </div>

		                            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center"></ul>

		                        </div>

		                    </div>

		                </div>

	                {% endif %}

	            </div>

           	{% endif %}

        </div>

        {# Copy / Read More #}

        {% if block.copy|length %}

        	<div class="section-mix-content__content">

	            <div class="read-more">

	            	{# Copy #}

	                <div>

	                    <div class="uk-overflow-hidden read-more__text">

	                        <div data-uk-scrollspy="cls: slideInLeft animated; delay: 250; repeat: false;">

	                            {{ block.copy }}

	                        </div>

	                    </div>

	                </div>

	                {# Read More #}

	                {% if block.readMore|length %}

	                	<ul data-uk-accordion="">

		                    <li>

		                        <a class="uk-accordion-title" href="#"><span data-uk-icon="chevron-down"></span><span>Read more</span></a>

		                        <div class="uk-accordion-content">

		                            {{ block.readMore }}

		                        </div>

		                    </li>

		                </ul>

					{% endif %}

					{# Button #}

					{% if block.button|length %}

						{% set attributes = {
							class: 'uk-button uk-button-default',
	                        id: 'track--button__tellMeMore--' ~ currentLoop
	                    } %}

						<div class="read-more__button">

                            {{ block.button.link(attributes) }}

						</div>

					{% endif %}

	            </div>

	        </div>

        {% endif %}

    </div>

    {# Block Helpers #}

	{% include "_inc/_blocks/_special/_blockHelpers" %}

</section>