{# Block - Images Left / Fixed Text #}

<section class="article-list article-list--our-weddings">

    <img class="article-list__decor-line" src="{{ url('assets/img/article-list-decor-line.png') }}">

    <div class="container">

        <div class="article-list__wrap">

        	{# Heading #}

	    	{% if block.heading|length %}

		        <h2>{{ block.heading }}</h2>

	    	{% endif %}

            <article class="our-weddings">

            	{# Images #}

            	{% if block.imgs|length %}

            		{% set assets = block.imgs.all() %}

            		<div class="our-weddings__side-images">

	            		{% for asset in assets %}
	            			
	            			<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">
	            			
	            		{% endfor %}

	                </div>

            	{% endif %}

                <div class="our-weddings__content">

                	{# Subheading #}

                	{% if block.subheading|length %}

				        <h1>{{ block.subheading }}</h1>

			    	{% endif %}

                    {# Images #}

            		{% if block.imgs|length %}

            			{% set assets = block.imgs.all() %}

	                    <div class="our-weddings__slider" data-uk-slideshow="animation: push">

	                        <ul class="uk-slideshow-items">

	                        	{% for asset in assets %}

		                            <li>

		                                <img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">

		                            </li>

		                        {% endfor %}

	                        </ul>

	                        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>

	                    </div>

	                {% endif %}
	                
	                {# Copy #}

	                {{ block.copy }}

	                {# Button #}

	                {% if block.button|length %}

	                	{% set attributes = {
							class: 'uk-button uk-button-default'
	                    } %}

	                    <div class="our-weddings__button-wrap">

	                    	{{ block.button.link(attributes) }}

			            </div>

	                {% endif %}

                </div>

            </article>

        </div>

    </div>

    {# Block Helpers #}

	{% include "_inc/_blocks/_special/_blockHelpers" %}

</section>