{# Block - Intro Text #}

{% if block.copy|length %}

	<section class="section-intro{% if templateName == "temp--default" %} section-intro--dream{% endif %}{% if entry.slug == "latest-offers" or entry.slug == "weddings" %} section-intro--idos section-intro--special-offers{% endif %}{% if block.removeMargin == 1 %} uk-margin-remove-top{% endif %}">

		{% if templateName == "temp--home" and block.showBackgroundImage == 1 %}

			<img src="{{ url('assets/img/intro-home.jpg') }}" alt="I see the sea" />

		{% elseif templateName == "temp--default" and block.showBackgroundImage == 1 %}
			
			<img src="{{ url('assets/img/section-intro-bg.png') }}" alt="Polhawn swirl" />

		{% endif %}

	    <div class="section-intro__wrap" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false; offset-top: -250">

	        <div class="section-intro__detail{% if block.removeMargin == 1 %} uk-margin-remove-top{% endif %}">

	            {{ block.copy }}

	        </div>

	        {% if templateName == "temp--default" %}
			
				<div class="section-intro__icon uk-text-center">

	                <img src="{{ url('assets/img/polhawn-icon.png') }}" alt="Polhawn icon" width="43" height="43" />
	                
	            </div>

			{% endif %}

	    </div>

	    {# Block Helpers #}

	    {% include "_inc/_blocks/_special/_blockHelpers" %}

	</section>

{% endif %}