{# Block - Latest Offers Listing #}

<section class="article-list article-list--offers">

	<img class="article-list__decor" src="{{ url('assets/img/article-list-decor.png') }}">

	<img class="article-list__decor-line" src="{{ url('assets/img/article-list-decor-line.png') }}">

    <div class="container">

        <div class="article-list__wrap">

        	{# Heading #}

        	{% if block.heading|length %}

        		<h2>{{ block.heading }}</h2>

        	{% endif %}

            {# Latest Offers List #}

            {% set latestOffersQuery = craft.entries()
			    .section('latestOffers')
			%}

			{% set offers = latestOffersQuery.all() %}

			{% if offers|length %}

	            <ul class="article-list__list" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">

	            	{% for offer in offers %}

	            		<li class="article-list__item">

	            			{% include "_inc/_blocks/_offers/_offer" %}

		                    {# <div class="blog">
		                    
		                    		                        <div class="blog__top">
		                    
		                    		                            <div class="blog__header">
		                    
		                    		                                <div class="blog__icon">
		                    
		                    		                                    <div data-uk-icon="calendar"></div>
		                    
		                    		                                </div><span>September</span>
		                    
		                    		                            </div>
		                    
		                    		                            <div class="blog__content">
		                    
		                    		                                <p>Autumn 2019 weekend wedding</p>
		                    
		                    		                                <div class="blog__link">
		                    
		                    		                                    <a class="uk-button uk-button-primary uk-button-small" href="#">View offer</a>
		                    
		                    		                                </div>
		                    
		                    		                            </div>
		                    
		                    		                        </div>
		                    
		                    		                        <img src="img/offer.jpg" alt="Offer image" width="322" height="322" />
		                    
		                    		                    </div> #}

		                </li>
	            		
	            	{% endfor %}

	            </ul>

	        {% endif %}

        </div>

    </div>

    <img class="article-list__decor-line" src="{{ url('assets/img/article-list-decor-line.png') }}">

    {# Block Helpers #}

	{% include "_inc/_blocks/_special/_blockHelpers" %}

</section>
