{# Block - Latest Offers #}

<section class="section-offers uk-cover-container">

	{# Background Image #}

	{% if pageBlockLatestOffers.img|length %}

		{% set asset = pageBlockLatestOffers.img.one() %}
		
		<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" data-uk-cover="data-uk-cover">
		
	{% endif %}

	{# Heading #}

    <div class="uk-position-relative">

    	{% set heading = null %}

    	{% if block.heading|length %}

    		{% set heading = block.heading %}

    	{% elseif pageBlockLatestOffers.heading|length %}

    		{% set heading = pageBlockLatestOffers.heading %}

    	{% endif %}

    	{% if heading != null %}

			<div class="uk-flex uk-flex-center" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">

	            <h2>{{ heading }}</h2>

	        </div>

    	{% endif %}

	    {# Latest Offers #}

	    {% set limit = 4 %}

	    {% if block.limit|length %}

	    	{% set limit = block.limit %}

	    {% endif %}

		{% set latestOffersQuery = craft.entries()
		    .section('latestOffers')
		    .limit(limit) %}

		{% set offers = latestOffersQuery.all() %}

		{% if offers|length %}

			<div class="container">

	            <div class="section-offers__content" data-uk-slider="" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">

	                <div class="uk-position-relative">

	                    <ul class="uk-slider-nav uk-dotnav uk-flex-center"></ul>

	                    <div class="uk-slider-container">

	                        <div class="uk-slider-items uk-grid uk-grid-small uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-4@l">

	                        	{% for offer in offers %}

	                        		<div>

		                                {% include "_inc/_blocks/_offers/_offer" %}

		                            </div>
	                        		
	                        	{% endfor %}
		                            
	                        </div>

	                    </div>

	                    {# Slider Controls #}

	                    <div class="uk-hidden@l section-offers__arrows uk-text-center">

	                        <a class="section-offers__arrow" href="#" data-uk-slider-item="previous"><span data-uk-icon="arrow-left"></span></a>

	                        <a class="section-offers__arrow" href="#" data-uk-slider-item="next"><span data-uk-icon="arrow-right"></span></a>

	                    </div>

	                </div>

	            </div>

	            {# List Page Link #}

	            {% if pageBlockLatestOffers.globalLink|length %}

	            	{% set attributes = {
						class: 'uk-button section-offers__all-offers-link',
                        id: 'track--button__latestOffersViewAll'
                    } %}

                    <div class="uk-text-center">

                    	{{ pageBlockLatestOffers.globalLink.link(attributes) }}

		            </div>

				{% endif %}

	        </div>

		{% endif %}

    </div>

    {# Block Helpers #}

	{% include "_inc/_blocks/_special/_blockHelpers" %}

</section>