{# Block - Parallax Image #}

{% if block.img|length %}

	{% set assetUrl = block.img.one().getUrl() %}
	
	<section class="section-image js-trigger-hamburger">

	    <div class="uk-overflow-hidden">

	        <div class="section-image__bg" style="background-image: url({{ assetUrl }})" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;" data-uk-parallax="bgx: -600; easing: 0;"></div>

	    </div>

	    {# Block Helpers #}

		{% include "_inc/_blocks/_special/_blockHelpers" %}

	</section>

{% endif %}