{# Block - Parallax Slides #}

{% if block.slides|length %}

	{% set slides = block.slides.all() %}

	{% set dotNav = "" %}
	{% set slideContent = "" %}

	{% for slide in slides %}

		{% set dotNav %}

			{{ dotNav }}

			<li>

                <a class="js-get-section" href="#scrollmagic-slide{{ loop.index }}" title=""></a>

            </li>

		{% endset %}

		{% set slideContent %}

			{{ slideContent }}

			<section class="js-section-scroll-trigger section-advert-main" id="scrollmagic-slide{{ loop.index }}">

		        <div class="section-advert">

		        	{# Image #}

		        	{% if slide.img|length %}

		        		{% set asset = slide.img.one() %}

                        {% set transformedImages = craft.imager.transformImage(asset, [
                            { width: 1200 }, 
                            { width: 600, jpegQuality: 100 }, 
                            { width: 400, jpegQuality: 100 }
                            ], { position: '100% 100%', jpegQuality: 100 }, 
                            { fillTransforms: true })
                        %}

		        		<div class="section-advert__image-wrapper">

		        			<img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}" class="section-advert__image">

			            </div>

		        	{% endif %}

			        {# Slide Content #}

		            <div class="section-advert__content">

		                <div class="container">

		                    <div class="section-detail{% if slide.layout == "right" %} uk-margin-auto-left{% endif %}">

		                    	{# Headings #}

		                    	{% if slide.heading|length or slide.subheading|length %}

		                    		<div class="section-detail__head">

		                    			{% if slide.heading|length %}

			                            	<h2>{{ slide.heading }}</h2>

			                            {% endif %}

			                            {% if slide.subheading|length %}

			                            	<h3>{{ slide.subheading }}</h3>

			                            {% endif %}

			                        </div>

		                    	{% endif %}

			                    {# Text #}

			                    {% if slide.text|length %}

			                    	<div class="section-detail__description">

			                            {{ slide.text }}

			                        </div>

			                    {% endif %}

			                    {# Button #}

			                    {% if slide.button|length %}

			                    	{% set attributes = {
										class: 'uk-button uk-button--brushed',
				                        id: 'track--button__parallaxScroll-' ~ entry.slug ~ '-' ~ loop.index
				                    } %}

			                    	<div class="section-detail__link">

			                    		{{ slide.button.link(attributes) }}

			                        </div>

			                    {% endif %}

		                    </div>

		                </div>

		            </div>

		        </div>

		        {# Block Helpers #}

				{% include "_inc/_blocks/_special/_blockHelpers" %}

		    </section>

		{% endset %}
		
	{% endfor %}

	<div class="main__section-advert">

		{# Dot Navigation #}

	    <div class="main__section-dots">

	        <ul class="uk-dotnav uk-dotnav-vertical">

	        	{{ dotNav }}

	        </ul>

	    </div>

	    {# Slides #}

	    {{ slideContent }}

	</div>

{% endif %}