{# Block - Price List #}

{% if block.showPriceList == 1 %}

	{% set pricingQuery = craft.entries()
    	.section('pricing')
    	.orderBy('dateCreated asc')
    %}

	{% set pricing = pricingQuery.all() %}

	{% if pricing|length %}

		<section class="section section-pricing">

	        <div class="section-pricing__header">

	            <div class="container" data-uk-scrollspy="cls: fadeInDown animated slow; repeat: false;">

	                <div class="uk-flex uk-flex-between uk-flex-wrap">

	                    <div class="uk-flex uk-flex-wrap section-pricing__select-wrap">

	                        <img src="{{ url('assets/img/green-line-short.png') }}" alt="green line short" />

	                        <div>

	                        	{# Year Select Title #}

	                        	{% if block.yearSelectTitle|length %}

	                        		<h2>{{ block.yearSelectTitle }}</h2>

	                        	{% endif %}

	                        	{# Pricing Select #}

	                            <div class="uk-flex">

	                            	<select id="select-pricing" name="pricing">

	                            		{% for price in pricing %}

	                            			<option value="{{ price.slug }}"{% if loop.first %} selected{% endif %} data-block-id="pricingBlock--{{ price.slug }}">{{ price.title }}</option>
	                            			
	                            		{% endfor %}

	                                </select>

	                                {% js %}

									   $(document).ready(function() {
										    
									   		$('#select-pricing').change(function() {

												var selectVal = $('#select-pricing option:selected').val();
												var blockId = 'pricingBlock--' + selectVal;

												$('.section-pricing__content').each(function(index) {

													if ($(this).attr('id') != blockId) {

														$(this).removeClass('show-element');
														$(this).addClass('hide-element');

													} else {

														$('#' + blockId).removeClass('hide-element');
														$('#' + blockId).addClass('show-element');

													}
													
												});

											});

										});	

									{% endjs %}

	                                {% if block.yearSelectLink|length %}

	                                	{% set attributes = {
											class: 'select-pricing-link choices__list--dropdown choices__item',
					                        id: 'track--button__pricingSelectLink'
					                    } %}

				                        {{ block.yearSelectLink.link(attributes) }}

	                                {% endif %}

	                            </div>

	                        </div>

	                    </div>

	                    {# Offer Legend #}

	                    <div class="month-price-note uk-flex uk-flex-bottom">

	                        <div class="uk-margin-right"><span data-uk-icon="plus"></span></div><span>Not to be missed</span>

	                    </div>

	                </div>

	            </div>

	        </div>

	        {# Pricing Blocks #}

	        <div class="section-pricing__content-switcher" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">
	        
	        	{% for price in pricing %}

			        {% if price.pricing|length %}

			        	{% set priceBlocks = price.pricing.all() %}

			        	<div class="container section-pricing__content animated fadeIn {% if loop.first %} show-element{% else %} hide-element{% endif %}" id="pricingBlock--{{ price.slug }}">

				            <div class="tab-wrapper">

				            	{# Price Tab #}

				            	{% for priceBlock in priceBlocks %}

				            		<a class="tab-button pricing-tab{% if loop.first %} active{% endif %}" id="tab{{ loop.index }}" href="javascript:;">

					                    {# Number of Nights #}

					                    {% if priceBlock.nights|length %}

					                    	<div class="pricing-tab__badge">{{ priceBlock.nights }}</div>

					                    {% endif %}

					                    {# Heading #}

					                    {% if priceBlock.heading|length %}

					                    	<h3>{{ priceBlock.heading }}</h3>

					                    {% endif %}

					                    {# Days / Time #}

					                   	{{ priceBlock.daysTime }}

					                </a>

						            {# Month Blocks #}

						            {% if priceBlock.months|length %}

						            	{% set months = priceBlock.months.all() %}

						            	<div class="tab-content" style="background: {{ cycle(['#95afb9', '#949ca6', '#a2b9ca'], loop.index0) }};">

						                    <div class="tab-content-background"></div>

						                    {# Price Block Strapline #}

						                    {% if priceBlock.monthBlockStrapline|length %}

						                    	<h3>{{ priceBlock.monthBlockStrapline }}</h3>

						                    {% endif %}

						                    {# Months #}

						                    <div class="month-prices-slider month-prices-slider{{ loop.index }}">

						                        <div class="swiper-container">

						                            <div class="swiper-wrapper">

						                            	{% for month in months %}

						                            		<div class="swiper-slide">

							                                    <div class="month-price">

							                                    	{# Month Heading #}

							                                    	{% if month.month|length %}

							                                    		<h4>{{ month.month }}</h4>

							                                    	{% endif %}

							                                    	{# Dates #}

							                                    	{% if month.dates|length %}

							                                    		{% set dates = month.dates.all() %}

							                                    		{% for date in dates %}

							                                    			{# {% if date %}{% endif %} #}

							                                    			{# {% if date.plainText == 1 %} #}

							                                    				{# <h5>{{ date.date }}</h5> #}

							                                    			{# {% else %} #}
							                                    				
							                                    				<p>

								                                    				{# Date #}

								                                    				{% if date.date|length %}

								                                    					<span>{{ date.date }}</span>

								                                    				{% endif %}

								                                    				{# Price #}

								                                    				{% if date.price|length %}

								                                    					<span>{{ date.price }}</span>

								                                    				{% endif %}

								                                    				{# <span>04th</span> – <span>07th</span> - <span>£5,995</span> #}

								                                    				{# Special Offer #}

								                                    				{% if date.offer|length %}

								                                    					{% set offer = date.offer.one() %}

								                                    					<button data-uk-toggle="target: #prices-alert--{{ offer.slug }}"><span data-uk-icon="plus"></span></button>

								                                    					{# Model / Lightbox #}

								                                    					<div id="prices-alert--{{ offer.slug }}" class="modal-prices" data-uk-modal>

																				            <div class="uk-modal-dialog uk-modal-body">

																				                <div class="modal-prices__header uk-flex uk-flex-between"><span data-uk-icon="calendar"></span><span class="uk-visible@s" data-uk-icon="swirl"></span></div>

																				                <div data-uk-grid="data-uk-grid">

																				                    <div class="uk-width-1-2@s">

																				                        <h2 class="uk-modal-title">{{ offer.title }}</h2>

																				                        {% if offer.offerDate|length %}

																				                        	<h3>{{ offer.offerDate }}</h3>

																				                        {% endif %}

																				                        {{ offer.offerCopy }}

																				                        {% if offer.extraDetails|length %}

																				                        	<div class="details">
																				                        	
																				                        		{{ offer.extraDetails }}
																				                        	
																				                        	</div>

																				                        {% endif %}

																				                    </div>

																				                    {# Image #}

																				                    {% if offer.offerImg|length %}

																				                    	{% set asset = offer.offerImg.one() %}

																					                    <div class="uk-width-1-2@s">

																					                    	<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}" class="modal-prices__background" width="469" height="627">

																					                    </div>

																				                    {% endif %}

																				                </div>

																				                <div class="modal-prices__footer">

																				                    <div class="call-our-team call-our-team--prices">

																				                        {# Phone Number #}

																					    				{% if phoneNumber.telephone|length %}

																						                	{% if phoneNumber.text|length %}

																												<p>{{ phoneNumber.text }}</p>

																						                	{% endif %}

																						                    <a href="tel:{{ phoneNumber.telephone|replace({' ': ''}) }}"><span class="uk-visible@s">{{ phoneNumber.telephone }}</span></a>

																					        			{% endif %}

																				                        <a href="{{ offer.getUrl() }}" class="uk-modal-close-default" data-uk-icon="menu-back"></a>

																				                    </div>

																				                    {# Navigation - Main Tertiary #}

																				                    {% set nodes3rd = craft.navigation.nodes()
																									    .handle('mainTertiary')
																									    .all()
																									%}

																									{% if nodes3rd|length %}

																										<div class="request-links request-links--modal uk-visible@s">

																					                    	{% for node in nodes3rd %}

																							            		<a href="{{ node.url }}">{{ node.title }}</a>

																							            		{% if not loop.last %}

																							            			<div class="request-links__divider"></div>

																							            		{% endif %}
																							            		
																							            	{% endfor %}

																					                    </div>

																						            {% endif %}

																				                </div>

																				            </div>

																				        </div>

								                                    				{% endif %}

										                                        </p>

							                                    			{# {% endif %} #}
							                                    			
							                                    		{% endfor %}

							                                    	{% endif %}

							                                    </div>

							                                </div>
						                            		
						                            	{% endfor %}

						                            </div>

						                        </div>

						                        {# Slider Controls #}

						                        <div class="swiper-controls">

				                                    <div class="swiper-button-prev swiper-button-prev{{ loop.index }}"><span data-uk-icon="chevron-left"></span></div>

				                                    <div class="swiper-button-next swiper-button-next{{ loop.index }}"><span data-uk-icon="chevron-right"></span></div>

				                                </div>

						                    </div>

						                </div>

						            {% endif %}

						        {% endfor %}

					        </div>

					    </div>
					                
			        {% endif %}

			    {% endfor %}

			    <div class="swiper-controls-desktop">
			    	
                    <div class="swiper-button-prev"><span data-uk-icon="chevron-left"></span></div>
                    
                    <div class="swiper-button-next"><span data-uk-icon="chevron-right"></span></div>
                    
                </div>
	        
	        </div>

			{# Block Helpers #}

			{% include "_inc/_blocks/_special/_blockHelpers" %}

	    </section>

	{% endif %}

{% endif %}