{# Block - Pricing Signup #}

{% if block.showPricingSignup == 1 %}

	<section class="section-signup">

        <div class="container">

            <div>

            	{# Heading #}

            	{% if pageBlockPricingSignup.heading|length %}

            		<h2>{{ pageBlockPricingSignup.heading }}</h2>

            	{% endif %}

                {# Copy #}

                {{ pageBlockPricingSignup.intro }}

                {# Form #}

                {% include "_inc/_forms/_exclusivePricing" %}

            </div>

        </div>

        {# Block Helpers #}

        {% include "_inc/_blocks/_special/_blockHelpers" %}

    </section>

{% endif %}