{# Block - Reviews #}

{% if block.slides|length %}

	{% set slides = block.slides.all() %}

	<div class="slider-reviews" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">

	    <div class="swiper-container">

	        <div class="swiper-wrapper" data-uk-lightbox="data-uk-lightbox">

	        	{% for slide in slides %}

	        		<div class="swiper-slide uk-width-2-3@s uk-width-1-2@l">

		                <a data-uk-lightbox="data-uk-lightbox" href="{{ slide.getUrl() }}">

		                    <img src="{{ slide.getUrl() }}" alt="review image" />

		                </a>

		            </div>
	        		
	        	{% endfor %}

	        </div>

	        <div class="swiper-controls">

	            <div class="swiper-button-prev"><span data-uk-icon="chevron-left"></span></div>

	            <div class="swiper-button-next"><span data-uk-icon="chevron-right"></span></div>

	        </div>

	    </div>

	    {# Block Helpers #}

		{% include "_inc/_blocks/_special/_blockHelpers" %}

	</div>

{% endif %}