{# Block - See More Banner #}

{# Style #}

{% set styleClass = "" %}

{% if block.style|length and block.style is defined %}

    {% set style = block.style.one() %}

    {% set styleClass = style.class %}

{% endif %}

<section class="see-more {{ styleClass }}">

    <div class="container">

        <div class="see-more__wrap">

        	{% if block.bgImg|length %}

        		{% set asset = block.bgImg.one() %}
	            	
            	{% set transformedImages = craft.imager.transformImage(asset, [
                    { width: 1200 }, 
                    { width: 600, jpegQuality: 100 }, 
                    { width: 400, jpegQuality: 100 }
                    ], { position: '100% 100%', jpegQuality: 100 }, 
                    { fillTransforms: true })
                %}

        		<div class="see-more__back-wrap">

	                <img src="{{ craft.imager.placeholder({ width: 160, height: 90 }) }}" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImages) }}" alt="{{ asset.title }}">

	            </div>

        	{% endif %}

	        {# Content #}

            <div class="see-more__card" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false;">

            	{# Image #}

            	{% if block.img|length %}

            		{% set asset = block.img.one() %}

            		<div class="see-more__card-image-wrap">

	                    <img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">

	                </div>

            	{% endif %} 

                <div class="see-more__card-body">

                	{# Headings #}

                	{% if block.heading|length or block.subheading|length %}

	                    <div class="see-more__body-content">

	                        {% if block.heading|length %}

	                			<h2>{{ block.heading }}</h2>

		                	{% endif %}

		                	{% if block.subheading|length %}

		                		<h3>{{ block.subheading }}</h3>

		                	{% endif %}

	                    </div>

	                {% endif %}

	                {# Button #}

                    {% if block.button|length %}

                        {% set attributes = {
                            class: 'uk-button uk-button-detail',
                        } %}

                        <div class="see-more__body-button">

                            {{ block.button.link(attributes) }}

                        </div>

                    {% endif %}

                </div>

            </div>

        </div>

    </div>

    {# Block Helpers #}

    {% include "_inc/_blocks/_special/_blockHelpers" %}

</section>