{# Block - Social Wall #}

<section class="section-social">

    <div class="container" >

    	{# Headings #}

        <div class="section-detail section-detail--social uk-margin-auto-right uk-margin-auto-left" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">

        	{% if block.heading|length %}

        		<h2>{{ block.heading }}</h2>

        	{% endif %}

        	{% if block.subheading|length %}

        		<h3>{{ block.subheading }}</h3>

        	{% endif %}

        </div>

        {# Social Wall #}

        <div class="social-wall">

            {# CSS #}

            {% do view.registerCssFile("https://assets.juicer.io/embed.css") %}

            {# JavaScript #}

            {% do view.registerJsFile("https://assets.juicer.io/embed.js") %}

            <ul class='juicer-feed' data-feed-id='polhawnfort'></ul>
        
        </div>

    </div>

    {# Block Helpers #}

    {% include "_inc/_blocks/_special/_blockHelpers" %}

</section>