{# Block - Text Columns #}

<section class="section section-price-info">

    <div class="container" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">

    	{# Heading #}

    	{% if block.heading|length %}

    		<h2>{{ block.heading }}</h2>

    	{% endif %}

    	{# Columns #}

    	{% if block.blocksLeft|length or block.blocksRight|length %}

    		<div data-uk-grid="data-uk-grid">

    			{# Left Column #}

    			{% if block.blocksLeft|length %}

    				{% set blocksLeft = block.blocksLeft.all() %}

		            <div class="uk-width-1-2@s" data-uk-scrollspy="cls: fadeInLeft animated slow; repeat: false;">

		            	{% for para in blocksLeft %}

		            		<div class="price-info">

			                    <div class="dropdown">

			                    	{% if para.heading|length %}

			                    		<button class="dropdown__toggle" type="button">

			                    			<span>

			                    				{{ para.heading|striptags('<span>')|raw }}

			                    				<span class="dropdown__icon"><span data-uk-icon="chevron-down"></span>

			                    			</span>

			                    		</button>

			                    	{% endif %}

			                        {# Text #}

			                        <div class="dropdown__content">

			                        	{{ para.text }}

			                        	{# Button #}

			                        	{% if para.button|length %}

			                        		{% set attributes = {
						                        id: 'track--button__textColumns--' ~ currentLoop ~ '--' ~ loop.index
						                    } %}

			                        		<div class="dropdown__footer">

				                                <p>For more information see</p>

				                                <div class="uk-flex uk-flex-between uk-flex-middle">

				                                    {{ para.button.link(attributes) }}

				                                    <button class="dropdown__close" type="button"><span data-uk-icon="arrow-up"></span></button>

				                                </div>

				                            </div>

			                        	{% endif %}

			                        </div>

			                    </div>

			                </div>
		            		
		            	{% endfor %}

		            </div>

		        {% endif %}

		        {# Right Column #}

	            {% if block.blocksRight|length %}

    				{% set blocksRight = block.blocksRight.all() %}

		            <div class="uk-width-1-2@s" data-uk-scrollspy="cls: fadeInLeft animated slow; repeat: false;">

		            	{% for para in blocksRight %}

		            		<div class="price-info">

			                    <div class="dropdown">

			                    	{% if para.heading|length %}

			                    		<button class="dropdown__toggle" type="button">

			                    			<span>

			                    				{{ para.heading|striptags('<span>')|raw }}

			                    				<span class="dropdown__icon"><span data-uk-icon="chevron-down"></span>

			                    			</span>

			                    		</button>

			                    	{% endif %}

			                        {# Text #}

			                        <div class="dropdown__content">

			                        	{{ para.text }}

			                        	{# Button #}

			                        	{% if para.button|length %}

			                        		{% set attributes = {
						                        id: 'track--button__textColumns--' ~ currentLoop ~ '--' ~ loop.index
						                    } %}

			                        		<div class="dropdown__footer">

				                                <p>For more information see</p>

				                                <div class="uk-flex uk-flex-between uk-flex-middle">

				                                    {{ para.button.link(attributes) }}

				                                    <button class="dropdown__close" type="button"><span data-uk-icon="arrow-up"></span></button>

				                                </div>

				                            </div>

			                        	{% endif %}

			                        </div>

			                    </div>

			                </div>
		            		
		            	{% endfor %}

		            </div>

		        {% endif %}

	        </div>

    	{% endif %}

    </div>

    {# Block Helpers #}

	{% include "_inc/_blocks/_special/_blockHelpers" %}

</section>