{# Block - Uselful Info #}

{% if block.ctas|length %}

	<section class="album-list info--list">

	    <img class="album-list__decor" src="{{ url('assets/img/light-grey-top-01.png') }}" alt="" />

	    {# <img class="album-list__decor-line" src="{{ url('assets/img/article-list-decor-line.png') }}" alt="" /> #}

	    <div class="container">

	        <div class="album-list__wrap">

				{# Info List #}

				{% set ctas = block.ctas.all() %}

				<div id="album-list__list">
				
					<ul class="album-list__list" data-uk-scrollspy="target: &gt; li; cls: uk-animation-fade; delay: 500; repeat: false;">

						{% for cta in ctas %}

							<li class="album-list__item">

								<div class="album-item">

									{% if cta.heading|length %}

										<h5>{{ cta.heading }}</h5>

									{% endif %}

								    {% if cta.listImg|length %}

								    	{% set asset = cta.listImg.one() %}
								    
								    	<img src="{{ asset.getUrl() }}" alt="{{ asset.title }}">

								    {% endif %}

								    {% if cta.ctaEntry|length %}

								    	{% set entry = cta.ctaEntry.one() %}

								    	<div class="album-item__button">

									        <a class="uk-button" href="{{ entry.getUrl() }}">Show me</a>

									    </div>

								    {% endif %}

								</div>
							
							</li>

						{% endfor %}

		            </ul>
				
				</div>

	        </div>

	    </div>

	    <img class="album-list__decor-line" src="{{ url('assets/img/article-list-decor-line.png') }}" alt="" />

	    {# Block Helpers #}

		{% include "_inc/_blocks/_special/_blockHelpers" %}

	</section>

{% endif %}