{# Block - Wedding List #}

<section class="album-list">

    <img class="album-list__decor" src="{{ url('assets/img/album-list-decor.png') }}" alt="" />

    <img class="album-list__decor-line" src="{{ url('assets/img/article-list-decor-line.png') }}" alt="" />

    <div class="container">

        <div class="album-list__wrap">

        	{# Filters #}

        	{% if block.showFilters == 1 %}

        		<div class="album-list__filter" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">

	                <div class="wedding-filter">

	                	{% if block.filterHeading|length %}

	                		<div class="wedding-filter__title">

	                			{{ block.filterHeading }}

	                		</div>

	                	{% endif %}

	                    <div class="wedding-filter__link">

	                        <a class="uk-active" href="{{ url(craft.app.request.getSegment(1)) }}" title="">All</a>

	                    </div>

	                    {# Categories #}

				    	{% set categories = craft.categories
				    		.group("weddings")
				    		.all()
				    	%}

	                    <div class="wedding-filter__slider swiper-container js-wedding-filter-slider">

	                        <ul class="swiper-wrapper wedding-filter__list">

	                        	{% nav category in categories %}

	                        		{{ cycle(['<li class="wedding-filter__item swiper-slide">', ''], loop.index0)|raw }}

	                        			<a class="wedding-filter__filter-link" href="{{ category.getUrl() }}">{{ category.title }}</a>

	                        		{{ cycle(['', '</li>'], loop.index0)|raw }}

	                        	{% endnav %}

	                        </ul>

	                        <div class="wedding-filter__slider-button">

	                            <div class="swiper-button-prev"><span data-uk-icon="chevron-left"></span></div>

	                            <div class="swiper-button-next"><span data-uk-icon="chevron-right"></span></div>

	                        </div>

	                    </div>

	                </div>

	            </div>

        	{% endif %}

	        {# Weddings List #}

			{% if block.showWeddingsList == 1 %}

				{# Check Category #}

				{% set related = null %}

				{% if craft.app.request.getSegment(2) == "category" and craft.app.request.getSegment(3) != "" %}

					{% set related = craft.categories()
						.slug(craft.app.request.getSegment(3))
						.one()
					%}

				{% endif %}

				{# Set Weddings List #}

				{% set weddingQuery = craft.entries()
				    .section('weddings')
				    .relatedTo(related)
				    .limit(4)
				%}

				{% set weddingQueryAll = craft.entries()
				    .section('weddings')
				    .relatedTo(related)
				%}

				{% set weddings = weddingQuery.all() %}
				{% set weddingsAll = weddingQueryAll.all() %}

				<div id="album-list__list">
				
					<ul class="album-list__list" data-uk-scrollspy="target: &gt; li; cls: uk-animation-fade; delay: 500; repeat: false;">

						{% for wedding in weddings %}

							<li class="album-list__item">

								{% include '_inc/_blocks/_weddings/_wedding' %}
							
							</li>

						{% endfor %}

		            </ul>
				
				</div>

	            {# JS #}

        		{% js %}

					$('body').on('click', '#load-posts', function(e) {

						e.preventDefault();

						var objButton = $(this);

						objButton.attr("disabled", true);
						
						var intOffset = parseInt(objButton.attr('data-offset'));
						var strCategory = "{{ craft.app.request.getSegment(3) }}";
						var intTotalWeddings = parseInt({{ weddingsAll|length }});

						var intNewOffset = intOffset + 4;

						if (intNewOffset >= intTotalWeddings) {

							objButton.fadeOut(750, function(){

								objButton.remove();

							});

						}

						$.get('{{ url("ajax/weddingsList") }}', { offset: intOffset, category: strCategory } )
						.done(function( data ) {

							objButton.attr("disabled", false);

							objButton.attr('data-offset', intNewOffset);

							$('#album-list__list ul').append(data);

						});

					});		

        		{% endjs %}

	            <div class="album-list__loading">

	                <img class="article-list__loading-image" src="{{ url('assets/img/polhawn-icon.png') }}" alt="Polhawn icon">

	                {% if weddingsAll|length > weddings|length %}

	                	<div>

		                	<button class="uk-button uk-button-primary uk-button-small" data-offset="4" id="load-posts">Load older posts</button>
		                
		                </div>

	                {% endif %}
	                
	            </div>

	        {% endif %}

        </div>

    </div>

    <img class="album-list__decor-line" src="{{ url('assets/img/article-list-decor-line.png') }}" alt="" />

    {# Block Helpers #}

	{% include "_inc/_blocks/_special/_blockHelpers" %}

</section>