{# Sidebar - Categories #}

{% set categoriesQuery = craft.categories()
	.group(listType) %}

{% set categories = categoriesQuery.all() %}

{% if categories|length %}

	<div class="block--sidebar--cats">
	
		<div class="inner--sidebar--cats">

			<nav>

				<ul>

					<li{% if craft.app.request.getSegment(3) == "" %} class="uk-active"{% endif %}><a href="{{ url(craft.app.request.getSegment(1)) }}">All Categories</a></li>

					{% for category in categories %}

						<li {% if category.slug == craft.app.request.getSegment(3) %} class="uk-active"{% endif %}><a href="{{ category.getUrl() }}">{{ category.title }}</a></li>
						
					{% endfor %}
				
				</ul>

			</nav>

		</div>
	
	</div>

{% endif %}