{# Footer #}

{% set nodes = craft.navigation.nodes()
    .handle('footerbottom')
    .all()
%}

{% set nodesRight = craft.navigation.nodes()
    .handle('footerRight')
    .all()
%}

{% set nodes2nd = craft.navigation.nodes()
    .handle('mainSecondary')
    .all()
%}

{% set nodes3rd = craft.navigation.nodes()
    .handle('mainTertiary')
    .all()
%}

<footer class="footer uk-cover-container">

    <div class="uk-position-relative">

        <div class="container">

        	{# Phone Number #}

        	{% if phoneNumber.telephone|length %}

        		<div class="footer__top" data-uk-scrollspy="cls: fadeInUp animated slow; delay: 250; repeat: false;">

	                <div class="call-our-team">

	                	{% if phoneNumber.text|length %}

							<p>{{ phoneNumber.text }}</p>

	                	{% endif %}

	                    <a href="tel:{{ phoneNumber.telephone|replace({' ': ''}) }}">{{ phoneNumber.telephone }}</a>

	                </div>

	            </div>

        	{% endif %}

            {# Navigation - Main Secondary #}

            <div class="footer__center" data-uk-scrollspy="cls: fadeInUp animated slow; delay: 250; repeat: false;">

            	{% if nodes2nd|length %}

	                <div class="uk-flex-center uk-flex-between@s" data-uk-grid>

	                	{% for node in nodes2nd %}

							<div>

			                    <a class="uk-button uk-button-default" href="{{ node.url }}">{{ node.title }}</a>

			                </div>

							
						{% endfor %}

	                </div>

	            {% endif %}

				{# Navigation - Main Tertiary #}

				{% if nodes3rd|length %}

	                <div class="footer__links uk-text-center" data-uk-scrollspy="cls: fadeInUp animated slow; delay: 250; repeat: false;">

	                    <div class="request-links request-links--footer">

	                    	{% for node in nodes3rd %}

			            		<a href="{{ node.url }}">{{ node.title }}</a>

			            		{% if not loop.last %}

			            			<div class="request-links__divider"></div>

			            		{% endif %}
			            		
			            	{% endfor %}

	                    </div>

	                </div>

	            {% endif %}

	            {# Element - Swirl Image #}

                <div class="uk-text-center uk-visible@s">

                	{% include "_inc/_elements/_swirl-nav-img" %}

                </div>

            </div>

            {# Navigation - Social Icons #}

			{% if socialMedia.platforms|length %}

				{% set platforms = socialMedia.platforms.all() %}

	            <div class="footer__social" data-uk-scrollspy="cls: fadeInUp animated slow; delay: 250; repeat: false;">

	                <ul class="social">

	                	{% for platform in platforms %}

							{% set link = '##' %}

							{% set type = "pinterest" %}

							{% if platform.platformLink.typeHandle == "facebook" %}

								{% set type = "fb" %}

							{% elseif platform.platformLink.typeHandle == "twitter" %}

								{% set type = "twitter" %}

							{% elseif platform.platformLink.typeHandle == "instagram" %}

								{% set type = "inst" %}

							{% endif %}

							{% if platform.platformLink|length %}

								{% set link = platform.platformLink.url %}

							{% endif %}

							<li class="social__item">

								<a class="social__link" href="{{ link }}" target="_blank" rel="noopener noreferrer">

									<span class="social__icon" data-uk-icon="social-{{ type }}"></span>
										
								</a>

							</li>
							
						{% endfor %}

	                </ul>

	            </div>

	        {% endif %}

        </div>

        <div class="footer__bottom" data-uk-scrollspy="cls: fadeInUp animated slow; delay: 250; repeat: false;">

            <div class="container uk-flex uk-flex-center uk-flex-wrap uk-flex-between@s">

            	{# Copyright #}

            	{% if copyright.text|length %}

            		<div class="footer__bottom-left">{{ copyright.text }}</div>

            	{% endif %}

            	{# Navigation - Footer Bottom #}

            	{% if nodes|length %}

            		<div class="footer__bottom-center">

	                    <ul class="list-divided uk-flex uk-flex-center uk-flex-wrap">

	                    	{% for node in nodes %}

	                    		<li>

		                            <a href="{{ node.url }}">{{ node.title }}</a>

		                        </li>
	                    		
	                    	{% endfor %}

	                    </ul>

	                </div>

            	{% endif %}

	            {# Navigation - Footer Right #}

                <div class="footer__bottom-right">

                    <ul class="list-divided uk-flex uk-flex-wrap">

                    	{# Website Author #}

                    	{% if author.copy|length %}

                    		<li><span>{{ author.copy|striptags('<a>')|raw }}</span></li>

                    	{% endif %}

                        {% if nodesRight|length %}

                        	{% for node in nodesRight %}

                        		<li>

		                            <a href="{{ node.url }}">{{ node.title }}</a>

		                        </li>
                        		
                        	{% endfor %}

                        {% endif %}

                    </ul>

                </div>

            </div>

        </div>

    </div>

</footer>