{# Header #}

<button class="float-hamburger" type="button" data-uk-toggle="target: .js-toggle-menu; cls: is-menu-open;"><span data-uk-icon="menu"></span></button>

<header class="header">

    <div>

        <button class="menu__toggle-open" type="button" data-uk-toggle="target: .js-toggle-menu; cls: is-menu-open;"><span data-uk-icon="menu"></span></button>

        <button class="menu__toggle-close" type="button" data-uk-toggle="target: .js-toggle-menu; cls: is-menu-open;"><span data-uk-icon="close"></span></button>

    </div>

    <div class="header__logo">

        <a href="{{ url() }}" title="Go to Homepage">

            <img src="{{ url('assets/img/polhawn-fort-logo.svg') }}" alt="Polhawn Fort logo">

        </a>

    </div>

    {# Phone Number #}

    {% if phoneNumber.telephone|length %}

	    <div class="header__phone">

	        <a href="tel:{{ phoneNumber.telephone|replace({' ': ''}) }}"><span data-uk-icon="phone"></span></a>

	    </div>

	{% endif %}

	{# Navigation - Social Icons #}

	{% if socialMedia.platforms|length %}

		{% set platforms = socialMedia.platforms.all() %}

	    <div class="header__social" data-uk-scrollspy="cls: slideInDown animated; delay: 250; repeat: false;">

	        <ul class="social social--small">

	        	{% for platform in platforms %}

					{% set link = '##' %}

					{% set type = "pinterest" %}

					{% if platform.platformLink.typeHandle == "facebook" %}

						{% set type = "fb" %}

					{% elseif platform.platformLink.typeHandle == "twitter" %}

						{% set type = "twitter" %}

					{% elseif platform.platformLink.typeHandle == "instagram" %}

						{% set type = "inst" %}

					{% endif %}

					{% if platform.platformLink|length %}

						{% set link = platform.platformLink.url %}

					{% endif %}

					<li class="social__item">

						<a class="social__link" href="{{ link }}" target="_blank" rel="noopener noreferrer">

							<span class="social__icon" data-uk-icon="social-{{ type }}"></span>
								
						</a>

					</li>
					
				{% endfor %}

	        </ul>

	    </div>

	{% endif %}

</header>