section {
  position: relative;

  p {
    .font-size(16);
    line-height: 1.88;
    color: #fff;
  }
}

.section-detail {
  position: relative;
  max-width: 460px;

  &__head {

    @media (min-width: @breakpoint-small) {
      padding-left: 90px;
    }

    &:first-child:before {

      @media (min-width: @breakpoint-small) {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 210px;
        background-color: #fff;
      }
    }
  }

  &__description {

    @media (min-width: @breakpoint-small) {
      padding-left: 90px;
    }
  }

  h2 {
    position: relative;
    top: -18px;
    margin-bottom: 0;
    .font-size(18);
    line-height: 1.61;
    text-align: center;

    &::after {
      margin-left: auto;
      margin-right: auto;
      height: 2px;

      @media (min-width: @breakpoint-small) {
        margin-left: 0;
        margin-right: 0;
        height: 3px;
      }
    }

    @media (min-width: @breakpoint-small) {
      .font-size(28);
      line-height: 1.04;
      text-align: left;
    }
  }

  h3 {
    .font-size(55);
    line-height: 1.09;
    text-align: center;

    @media (min-width: @breakpoint-small) {
      .font-size(68);
      line-height: 0.88;
      text-align: left;
    }
  }

  p {
    color: #fff;
  }

  &--social {
    max-width: 160px;

    h2 {
      color: #454545;
    }

    h3 {
      color: #bababa;
    }
  }

  &__link {
    margin-top: 80px;
    text-align: center;

    @media (min-width: @breakpoint-large) {
      margin-top: 50px;
    }

    @media (min-width: @breakpoint-xxlarge) {
      margin-top: 80px;
    }
  }
}