{# AJAX Request - Blog List #}

{# {% if craft.app.request.isAjax %} #}

	{# Set default variables #}

	{% set related = null %}
	{% set searchQuery = null %}
	{% set offset = 0 %}

	{# Category #}

	{% if craft.app.request.getParam('category')|length %}

		{% set related = craft.categories()
			.slug(craft.app.request.getParam('category'))
			.one()
		%}

	{% endif %}

	{# Search Query #}

	{% if craft.app.request.getParam('search')|length %}

		{% set searchQuery = craft.app.request.getParam('search') %}
		
	{% endif %}

	{# Offset #}

	{% if craft.app.request.getParam('offset')|length %}

		{% set offset = craft.app.request.getParam('offset') %}
		
	{% endif %}

	{% set blogQuery = craft.entries()
	    .section('blog')
	    .relatedTo(related)
	    .search(searchQuery)
	    .offset(offset)
	    .limit(4)
	%}

	{% set blogs = blogQuery.all() %}

	{% for blog in blogs %}

		<li class="article-list__item" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">

        	<div class="blog blog--list">
			
				{% include '_inc/_blocks/_blog/_blogList' %}

			</div>

		</li>

	{% endfor %}

{# {% else %}
	
	{% redirect "/" %}

{% endif %} #}