{# AJAX Request - Wedding List #}

{# {% if craft.app.request.isAjax %} #}

	{# Set default variables #}

	{% set related = null %}
	{% set searchQuery = null %}
	{% set offset = 0 %}

	{# Category #}

	{% if craft.app.request.getParam('category')|length %}

		{% set related = craft.categories()
			.slug(craft.app.request.getParam('category'))
			.one()
		%}

	{% endif %}

	{# Offset #}

	{% if craft.app.request.getParam('offset')|length %}

		{% set offset = craft.app.request.getParam('offset') %}
		
	{% endif %}

	{% set weddingsQuery = craft.entries()
	    .section('weddings')
	    .relatedTo(related)
	    .offset(offset)
	    .limit(4)
	%}

	{% set weddings = weddingsQuery.all() %}

	{% for wedding in weddings %}

		<li class="album-list__item" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">

			{% include '_inc/_blocks/_weddings/_wedding' %}
		
		</li>

	{% endfor %}

{# {% else %}
	
	{% redirect "/" %}

{% endif %} #}