.wedding-filter {
    background-color: #f5e3dc;
    padding: 28px 0 32px;
    margin-bottom: 70px;

    @media (min-width: @breakpoint-small) {
        margin-bottom: 100px;
    }

    &--gallery {
        background-color: #ededed;

        .wedding-filter__filter-link {
            background-image: url('../img/outside-grey.svg');
        }

        + ul {

            li[filter] {
                transition-duration: @global-transition-duration;

                &:hover,
                &:active,
                &:focus {
                    opacity: 0.8;
                    transition-duration: @global-transition-duration;
                }
            }
        }
    }

    &__title {
        font-family: 'freightbigprobook-regular';
        font-style: italic;
        font-weight: 500;
        line-height: 1.78;
        letter-spacing: 2px;
        text-align: center;
        color: #4e4f4f;
        .font-size(18);
        margin-bottom: 25px;

        @media (min-width: @breakpoint-small) {
            .font-size(24);
        }
    }

    &__link {
        text-align: center;
        margin-bottom: 36px;

        a {
            .font-size(29);
            line-height: 1.03;
            color: #939393;
            position: relative;
            
            @media (min-width: @breakpoint-small) {
                .font-size(36);
            }

            &.uk-active {
                &:after {
                    position: absolute;
                    bottom: -10px;
                    left: -5px;
                    display: inline-block;
                    width: calc(100% + 10px);
                    height: 2px;
                    content: '';
                    background-color: #21b2a0;
                }
            }
        }
    }

    &__list {
        max-width: 1100px;
        margin: 0 auto;

        @media (min-width: @breakpoint-small) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: @breakpoint-small) {
            width: auto;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    &__filter-link {
        font-family: 'freightbigprobook-regular';
        font-weight: 500;
        .font-size(18);
        color: #575858;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px 55px 20px;
        background-image: url('../img/outside.svg');
        background-position: center center;
        min-width: 76px;
        text-align: center;
        margin-bottom: 11px;

        @media (min-width: @breakpoint-small) {
            margin: 0 15px 20px;
        }

        &:hover,
        &:active,
        &:focus,
        &.uk-active {
            background-image: url('../img/outside-active.svg');
            color: #fff;
        }
    }

    &__slider-button {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        @media (min-width: @breakpoint-small) {
            display: none;
        }

        > div {
            width: 60px;
            height: 60px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.3);
            color: #fff;
            position: static;
            margin: 0;
            outline: none;

            &:first-child {
                margin-right: 18px;
            }

            &:last-child {
                margin-left: 18px;
            }
        }
    }

    &__video-link {
        position: relative;
        display: block;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.3);
        }
        
        div {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column  ;
            width: 100%;
            height: 100%;
        }

        span {
            .font-size(30);
            font-family: @global-title-font-family;
            color: #fff;    
        }

        .uk-icon {
            margin-bottom: 10px;
            color: #fff;
        }
    }
}