@tabs-gap: 10px;

.tab-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tab-button {
    width: 100%;

    @media (min-width: @breakpoint-small) {
        max-width: 430px;
        width: calc(100% / 3 - @tabs-gap);
        padding: 20px 30px;
    }

    &.active + .tab-content {
        display: block;
        margin-top: -4px;
    }
}

.tab-content {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 0;
    background-color: #95afb9;

    @media (min-width: @breakpoint-small) {
        display: none;
        order: 3;
        padding-top: 70px;
        padding-right: 40px;
        padding-left: 40px;
    }

    @media (min-width: @breakpoint-large) {
        padding-right: 0;
        padding-left: 0;
    }

    &:after {
        @media (min-width: @breakpoint-small) {
            content: "";
            background-image: url(../img/tab-content-bottom.png);
            background-repeat: no-repeat;
            background-position: 100% 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 30px;
            left: 0;
        }
    }

    &:before {
        @media (min-width: @breakpoint-small) {
            content: "";
            background-image: url(../img/tab-content-top.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    h3 {
        display: none;

        @media (min-width: @breakpoint-small) {
            display: block;
            .font-size(22);
            letter-spacing: 3.52px;
            text-align: center;
            color: #516e79;
        }
    }
}

.tab-content-bottom {
    padding-bottom: 100px;
    text-align: center;

    @media (min-width: @breakpoint-small) {
        padding-bottom: 60px;
    }

    p {
        letter-spacing: 2.56px;
        text-align: center;
        color: #516e79;
        margin-bottom: 16px;
    }

    a {
        z-index: 1;
        position: relative;
        .font-size(18);
        letter-spacing: 1.6px;
        border-color: #fff;
        color: #fff;
        padding: 13px 22px;
        text-transform: none;

        @media (min-width: @breakpoint-small) {
            .font-size(20);
            padding: 13px 31px;
        }

        &:hover,
        &:active,
        &:focus {
            border-color: @global-primary-color;
            background-color: @global-primary-color;
        }
    }
}
