.section-image {

    &__bg {
        min-height: 460px;
        background-size: cover;
        background-position: 30% 0;
        background-repeat: no-repeat;

        @media (min-width: @breakpoint-small) {
            min-height: 667px;
        }
    }
}
