.section-prices-header {

    h1 {
        .font-size(55);
        font-family: 'freightdispprolight', sans-serif;

        @media (min-width: @breakpoint-small) {
            .font-size(80)
        }
    }

    &__bg {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 609px;
        background-size: cover;
        background-position: 30% 0;
        background-repeat: no-repeat;

        @media (min-width: @breakpoint-small) {
            min-height: 667px;
        }
    }
}