{# Latest Offers Page Template #}

{% extends "_layout" %}

{% set templateName = "temp--latest-offers--detail" %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% block content %}

	<div class="main__detail-page">

		{# Heading #}

        <section class="blog-card js-parent-to-next-section blog-card--calendar" data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;">

            <div class="container">

                <div class="blog-card__wrap">

                	{% if entry.offerDate|length %}

                		<div class="blog-card__name">

                			{{ entry.offerDate }}

                			<span data-uk-icon="underline"></span>
                				
						</div>

                	{% endif %}

                    <h1>{{ entry.title }}</h1>

                    <div class="blog-card__icon" data-uk-icon="calendar"></div>
                            <div class="blog-card__arrow js-to-next-section" data-uk-icon="down-arrow-roughness"></div>

                </div>

            </div>

        </section>

        {# Article #}

        <article class="article">

        	{# Article Blocks #}

			{% include '_inc/_article-blocks' %}

			{# Back Button #}

			<div class="container container--small">

                <a class="uk-button uk-button-default button--back-offers" href="{{ url(craft.app.request.getSegment(1)) }}">

                	<span data-uk-icon="step-back"></span>Back to all offers

                </a>

            </div>

        </article>

        {# Content Blocks #}

		{% include '_inc/_content-blocks' %}

    </div>

{% endblock %}