.watch-video {
    margin-bottom: 46px;

    @media (min-width: @breakpoint-small) {
        margin-bottom: 55px;
    }

    p {
        color: #21b2a0;
        margin-bottom: 50px;
    }

    iframe {
        width: 100%;
        height: 308px;

        @media (min-width: @breakpoint-small) {
            height: 458px;
        }
    }
}