mixin watch-video()
    section.watch-video(data-uk-scrollspy="cls: fadeInLeft animated slow; repeat: false;")
        .container.container--small
            .watch-video__wrap
                p Watch the video

                <iframe src="https://www.youtube.com/embed/0JKhEX0CUUw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>