{# Blog List Entry #}

<div class="blog__top">

	{# Category #}

	{% if blog.blogCategory|length %}

		{% set category = blog.blogCategory.one() %}

		<div class="blog__header uk-flex-middle">

			{% if category.colour|length %}

				<div class="blog__icon style--color-{{ category.colour }}">

                    <div data-uk-icon="swirl"></div>

                </div>

			{% endif %}

            <span>{{ category.title }}</span>

        </div>

	{% endif %}

    <div class="blog__content">

    	{# Title #}

        <p>{{ blog.title }}</p>

        {# Link #}

        <div class="blog__link">

            <a class="uk-button uk-button-primary uk-button-small" href="{{ blog.getUrl() }}">Tell me more</a>

        </div>

    </div>

</div>

{# Image #}

{% if blog.img|length %}

	{% set thumb = {
	    mode: 'crop',
	    width: 322,
	    height: 322,
	    quality: 75,
	    position: 'center-center'
	} %}

	{% set asset = blog.img.one() %}
    
    <img src="{{ asset.getUrl(thumb) }}" alt="{{ asset.title }}">

{% endif %}