.price-info {
    margin-right: -20px;
    margin-left: -20px;

    @media (min-width: @breakpoint-small) {
        margin-right: 0;
        margin-bottom: 40px;
        margin-left: 0;
    }

    @media (min-width: @breakpoint-large) {
        margin-bottom: 28px;
    }

    .dropdown__content {
        @media (min-width: @breakpoint-large) {
            display: block;
        }
    }

    .dropdown__toggle {
        @media (min-width: @breakpoint-large) {
            pointer-events: none;
        }
    }
}