{# Form - Arrange a Viewing #}

<section class="request-start__item request-start__item--arrange-viewing target-arrange-viewing">
	
    <div class="container">

		{% set form = craft.freeform.form("arrangeAViewing") %}

		{{ form.renderTag({returnUrl: "thank-you-arrange-a-viewing"}) }}

			{# Errors #}

			{% if form.hasErrors %}

				{% js %}

			        UIkit.notification({
			            message: 'There was an error submitting this form.',
			            status: 'danger',
			            pos: 'top-center',
			            timeout: 5000
			        });

			    {% endjs %}

			{% endif %}

			{# Form Variables #}

			{% set name = form.get("name") %}
			{% set partnersName = form.get("partnersName") %}
			{% set emailAddress = form.get("emailAddress") %}
			{% set phoneNumber = form.get("phoneNumber") %}
			{% set date = form.get("date") %}
			{% set time = form.get("time") %}
			{% set hearAboutUs = form.get("howDidYouHearAboutUs") %}

			{# Form #}

		    <div class="request-start__item-inner">

		    	{# Heading #}

		        <div class="request-start__header">

		        	{% set heading = form.name %}

		        	{% if entry.heading|length %}

		        		{% set heading = entry.heading %}

		        	{% endif %}

		            <h1>{{ heading }}</h1>

		        </div>

		        {# Steps #}

		        <ul class="uk-hidden" uk-switcher="connect: #request-start__steps; animation: uk-animation-fade;">

		            <li><a href="#">1</a></li>

		            <li><a href="#">2</a></li>

		            <li><a href="#">3</a></li>

		            <li><a href="#">4</a></li>

		            <li><a href="#">5</a></li>

		            <li><a href="#">6</a></li>

		            <li><a href="#">7</a></li>

		            <li><a href="#">8</a></li>

		        </ul>

		        <div class="request-start__steps request-start__steps--arrange-viewing uk-switcher" id="request-start__steps">

		        	{# Step 1 - Intro #}

		        	<div>

                    	<a href="{{ url(craft.app.request.getSegment(1)) }}" class="request-start__back" data-uk-icon="step-back"></a>

                    	{% if entry.intro|length %}

                    		<div>

	                            {{ entry.intro }}

	                        </div>

                    	{% endif %}

                        <div class="request-start__button request-start__button--continue">

                            <a class="uk-button" href="#" uk-switcher-item="1">Arrange our viewing</a>

                        </div>

                    </div>

                    {# Step 2 - Name #}

		            <div>

		            	<span class="request-start__back request-start__back" data-uk-icon="step-back" uk-switcher-item="previous"></span>

                        <div class="step">Step 1/7<div class="step__progress"><progress class="uk-progress" value="1" max="7"></progress></div>

                        </div>

		                <div class="request-form">

		                    <div class="request-form__label-wrap">

		                    	<label for="name">{{ name.label }}</label>

		                    </div>

		                    <div class="request-form__input-wrap">

		                    	<input id="name" placeholder="Write here" name="{{ name.handle }}" value="{{ name.value }}" type="text" data-validation="required" />

		                    </div>

		                </div>

		                <div class="request-start__vertical-divider"></div>

		                <div class="request-start__button request-start__button--continue">

		                	<button class="uk-button form--button{% if not name.value|length %} hide--button{% endif %}" id="formButtonStep2" type="button">Continue</button>

		                </div>

		            </div>

		            {# Step 3 - Partners Name #}

		            <div>

		            	<span class="request-start__back request-start__back" data-uk-icon="step-back" uk-switcher-item="previous"></span>

                        <div class="step">Step 2/7<div class="step__progress"><progress class="uk-progress" value="2" max="7"></progress></div>

                        </div>

		                <div class="request-form">

		                    <div class="request-form__label-wrap">

		                    	<label for="partners-name">{{ partnersName.label }}</label>

		                    </div>

		                    <div class="request-form__input-wrap">

		                    	<input id="partnersName" placeholder="Write here" name="{{ partnersName.handle }}" value="{{ partnersName.value }}" type="text" data-validation="required" />

		                    </div>

		                </div>

		                <div class="request-start__vertical-divider"></div>

		                <div class="request-start__button request-start__button--continue">

		                	<button class="uk-button form--button{% if not partnersName.value|length %} hide--button{% endif %}" id="formButtonStep3" type="button">Continue</button>

		                </div>

		            </div>

		            {# Step 4 - Email #}

		            <div>

		            	<span class="request-start__back" data-uk-icon="step-back" uk-switcher-item="previous"></span>

                        <div class="step">Step 3/7<div class="step__progress"><progress class="uk-progress" value="3" max="7"></progress></div>

                        </div>

		                <div class="request-form">

		                    <div class="request-form__label-wrap">

		                    	<label for="email">{{ emailAddress.label }}</label>

		                    </div>

		                    <div class="request-form__input-wrap">

		                    	<input id="emailAddress" placeholder="Write here" name="{{ emailAddress.handle }}" value="{{ emailAddress.valueAsString }}" type="email" data-validation="email" />

		                    </div>

		                </div>

		                <div class="request-start__vertical-divider"></div>

		                <div class="request-start__button request-start__button--continue">

		                    <button class="uk-button form--button{% if not emailAddress.valueAsString|length %} hide--button{% endif %}" id="formButtonStep4" type="button">Continue</button>

		                </div>

		            </div>

		            {# Step 5 - Phone #}

		            <div>

		            	<span class="request-start__back" data-uk-icon="step-back" uk-switcher-item="previous"></span>

                        <div class="step">Step 4/7<div class="step__progress"><progress class="uk-progress" value="4" max="7"></progress></div>

                        </div>

		                <div class="request-form">

		                    <div class="request-form__label-wrap">

		                    	<label for="partners-name">{{ phoneNumber.label }}</label>

		                    </div>

		                    <div class="request-form__input-wrap">

		                    	<input id="phoneNumber" placeholder="Write here" name="{{ phoneNumber.handle }}" value="{{ phoneNumber.value }}" type="text" data-validation="required" />

		                    </div>

		                </div>

		                <div class="request-start__vertical-divider"></div>

		                <div class="request-start__button request-start__button--continue">

		                	<button class="uk-button form--button{% if not phoneNumber.value|length %} hide--button{% endif %}" id="formButtonStep5" type="button">Continue</button>

		                </div>

		            </div>

		            {# Step 6 - Date #}

		            <div>

		            	<span class="request-start__back" data-uk-icon="step-back" uk-switcher-item="previous"></span>

                        <div class="step">Step 5/7<div class="step__progress"><progress class="uk-progress" value="5" max="7"></progress></div>

                        </div>

		                <div class="request-form">

		                    <div class="request-form__label-wrap">

		                    	<label>{{ date.label }}</label>

		                    </div>

		                    <div class="request-form__input-wrap">

		                    	<div class="request-form__choose-date">

		                    		<label data-uk-icon="calendar" for="date" id="dateLabel"></label>

		                    		<input class="js-choose-date" id="date" name="{{ date.handle }}" data-validation="required" value="{{ date.value }}" />

		                    	</div>

		                    </div>

		                </div>

		                <div class="request-start__vertical-divider"></div>

		                <div class="request-start__button request-start__button--continue">

		                	<button class="uk-button form--button{% if not date.value|length %} hide--button{% endif %}" id="formButtonStep6" type="button">Continue</button>

		                </div>

		            </div>

		            {# Step 7 - Time #}

		            <div>

		            	<span class="request-start__back" data-uk-icon="step-back" uk-switcher-item="previous"></span>

                        <div class="step">Step 6/7<div class="step__progress"><progress class="uk-progress" value="6" max="7"></progress></div>

                        </div>

		                <div class="request-form">

		                    <div class="request-form__label-wrap">

		                    	<label>{{ time.label }}</label>

		                    </div>

		                    <div class="request-form__source">

                            	<select class="js-request-select" name="{{ time.handle }}" id="time" data-validation="required">

                                    {% for option in time.options %}

										<option value="{{ option.value }}"{% if time.value == option.value %} selected{% endif %}>{{ option.label }}</option>

									{% endfor %}

                                </select>

                            </div>

		                </div>

		                <div class="request-start__vertical-divider"></div>

		                <div class="request-start__button request-start__button--continue">

		                	<button class="uk-button" id="formButtonStep7" type="button" uk-switcher-item="7">Continue</button>

		                </div>

		            </div>

		            {# Step 8 - Hear About Us #}

		            <div>

		            	<span class="request-start__back" data-uk-icon="step-back" uk-switcher-item="previous"></span>

                        <div class="step">Step 7/7<div class="step__progress"><progress class="uk-progress" value="7" max="7"></progress></div>

                        </div>

		                <div class="request-form">

		                    <div class="request-form__label-wrap">

		                    	<label>{{ hearAboutUs.label }}</label>

		                    </div>

		                    <div class="request-form__source">

		                    	<select class="js-request-select" name="{{ hearAboutUs.handle }}" id="hearAboutUs" data-validation="required">

		                    		{% for option in hearAboutUs.options %}

										<option value="{{ option.value }}"{% if hearAboutUs.value == option.value %} selected{% endif %}>{{ option.label }}</option>

									{% endfor %}

		                        </select>

		                    </div>

		                </div>

		                <div class="request-start__vertical-divider"></div>

		                <div class="request-start__button request-start__button--continue request-start__button--send-away">

		                    <button class="uk-button" type="submit">Send Away</button>

		                </div>

		            </div>

		            {# MailChimp (hidden) #}

        			{{ form.get('Ajmx5JRdm').render }}

		        </div>

		    </div>

		    {# CSS #}

		    {% do view.registerCssFile("https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css") %}

		    {# JavaScript #}

		    {% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.79/jquery.form-validator.min.js") %}
		    {% do view.registerJsFile("https://cdn.jsdelivr.net/momentjs/latest/moment.min.js") %}
		    {% do view.registerJsFile("https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js") %}

		    {% js %}

		    	$.validate();

		    	{# Step 2 - Name #}

		    	var objNameInput = $('#name');
		    	var objButtonStep2 = $('#formButtonStep2');

		    	$('body').on('input', '#name', function(e) {

		    		if (objNameInput.hasClass('error')) {

						// Invalid

						objButtonStep2.addClass('hide--button');

					} else {

						// Valid

						objButtonStep2.removeClass('hide--button');

					}

		    	});

				$('body').on('click', '#formButtonStep2', function(e) {

					e.preventDefault();

					if (!objPartnersNameInput.isValid() || objNameInput.hasClass('error')) {

						// Invalid

					} else {

						// Valid

						UIkit.switcher('#request-start__steps').show(2);

					}

				});
		    	
		    	{# Step 3 - Partners Name #}

		    	var objPartnersNameInput = $('#partnersName');
		    	var objButtonStep3 = $('#formButtonStep3');

		    	$('body').on('input', '#partnersName', function(e) {

		    		if (objPartnersNameInput.hasClass('error')) {

						// Invalid

						objButtonStep3.addClass('hide--button');

					} else {

						// Valid

						objButtonStep3.removeClass('hide--button');

					}

		    	});

		    	$('body').on('click', '#formButtonStep3', function(e) {

		    		e.preventDefault();

					if (!objPartnersNameInput.isValid() || objPartnersNameInput.hasClass('error')) {

						// Invalid

					} else {

						// Valid

						UIkit.switcher('#request-start__steps').show(3);

					}

				});

				{# Step 4 - Email Address #}

				var objEmailAddressInput = $('#emailAddress');
		    	var objButtonStep4 = $('#formButtonStep4');

		    	$('body').on('input', '#emailAddress', function(e) {

		    		if (objEmailAddressInput.hasClass('error')) {

						// Invalid

						objButtonStep4.addClass('hide--button');

					} else {

						// Valid

						objButtonStep4.removeClass('hide--button');

					}

		    	});

		    	$('body').on('click', '#formButtonStep4', function(e) {

		    		e.preventDefault();

					if (!objEmailAddressInput.isValid() || objEmailAddressInput.hasClass('error')) {

						// Invalid

					} else {

						// Valid

						UIkit.switcher('#request-start__steps').show(4);

					}

				});

				{# Step 5 - Phone Number #}

				var objphoneNumberInput = $('#phoneNumber');
		    	var objButtonStep5 = $('#formButtonStep5');

		    	$('body').on('input', '#phoneNumber', function(e) {

		    		if (objphoneNumberInput.hasClass('error')) {

						// Invalid

						objButtonStep5.addClass('hide--button');

					} else {

						// Valid

						objButtonStep5.removeClass('hide--button');

					}

		    	});

		    	$('body').on('click', '#formButtonStep5', function(e) {

		    		e.preventDefault();

					if (!objphoneNumberInput.isValid() || objphoneNumberInput.hasClass('error')) {

						// Invalid

					} else {

						// Valid

						UIkit.switcher('#request-start__steps').show(5);

					}

				});

				{# Step 6 - Date #}

				var objDateInput = $('#date');
		    	var objButtonStep6 = $('#formButtonStep6');

		    	objDateInput.val();

		    	$('body').on('click', '#dateLabel', function(e) {

		    		if (objDateInput.hasClass('error')) {

						// Invalid

						objButtonStep6.addClass('hide--button');

					} else {

						// Valid

						objButtonStep6.removeClass('hide--button');

					}

		    	});

		    	$('body').on('click', '#formButtonStep6', function(e) {

		    		e.preventDefault();

					if (!objDateInput.isValid() || objDateInput.hasClass('error')) {

						// Invalid

					} else {

						// Valid

						UIkit.switcher('#request-start__steps').show(6);

					}

				});

				objDateInput.on('apply.daterangepicker', function(ev, picker) {
					$(this).val(picker.startDate.format('DD/MM/YYYY'));
				});

				objDateInput.on('cancel.daterangepicker', function(ev, picker) {
					$(this).val('');
				});

				{# Step 7 - Time 

				var objTimeInput = $('#time');
		    	var objButtonStep7 = $('#formButtonStep7');

		    	$('body').on('change', '#time', function(e) {

		    		if (objTimeInput.hasClass('error')) {

						// Invalid

						objButtonStep7.addClass('hide--button');

					} else {

						// Valid

						objButtonStep7.removeClass('hide--button');

					}

		    	});

		    	$('body').on('click', '#formButtonStep7', function(e) {

		    		e.preventDefault();

					if (!objTimeInput.isValid() || objTimeInput.hasClass('error')) {

						// Invalid

					} else {

						// Valid

						UIkit.switcher('#request-start__steps').show(7);

					}

				});#}

		    {% endjs %}

		{{ form.renderClosingTag }}

	</div>

    <div class="request-start__swirl">

        <img src="{{ url('assets/img/swirl.png') }}" alt="swirl" />

    </div>

</section>