{# Form - Brochure Request #}

<section class="request-start__item target-brochure-request">

    <div class="container">

        {% set form = craft.freeform.form("brochureRequest") %}

        {{ form.renderTag({returnUrl: "thank-you-request-a-brochure"}) }}

        	{# Errors #}

        	{% if form.hasErrors %}

                {% js %}

                    UIkit.notification({
                        message: 'There was an error submitting this form.',
                        status: 'danger',
                        pos: 'top-center',
                        timeout: 5000
                    });

                {% endjs %}

            {% endif %}

        	{# Form Variables #}

        	{% set name = form.get("name") %}
        	{% set partnersName = form.get("partnersName") %}
        	{% set emailAddress = form.get("emailAddress") %}
        	{% set printedBrochure = form.get("printedBrochure") %}
        	{% set address = form.get("address") %}
        	{% set hearAboutUs = form.get("howDidYouHearAboutUs") %}

        	{# Form #} 

            <div class="request-start__item-inner">

            	{# Heading #}

                <div class="request-start__header">

                    {% set heading = form.name %}

                    {% if entry.heading|length %}

                        {% set heading = entry.heading %}

                    {% endif %}

                    <h1>{{ heading }}</h1>

                </div>

                {# Steps #}

                <ul class="uk-hidden" uk-switcher="connect: .request-start__steps--brochure; animation: uk-animation-fade;">

                    <li><a href="#">1</a></li>

                    <li><a href="#">2</a></li>

                    <li><a href="#">3</a></li>

                    <li><a href="#">4</a></li>

                    <li><a href="#">5</a></li>

                    <li><a href="#">6</a></li>

                </ul>

                <div class="request-start__steps request-start__steps--brochure uk-switcher" id="request-start__steps">

                	{# Step 1 - Name #}

                    <div>

                        <a href="{{ url(craft.app.request.getSegment(1)) }}" class="request-start__back" data-uk-icon="step-back"></a>

                        <div class="step">Step 1/5<div class="step__progress"><progress class="uk-progress" value="1" max="5"></progress></div>

                        </div>

                        <div class="request-form">

                            <div class="request-form__label-wrap">

                            	<label for="name">{{ name.label }}</label>

                            </div>

                            <div class="request-form__input-wrap">

                            	<input id="name" placeholder="Write here" name="{{ name.handle }}" value="{{ name.value }}" type="text" data-validation="required" />

                            </div>

                        </div>

                        <div class="request-start__vertical-divider"></div>

                        <div class="request-start__button request-start__button--continue">

                        	<button class="uk-button{% if not name.value|length %} uk-invisible{% endif %}" id="formButtonStep1" type="button">Continue</button>

                        </div>

                    </div>

                    {# Step 2 - Partners Name #}

                    <div>

                    	<span class="request-start__back" data-uk-icon="step-back" uk-switcher-item="previous"></span>

                        <div class="step">Step 2/5<div class="step__progress"><progress class="uk-progress" value="2" max="5"></progress></div>

                        </div>

                        <div class="request-form">

                            <div class="request-form__label-wrap">

                            	<label for="partners-name">{{ partnersName.label }}</label>

                            </div>

                            <div class="request-form__input-wrap">

                            	<input id="partnersName" placeholder="Write here" name="{{ partnersName.handle }}" value="{{ partnersName.value }}" type="text" data-validation="required" />

                            </div>

                        </div>

                        <div class="request-start__vertical-divider"></div>

                        <div class="request-start__button request-start__button--continue">

                        	<button class="uk-button{% if not partnersName.value|length %} uk-invisible{% endif %}" id="formButtonStep2" type="button">Continue</button>

                        </div>

                    </div>

                    {# Step 3 - Email Address #}

                    <div>

                    	<span class="request-start__back" data-uk-icon="step-back" uk-switcher-item="previous"></span>

                        <div class="step">Step 3/5<div class="step__progress"><progress class="uk-progress" value="3" max="5"></progress></div>

                        </div>

                        <div class="request-form">

                            <div class="request-form__label-wrap">

                            	<label for="email">{{ emailAddress.label }}</label>

                            </div>

                            <div class="request-form__input-wrap">

                            	<input id="emailAddress" placeholder="Write here" name="{{ emailAddress.handle }}" type="email" value="{{ emailAddress.valueAsString }}" data-validation="email" />

                            </div>

                        </div>

                        <div class="request-start__vertical-divider"></div>

                        <div class="request-start__button request-start__button--continue">

                            <button class="uk-button{% if not emailAddress.valueAsString|length %} uk-invisible{% endif %}" id="formButtonStep3" type="button">Continue</button>

                        </div>

                    </div>

                    {# Step 4 - Printed Brochure #}

                    <div>

                    	<span class="request-start__back" data-uk-icon="step-back" uk-switcher-item="previous"></span>

                        <div class="step">Step 4/5<div class="step__progress"><progress class="uk-progress" value="4" max="5"></progress></div>

                        </div>

                        <div class="request-form">

                            <div class="request-form__label-wrap">

                            	<label>{{ printedBrochure.label }}</label>

                            </div>

                        </div>

                        <div class="request-start__buttons">

                            <div class="request-start__button request-start__button--continue">



                            	<label class="uk-button js-check-brochure-label" uk-switcher-item="4">Yes<input class="js-check-brochure" type="radio" id="printedBrochureYes" name="{{ printedBrochure.handle }}" value="Yes" hidden="hidden"{% if printedBrochure.value == "Yes" %} selected{% endif %} /></label>

                            </div>

                            <div class="request-start__button request-start__button--continue">

                            	<label class="uk-button js-check-brochure-label" uk-switcher-item="5">No<input class="js-check-brochure" type="radio" id="printedBrochureNo" name="{{ printedBrochure.handle }}" checked="checked" value="No" hidden="hidden"{% if printedBrochure.value == "No" %} selected{% endif %} /></label>

                            </div>

                        </div>

                    </div>

                    {# Step 5 - Address #}

                    <div>

                    	<span class="request-start__back" data-uk-icon="step-back" uk-switcher-item="previous"></span>

                        <div class="request-form">

                            <div class="request-form__label-wrap">

                            	<label for="address">{{ address.label }}</label>

                            </div>

                            <div class="request-form__input-wrap">

                            	<input id="address" placeholder="Write here" name="{{ address.handle }}" type="text" value="{{ address.value }}" data-validation="required" />

                            </div>

                        </div>

                        <div class="request-start__vertical-divider"></div>

                        <div class="request-start__button request-start__button--continue">

                        	<button class="uk-button{% if not address.value|length %} uk-invisible{% endif %}" id="formButtonStep5" type="button">Continue</button>

                        </div>

                    </div>

                    {# Step 6 - Hear About Us #}

                    <div>

                    	<span class="request-start__back" data-uk-icon="step-back" uk-switcher-item="previous"></span>

                        <div class="step">Step 5/5<div class="step__progress"><progress class="uk-progress" value="5" max="5"></progress></div>

                        </div>

                        <div class="request-form">

                            <div class="request-form__label-wrap">

                            	<label>{{ hearAboutUs.label }}</label>

                            </div>

                            <div class="request-form__source">

                            	<select class="js-request-select" name="{{ hearAboutUs.handle }}" id="hearAboutUs" data-validation="required">

                            		{% for option in hearAboutUs.options %}

        								<option value="{{ option.value }}"{% if hearAboutUs.value == option.value %} selected{% endif %}>{{ option.label }}</option>

        							{% endfor %}

                                </select>

                            </div>

                        </div>

                        <div class="request-start__vertical-divider"></div>

                        <div class="request-start__button request-start__button--continue request-start__button--send-away">

                            <button class="uk-button" type="submit">Send Away</button>

                        </div>

                    </div>

                    {# MailChimp (hidden) #}

                    {{ form.get('kybQ9wdQV').render }}

                </div>

            </div>

            {# JavaScript #}

            {% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.79/jquery.form-validator.min.js") %}

            {% js %}

            	$.validate();

            	{# Step 1 - Name #}

            	var objNameInput = $('#name');
            	var objButtonStep1 = $('#formButtonStep1');

            	$('body').on('input', '#name', function(e) {

            		if (objNameInput.hasClass('error')) {

        				// Invalid

        				objButtonStep1.addClass('uk-invisible');

        			} else {

        				// Valid

        				objButtonStep1.removeClass('uk-invisible');

        			}

            	});

        		$('body').on('click', '#formButtonStep1', function(e) {

        			e.preventDefault();

        			if (!objPartnersNameInput.isValid() || objNameInput.hasClass('error')) {

        				// Invalid

        			} else {

        				// Valid

        				UIkit.switcher('#request-start__steps').show(1);

        			}

        		});
            	
            	{# Step 2 - Partners Name #}

            	var objPartnersNameInput = $('#partnersName');
            	var objButtonStep2 = $('#formButtonStep2');

            	$('body').on('input', '#partnersName', function(e) {

            		if (objPartnersNameInput.hasClass('error')) {

        				// Invalid

        				objButtonStep2.addClass('uk-invisible');

        			} else {

        				// Valid

        				objButtonStep2.removeClass('uk-invisible');

        			}

            	});

            	$('body').on('click', '#formButtonStep2', function(e) {

            		e.preventDefault();

        			if (!objPartnersNameInput.isValid() || objPartnersNameInput.hasClass('error')) {

        				// Invalid

        			} else {

        				// Valid

        				UIkit.switcher('#request-start__steps').show(2);

        			}

        		});

        		{# Step 3 - Email Address #}

        		var objEmailAddressInput = $('#emailAddress');
            	var objButtonStep3 = $('#formButtonStep3');

            	$('body').on('input', '#emailAddress', function(e) {

            		if (objEmailAddressInput.hasClass('error')) {

        				// Invalid

        				objButtonStep3.addClass('uk-invisible');

        			} else {

        				// Valid

        				objButtonStep3.removeClass('uk-invisible');

        			}

            	});

            	$('body').on('click', '#formButtonStep3', function(e) {

            		e.preventDefault();

        			if (!objEmailAddressInput.isValid() || objEmailAddressInput.hasClass('error')) {

        				// Invalid

        			} else {

        				// Valid

        				UIkit.switcher('#request-start__steps').show(3);

        			}

        		});

        		{# Step 5 - Address #}

        		var objAddressInput = $('#address');
            	var objButtonStep5 = $('#formButtonStep5');

            	$('body').on('input', '#address', function(e) {

            		if (objAddressInput.hasClass('error')) {

        				// Invalid

        				objButtonStep5.addClass('uk-invisible');

        			} else {

        				// Valid

        				objButtonStep5.removeClass('uk-invisible');

        			}

            	});

            	$('body').on('click', '#formButtonStep5', function(e) {

            		e.preventDefault();

        			if (!objAddressInput.isValid() || objAddressInput.hasClass('error')) {

        				// Invalid

        			} else {

        				// Valid

        				UIkit.switcher('#request-start__steps').show(5);

        			}

        		});

            {% endjs %}

        {{ form.renderClosingTag }}

    </div>

    <div class="request-start__swirl">

        <img src="{{ url('assets/img/swirl.png') }}" alt="swirl" />

    </div>

</section>