{# Form - Exclusive Pricing #}

{% set form = craft.freeform.form("exclusivePricing") %}

{{ form.renderTag({returnUrl: "thank-you-exclusive-pricing"}) }}

	{# Errors #}

	{% if form.hasErrors %}

		{% js %}

	        UIkit.notification({
	            message: 'There was an error submitting this form.',
	            status: 'danger',
	            pos: 'top-center',
	            timeout: 5000
	        });

	    {% endjs %}

	{% endif %}

	{# Form Variables #}

	{% set emailAddress = form.get("emailAddress") %}
	{% set name = form.get("name") %}
	{% set phoneNumber = form.get("phoneNumber") %}
	{% set button = form.get("rMBX8AGO6") %}

	{# Form Fields #}

	<div data-uk-grid="data-uk-grid">

		{# Email Address #}

		<div class="uk-width-1-3@s block--form--pricing-row">

			<input class="uk-input" type="email" name="{{ emailAddress.handle }}" placeholder="{{ emailAddress.label }}" data-validation="email" value="{{ emailAddress.valueAsString }}" />

		</div>

		{# Name #}

        <div class="uk-width-1-3@s block--form--pricing-row">

        	<input class="uk-input" type="text" name="{{ name.handle }}" placeholder="{{ name.label }}" data-validation="required" value="{{ name.value }}" />

        </div>

        {# Phone Number #}

        <div class="uk-width-1-3@s block--form--pricing-row">

        	<input class="uk-input" type="text" name="{{ phoneNumber.handle }}" placeholder="{{ phoneNumber.label }}" data-validation="required" value="{{ phoneNumber.value }}" />

        </div>

        {# Button #}

        <div class="uk-width-1-1@s uk-flex uk-flex-center">

            <button class="uk-button uk-button-primary" type="submit" name="submit">Submit</button>

        </div>

        {# MailChimp (hidden) #}

        {{ form.get('Okl7AXDay').render }}

	</div>

	{# JavaScript #}

    {% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.79/jquery.form-validator.min.js") %}

    {% js %}

    	$.validate();

    {% endjs %}

{{ form.renderClosingTag }}