.modal-prices {

    h2 {
        margin-bottom: 8px;
        .font-size(18);
        letter-spacing: 1px;
        color: #516e79;

        @media (min-width: @breakpoint-small) {
            .font-size(22);
            letter-spacing: 3.52px;
        }

        &:after {
            display: none;
        }
    }

    h3 {
        .font-size(48);
        line-height: normal;
        margin-bottom: 10px;
        color: #8c8c8c;

        @media (min-width: @breakpoint-small) {
            .font-size(34);
            margin-bottom: 40px;
        }

        @media (min-width: @breakpoint-large) {
            .font-size(56);
            margin-bottom: 80px;
        }
    }

    p {
        display: block;
        line-height: 2;
        margin-bottom: 20px;

        @media (min-width: @breakpoint-small) {
            line-height: 2.69;
            margin-bottom: 0;
        }
    }

    .details p {
        .font-size(18);
        font-weight: 600;
        line-height: 2;
        color: #4e4f4f;

        @media (min-width: @breakpoint-small) {
            .font-size(23);
            font-weight: 400;
            line-height: 2.39;
        }
    }

    .uk-modal-body {
        max-width: 1120px !important;
        width: 100%;
        padding: 20px;
        overflow-x: hidden;

        @media (min-width: @breakpoint-small) {
            padding: 40px 30px 60px 80px;
        }
    }

    .uk-modal-close-default {

        svg {
            transition-duration: @global-transition-duration;

            &:hover,
            &:active,
            &:focus {
                color: #4e4f4f;
                transition-duration: @global-transition-duration;
            }
        }

        @media (min-width: @breakpoint-small) {
            position: absolute;
            top: auto;
            right: 60px;
            bottom: 58px;
        }

        @media (min-width: @breakpoint-large) {
            bottom: 64px;
        }
    }

    &__background {
        position: absolute;
        top: 0;
        right: -1px;
        width: 50%;

        @media (min-width: @breakpoint-small) {
            position: relative;
            right: -32px;
            width: auto;
        }

        @media (min-width: @breakpoint-medium) {
            right: -53px;
        }
    }

    &__footer {
        margin-top: 20px;

        @media (min-width: @breakpoint-small) {
            margin-top: 0;
        }
    }

    &__header {
        height: 60px;
        margin-bottom: 50%;

        @media (min-width: @breakpoint-small) {
            margin-bottom: 30px;
        }

        .uk-icon[data-uk-icon="calendar"] svg {
            width: 40px;
            height: 43px;

            @media (min-width: @breakpoint-small) {
                width: 60px;
                height: 63px;
            }
        }

        .uk-icon[data-uk-icon="swirl"] svg {
            width: 60px;
            height: 60px;
            color: #dbdbdb;
        }
    }

    &__icon-swirl {
        color: #dbdbdb;
    }
}