{# Home Template #}

{% extends "_layout" %}

{% set templateName = "temp--home" %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{# Main Block Content #}

{% block content %}

	{# Banner #}

	{% include '_inc/_blocks/_banner' %}

	{# Content Blocks #}

	{% include '_inc/_content-blocks' %}    

{% endblock %}