{# Element - AddThis Share Buttons #}

{# JavaScript #}

{% do view.registerJsFile("//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5e32e97c9fc632f4") %}

{# Inline #}

{# <div class="addthis_inline_share_toolbox"></div> #}

<ul class="social social--share-this addthis_inline_share_toolbox uk-padding">
                    
    <li class="social__item">

    	<a class="addthis_button_preferred_1 social__link"><span class="social__icon" data-uk-icon="social-fb"></span></a>

    </li>

    <li class="social__item">

    	<a class="addthis_button_preferred_2 social__link"><span class="social__icon" data-uk-icon="social-twitter"></span></a>

    </li>

</ul>