{# Element - Naivation Swirl Image #}

<img src="{{ url('assets/img/swirl.png') }}" srcset="{{ url('assets/img/swirl.png') }}, {{ url('assets/img/swirl@2x.png') }} 2x" alt="Polhawn Fort Icon Logo" width="46" height="45">