{# Block - Weddings - Wedding #}

<div class="album-item">

    <h5>{{ wedding.title }}</h5>

    <p>{{ wedding.postDate|date('d.m.y') }}</p>

    {% if wedding.img|length %}

    	{% set asset = wedding.img.one() %}
    
    	<img src="{{ asset.getUrl() }}" alt="{{ wedding.title }}">

    {% endif %}

    <div class="album-item__button">

        <a class="uk-button" href="{{ wedding.getUrl() }}">Show me</a>

    </div>

</div>